/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */
/* Hide side arrows just above Tablet   */
/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 1150px) {
.floating-pagi{opacity: 0;-o-transition:1s;-ms-transition:1s;-moz-transition:1s;-webkit-transition:1s;transition:1s;}
}

/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */
/* Tablet   */
/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 768px) and (max-width: 1004px) {

/* ------------------------------------------------ */
/* Responsive Architecture */
/* ------------------------------------------------ */

#outer-container #top-container #top {width: 620px; margin: 0 auto; overflow: hidden;} 
#outer-container #container {width: 620px; margin: 0 auto;} 
#outer-container #footer-outer #footer {width: 620px; margin: 0 auto;} 

/* ------------------------------------------------ */
/* Home Featured Slideshow */
/* ------------------------------------------------ */
#featured {}
h3#h3-featured {margin-bottom: 20px;}
#featured {width: 620px; height: 330px; margin: 0 0 70px 0; padding: 0;}

#featured .nivoSlider {width:620px;height:330px;margin-bottom:10px;}
#featured .nivoSlider img {width:620px;height:330px;}
#featured .nivo-main-image {width:620px !important; height:330px !important;}
#featured .nivo-caption a {height: 240px;}
#featured .nivo-title {padding: 100px 0 30px 0; font-size: 40px; line-height: 40px;}
#featured .nivo-excerpt {padding: 0 20px; font-size: 18px; line-height: 25px;}

/* Slideshow arrows on left and right */
#featured .theme-svelte .nivo-directionNav a {padding: 145px 20px;}

/* Dot control nav */
#featured .nivo-controlNav {text-align:center;padding: 0;width: 200px;margin: -70px auto 0 auto;position: relative;height: 20px;z-index: 1000;}

/* ------------------------------------------------ */
/* Archives */
/* ------------------------------------------------ */ 
#posts {width: 640px; overflow: hidden;}

/* ------------------------------------------------ */
/* Single Posts */
/* ------------------------------------------------ */
.post-featured-image {width: 620px; height: 330px;}
.post-featured-image img {width: 620px; height: 330px;}

/* Columns  */
.post-single-left {float: left; width: 620px; margin-right: 0px;}
.post-single-right {float: left; width: 620px; }
#sidebar {width: 640px;}
.sidebar-widget {display: inline-block; width: 300px; margin-right: 20px; margin-bottom: 40px; vertical-align: top;}
.clear-widget {display: none;}

/* Comments  */
.comment-fields input#com-author,
.comment-bottom input#com-url {margin-right: 15px;}

/* ------------------------------------------------ */
/* Footer */
/* ------------------------------------------------ */
#footer-widgets {width: 640px;}
#footer-widget-right {display: none !important;}

/* End of Tablet Media Query */
}


/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */
/* Mobile */
/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 767px) {

/* ------------------------------------------------ */
/* Hidden stuff on mobile */
/* ------------------------------------------------ */

#h3-recent-articles, 
#header-logo,
#navigation,
#featured,  
#footer-newsletter,  
#footer-copyright,
#post-featured-date,
.browseNavMid,
#posts-related,
#top-search,
.powered
{display: none !important;}

/* ------------------------------------------------ */
/* Unhide stuff on mobile */
/* ------------------------------------------------ */

#mobile-only,
.post-date
{display: block !important;}

/* ------------------------------------------------ */
/* Responsive Architecture */
/* ------------------------------------------------ */

#outer-container #top-container #top {width: 300px; margin: 0 auto; overflow: visible !important; } 
#outer-container #container {width: 300px; margin: 0 auto; z-index: 100} 
#outer-container #footer-outer #footer {width: 300px; margin: 0 auto;} 
	
/* ------------------------------------------------ */
/* Mobile Header  */
/* ------------------------------------------------ */

#outer-container #top-container #top #mobile-only  {
	position: absolute;
	}
#mobile-only {
	display: block; 
	padding: 5px 10px 0 10px; 
	position: relative;
	z-index: 10000;
	}

/* Top Bar Navigation Icon */
#mobile-only #mobile-nav-button {
	float: left; 
	margin: 11px 10px 0 10px; 
	}
#mobile-only #mobile-nav-button a {
	width: 22px; 
	height: 22px; 
	display: block;
	}

/* Top Bar Navigation DropDown */	
#mobile-only #toggle-mobile-navigation { 
	width: 260px; 
	padding: 0 20px 0 20px; 
	position: absolute; 
    top: 49px;
    left: 0;
	}
#mobile-only #toggle-mobile-navigation ul {
	text-shadow: none; 
	margin: 0 0 0 0px; 
	padding: 0; 
	border-top: 1px solid #2D2D2D; 
	box-shadow: 0 -1px 0 #1A1A1A;
	}  
#mobile-only #toggle-mobile-navigation ul li:last-child {border-bottom: none; box-shadow: 0 1px 0 #1A1A1A; }	
#mobile-only #toggle-mobile-navigation ul li {
	list-style: none;
	border-bottom: 1px solid #1A1A1A; 
	box-shadow: 0 1px 0 #2D2D2D;
	padding: 0;
	margin: 0;
	}	
#mobile-only #toggle-mobile-navigation ul li a {
	text-decoration: none;  
	display: block; 
	font-size: 16px; 
	line-height: 16px;
	letter-spacing: -0.5px; 
	font-weight: bold;	
	padding: 16px 0 16px 0; 	
	}
#mobile-only #toggle-mobile-navigation ul li a:hover { 
	}  
#mobile-only #toggle-mobile-navigation ul li ul {
	margin: 0 0 0 0;
	}
#mobile-only #toggle-mobile-navigation ul li ul li a {
	padding: 16px 0 16px 20px;
	}	
#mobile-only #toggle-mobile-navigation ul li ul li:last-child {
	padding-bottom: 0; 
}

/* Top Bar Logo */
#mobile-only #mobile-logo {
	float: left; 
	width: 200px; 
	height: 40px; 
	padding-bottom: 0px; 
	margin-right: 10px;
	overflow: hidden;
	}
#mobile-only #mobile-logo a {
	width:  200px;
	height: 40px; 
	display: block; 
	}

/* Top Bar Search */
#mobile-only #mobile-search-button {
	float: right; 
	margin: 8px 0px 0 0;
	display: block; 
	}
#mobile-only #mobile-search-button a {
	width:  24px; 
	height: 24px; 
	display: block;
	}
#mobile-only #toggle-search-navigation {
	width: 200px; 
	height: 30px; 
	display: block;
	top: 10px; 
	left: 55px;
	position: absolute;
	}
#mobile-only #toggle-search-navigation #search-mobile {
	width: 200px; 
	height: 30px; 
	margin: 0;
	}
#mobile-only #toggle-search-navigation #search-mobile #search-mobile-form {
	display: block;
	width: 200px; 
	height: 30px; 
	margin: 0px;
	}
#mobile-only #toggle-search-navigation #search-mobile #search-mobile-form #search-mobile-field {
	width:200px; 
	height: 30px;  
	font-size: 14px;
	line-height: 14px; 
	background: none; 
	border-top: none;
	border-right: none;
	border-left: none;		
	letter-spacing: -0.5px; 
	}
#mobile-only #toggle-search-navigation #search-mobile #search-mobile-form #search-mobile-field:focus {
}	
#mobile-only #toggle-search-navigation #search-mobile #search-mobile-form #search-mobile-button {
	width: 30px; 
	height: 30px; 
	cursor: pointer;
	}	
	
/* ------------------------------------------------ */
/* Header  */
/* ------------------------------------------------ */
#header {padding: 20px 0 20px 0; clear:both; }  
#header-ad {margin-top: 0px;}	

/* ------------------------------------------------ */
/* Archives  */
/* ------------------------------------------------ */
#posts {width: 300px;}
#posts .post {border-bottom: 1px solid #DDD; box-shadow: 0 1px 0 #FFF;}

/* ------------------------------------------------ */
/* Single Posts */
/* ------------------------------------------------ */
.post-featured-image {width: 620px; height: 330px;}
.post-featured-image img {width: 620px; height: 330px;}

/* Columns  */
.post-single-left {width: 300px; margin-right: none; overflow: hidden;}
.post-single-right {width: 300px; }
.post-single .post-entry {width: 300px;} 

/* Big featured image  */
.post-featured-image {width: 300px; height: 160px; margin-bottom: 10px;}
.post-featured-image img {width: 300px; height: 160px;}

/* Post title   */
.post-single .post-entry h1 {font-size: 28px; line-height: 30px; font-weight: bold; letter-spacing: -2px; margin-bottom: 0px;}

/* Post meta */
.post-single .post-entry .post-meta {margin-bottom: 0px;}
.post-single .post-entry .post-meta p {font-size: 12px !important; letter-spacing: -0.2px;}

/* Post general styles  */
.post-single .post-entry p {font-size: 16px; line-height: 20px;letter-spacing: -0.2px;}
.post-single .post-entry img {max-width: 300px; height: auto; margin: 0 0 5px 0; }
.post-single .post-entry .wp-caption-text  {font-size:11px; text-align:center; margin: -5px 0 20px 0; padding:0; height: 20px; max-width: 300px;}
.post-single .post-entry blockquote, 
.post-single .post-entry blockquote p {width: 260px; min-height: 40px;   font-size: 20px; line-height: 20px; margin: 0 0 30px 5px; padding: 0 0 0 40px; border-left: none;}
.post-single .post-entry h3 {font-size: 20px; line-height: 28px; font-weight: bold;}
.post-single-details {margin-bottom: 20px}

/* Post blockquotes  */
.post-single .post-entry blockquote {quotes: "\201C" "\201D"; position: relative; margin-left: 0px; width: 180px; padding: 10px 0 0px 10px;}
.post-single .post-entry blockquote, 
.post-single .post-entry blockquote p {font-style: italic; letter-spacing: -1px;  min-height: 30px; font-size: 20px !important; line-height: 20px !important; }
.post-single .post-entry blockquote:before {content: open-quote; font-style: normal;font-size: 5.3em !important; position: absolute; left: -5px; top: 20px;
transform:scale(1,0.85); /* W3C */
-webkit-transform:scale(1,0.85); /* Safari and Chrome */
-moz-transform:scale(1,0.85); /* Firefox */
-ms-transform:scale(1,0.85); /* IE 9 */
-o-transform:scale(1,0.85); /* Opera */
}
/* Post Tags  */
.post-tags-icon {margin-right: 5px;}
.post-tags {width: 240px;}

/* Post Cats  */
.post-cat-icon {margin-right: 5px;}
.post-cat {width: 240px;}
.post-cat a {margin-bottom:30px;}

/* Comments  */
#commentform {margin-bottom: 40px;}
.comment-fields input#com-author {margin-right: 0px; margin-bottom: 20px;}
.comment-field-message textarea#com-comment {width: 258px;}
.comment-bottom input#com-url {margin-right: 0px; margin-bottom: 20px;}
	
/* Related */
.post-similar {display: none;}

/* ------------------------------------------------ */
/* Footer */
/* ------------------------------------------------ */

#footer-widgets {width: 300px;}
#footer-widget-right {display: block !important;}
#footer-widgets .footer-widget {margin-bottom: 40px;}
#footer-copyright {display: none; }
#footer-credit {width: 300px; text-align: center;  display: block; }

/* End of Mobile Media Query */
}