/*
Theme Name: Svelte
Theme URI: http://themecobra.com/themes/svelte
Author: ThemeCobra
Author URI: http://themecobra.com
Version: 1.0.2
License URI: http://www.gnu.org/copyleft/gpl.html
Description: Svelte is a handcrafted minimal theme by ThemeCobra.
Tags: custom-menu, featured-images, theme-options
*/

/* 

Svelte Stylesheet contents:

00. Style reset
01. Fonts
02. Color Scheme
03. Background Images
04. CSS3 Fades
05. Global Styles
06. Responsive Architecture
07. Top Bar
08. Header
09. Home page only
10. Post Thumbnails found on home, single and archives
11. Pagination for home and archives
12. Single Posts
13. Footer
14. Dropdown navigation
15. Comments
16. Home Page Featured Slider
17. Custom Widgets
18. Misc

*/

/* ------------------------------------------------ */
/* 00. Yahoo Style Reset Code licensed under the BSD License: http://developer.yahoo.com/yui/license.html version: 2.8.1 */
/* ------------------------------------------------ */
html{color:#000;background: #FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}

/* ------------------------------------------------ */
/* 01. Fonts  */
/* ------------------------------------------------ */

body,h1, h3#h3-social 
{font-family: grotesque-regular, Arial,sans-serif;}

@font-face{
font-family: 'grotesque-medium';
src: url("./fonts/Geogrotesque-Medium.otf");
}

@font-face {
font-family: 'grotesque-regular';
src: url("./fonts/Geogtq-Rg.otf");
}

@font-face {
font-family: 'grotesque-light';
src: url("./fonts/Geogtq-Lg.otf");
}


#posts .post-excerpt, 
#posts .post-excerpt a,
.post-single .post-entry .post-meta,
.post-single .post-entry,
.post-single .post-entry p,
.post-author-info p,
.footer-widget, 
.footer-widget p
#sidebar .sidebar-theme .sidebar-theme-info,
.nivo-excerpt a,
.comment-content-body,
#commentform,
#featured .nivo-excerpt,
#navigation li,
.sidebar-widget,
.post-author-info-bio,
.post-author-info-link,
.comment-content-date
{font-family: "Helvetica Neue",sans-serif; font-weight: 300;}


blockquote, 
.post-single .post-entry blockquote p 
{font-family: "Palatino Linotype", Book Antiqua3, Palatino, Arial;}

.post-single .post-entry blockquote:before 
{font-family: grotesque-medium, "Helvetica Neue",sans-serif; font-weight: bold;}

#navigation  ul li a,
#top-search input#search-form-field,
#top-search input#search-form-field:focus,
.sidebar-widget ul 
{font-family: grotesque-medium, Arial, sans-serif !important; font-weight: 100; font-size: 14px; letter-spacing: 0px;}

/* ------------------------------------------------ */
/* 02. Color Scheme  */
/* ------------------------------------------------ */

/* THEME CUSTOMIZER STYLES START */	
/* Numbers in brackets reference priority in customizer & order section */

/* Link Color (1) */
#posts .post a:hover .post-title h3,
.post-single .post-entry a:hover,
.post-single .post-entry p a:hover,
#browsing a:hover,
#navigation li a:hover,
#navigation li ul li a:hover,
.post-single .post-entry .post-meta .post-meta-author a,
.sidebar-widget a,
.sidebar-widget p a,
.post-author-info-link a,
.sidebar-widget ul li,
.sidebar-widget ul li a:hover,
.post-single .post-entry .tags a:hover,
.post-single .post-entry .post-cat a:hover,
.footer-widget a:hover, 
.footer-widget p a:hover, 
#commentform p a,
#mobile-only #toggle-mobile-navigation ul li a:hover
{color: #127bff;}

/* Link Border Color (1) */		
#featured .theme-svelte .nivo-controlNav a:hover,
.sidebar-widget a, 
.sidebar-widget p a,
.sidebar-widget a:hover, 
.sidebar-widget p a:hover,
.post-author-info-link a,
.post-single .post-entry a, 
.post-single .post-entry p a,
.post-single .post-entry .tags a:hover,
.post-single .post-entry .tags a:hover:before,
.post-single .post-entry .tags a:hover:after,        
.post-single .post-entry .post-cat a:hover,
.footer-widget a, 
.footer-widget p a,
#top-search input#search-form-field:focus,
.comment-bottom input#com-submit:hover,
#mobile-only #toggle-search-navigation #search-mobile #search-mobile-form #search-mobile-field:focus
{border-color: #127bff;}

/* Link Background Color (1) */		    
.comment-bottom input#com-submit:hover
{background-color: #127bff;}

/* Text Select (1) */
::selection {background: #127bff; color: #FFFFFF;}
::-moz-selection {background: #127bff; color: #FFFFFF;}

/* SVG Highlight Color (1) */
.svg-plus,
.svg-pagi:hover,
.svg-social:hover,
.theme-svelte a.nivo-prevNav:hover .svg-pagi-slides,
.theme-svelte a.nivo-nextNav:hover .svg-pagi-slides
{fill: #127bff;}

/* Universal Text Color (2) */
#featured .nivo-excerpt,		
#posts .post .post-excerpt, 
#posts  .post.post-excerpt a,
.post-single .post-entry .post-meta,
.post-single .post-entry, 
.post-single .post-entry p,
.sidebar-widget,
.sidebar-widget p,
#footer-widgets .footer-widget-title,
#footer-bottom,
#footer-bottom a,
.tweet-time a,
.post-author-info-bio,
.post-author-info-bio a,
.comment-content-body, 
.comment-content-body p,
#top-search input#search-form-field,
.footer-widget-title,
#mobile-only #toggle-search-navigation #search-mobile #search-mobile-form #search-mobile-field
{color: #7A7A7A;}

/* Universal Text Color - Border Color (2) */		
#featured .theme-svelte .nivo-controlNav a,
#top-search input#search-form-field,
#mobile-only #toggle-search-navigation #search-mobile #search-mobile-form #search-mobile-field	
{border-color: #7A7A7A;}

/* Universal Text Color - SVG Fill (2) */
.svg-search,    
.svg-mobile-icon
{fill: #7A7A7A;}

/* Title Text Color (3) */
#featured .nivo-title,
#posts .post .post-title h3, 
#posts .post .post-title h3 a,
#browsing .current,       
.post-single .post-entry h1,
.post-single .post-entry .post-meta .post-meta-date,
.post-single .post-entry blockquote, 
.post-single .post-entry blockquote p,
.sidebar-widget ul li a,
.sidebar-widget ul li:hover,
.post-single .post-entry a, 
.post-single .post-entry p a,
.post-author-info-name,
.comment-content-name,
.comment-content-name a
{color: #414141;}

/* Title Text Color - Background color (3) */ 
#featured .theme-svelte .nivo-controlNav a.active
{background-color: #414141;}		   

/* Title Text Color - Border color (3) */     
#featured .theme-svelte .nivo-controlNav a.active		
{border-color: #414141;}

/* Sub Text & Icon Color (4) */
h3.separator,
h3.separator a,
h3#post-single-category,
h3#post-single-category a,    
#posts .post .post-category, 
#posts .post .post-category a,   
.post-single .post-entry blockquote:before,     
#browsing, 
#browsing a, 
.post-single .post-entry .tags a,
.post-single .post-entry .post-cat a,
.sidebar-widget-title,
.footer-widget, 
.footer-widget p,
#twitter-feed a,
#archive-count,
.comment-fields input#com-author,
.comment-fields input#com-email,
.comment-field-message textarea#com-comment,
.comment-bottom input#com-url,
.comment-bottom input#com-submit,
.comment-content-date a,
.sidebar-widget-social
{color: #C9C9C9;}

/* Sub Text & Icon Color - Background Color (4) */
.comment-bottom input#com-submit 
{background-color: #C9C9C9;}

/* Sub Text & Icon Color - Border Color (4) */
.post-single .post-entry .tags a,
.post-single .post-entry .tags a:before,
.post-single .post-entry .tags a:after,        
.post-single .post-entry .post-cat a,
.comment-bottom input#com-submit,
h3.separator,
h3#post-single-category,
.sidebar-widget-title,
#archive-header #archive-count,
.commentlist li.comment
{border-color: #C9C9C9 !important;}

/* Sub Text & Icon Color - SVG Fill (4) */
.svg-pagi,
.svg-social,    
.svg-tags,
.svg-cat,
.theme-svelte a.nivo-prevNav .svg-pagi-slides,
.theme-svelte a.nivo-nextNav .svg-pagi-slides
{fill: #C9C9C9;}

/* Header & Footer Link Color (5) */
#navigation li a,
#top-search input#search-form-field:focus,
#footer-bottom a:hover,
.footer-widget a, 
.footer-widget p a,
#mobile-only #toggle-search-navigation #search-mobile #search-mobile-form #search-mobile-field:focus,
#mobile-only #toggle-mobile-navigation ul li a
{color: #CCCCCC;}

/* Universal Text Shadow Color - Text (6) */
.comment-bottom input#com-submit
{color: #FFFFFF;}

/* Universal Text Shadow Color (6) */
#outer-container #top-container #content,
.post-single,
#posts .post
{text-shadow: 0 1px 0 #FFF;}

/* Universal Text Shadow Color - Separator Line Shadow (6) */
h3.separator,
h3#post-single-category,
.sidebar-widget-title,
#archive-header #archive-count,
.commentlist li.comment  
{box-shadow: 0 1px 0 #FFF;}

/* THEME CUSTOMIZER STYLES END */	

/* Misc */
#navigation li ul li
{border-bottom: 1px solid #1A1A1A; box-shadow: 0 1px 0 #2D2D2D;}

/* Borders on main containers */
#outer-container #top-container {box-shadow: 0 1px 0 #FFFFFF; border-bottom: 1px solid #000000;}
#footer-outer  {border-top: 1px solid #000000; box-shadow: 0 -1px 0 #FFFFFF;}
#footer-bottom {border-top: 1px solid #2d2d2d; box-shadow: 0 -1px 0 #1a1a1a;}

/* Dotted Borders */
.post-single .post-entry p a, 
.post-single .post-entry ul a,
#top-search input#search-form-field,
#mobile-only #toggle-search-navigation #search-mobile #search-mobile-form #search-mobile-field
{border-bottom-width: 1px; border-bottom-style: dotted;}

/* Solid Borders */
.post-single .post-entry p a:hover, 
.post-single  .post-entry ul a:hover,
.comment-bottom input#com-submit:hover,
.comment-bottom input#com-submit,
h3.separator,
h3#post-single-category,
.sidebar-widget-title,
#archive-header #archive-count,
.commentlist li.comment
{border-bottom-width: 1px; border-bottom-style: solid;}

/* ------------------------------------------------ */
/* 03. Background Images */
/* ------------------------------------------------ */

/* Light Texture as browser background */
#outer-container 
{background: #f8f8f8 url('./img/bg.jpg'); background-repeat: repeat;}

/* Dark Texture in Header and Footer */
#top-container, 
#footer-outer, 
#navigation li ul, 
#navigation li ul:before,
#toggle-mobile-navigation,
#navigation li ul:before, 
#mobile-only #toggle-search-navigation
{background: #222222 url('./img/bg-dark.jpg'); background-repeat: repeat;}

/* ------------------------------------------------ */
/* 04. CSS3 Fades */
/* ------------------------------------------------ */

#posts .post .post-plus,
#posts .post .post-thumb img,
#posts .post .post-title h3,
#featured img,
#featured .nivo-caption,
#featured .nivo-controlNav,
#featured .theme-svelte a.nivo-prevNav .svg-pagi-slides,
#featured .theme-svelte a.nivo-nextNav .svg-pagi-slides,
#featured .theme-svelte .nivo-directionNav a,
.svg-pagi,
.svg-social,
.comment-bottom input#com-submit { 
-o-transition:1s;
-ms-transition:1s;
-moz-transition:1s;
-webkit-transition:1s;
transition:1s;
}

#posts .post a:hover .post-plus,
#posts .post a:hover .post-thumb img,
#posts .post a:hover .post-title h3,
#featured:hover img,
#featured:hover .nivo-caption,
#featured:hover .nivo-controlNav,
#featured .theme-svelte a.nivo-prevNav:hover .svg-pagi-slides,
#featured .theme-svelte a.nivo-nextNav:hover .svg-pagi-slides,
#featured .theme-svelte:hover .nivo-directionNav a,
.svg-pagi:hover,
.svg-social:hover,
.comment-bottom input#com-submit:hover {
-o-transition:.1s;
-ms-transition:.1s;
-moz-transition:.1s;
-webkit-transition:.1s;
transition:.1s;
}

/* ------------------------------------------------ */
/* 05. Global Styles */
/* ------------------------------------------------ */

html, ul, li {margin: 0px;padding: 0px;}
body {padding: 0;margin: 0;}
a {text-decoration: none;}
a:hover {text-decoration: none;}
a img {border:none; vertical-align:top; }
p {margin-bottom: 20px}
b, strong {font-weight: bold;}
.clear {clear:both;}
.relative {position: relative}
h1 {}
h2 {}
h3 {}
blockquote {}
ol, ul {margin: 0 0 20px 25px;}
ol li {list-style-type: decimal; padding: 0 0 10px 0;}
ul li {list-style-type: circle; padding: 0 0 5px 5px;}
i, em {font-style: italic}
hr {border: none; border-bottom: 1px dotted #cfd2dc; margin: 20px 0; }
del {text-decoration: line-through;}
img.alignright {float: right; padding: 0 0 20px 30px;}
img.alignleft {float: left; padding: 0 30px 20px 0;}
.post-single .entry .aligncenter {clear: both;display: block;margin-left: auto;margin-right: auto;}
form:focus {display: none;}
*:focus, textarea, input  {outline: none;-webkit-appearance: none;}  

/* Headings */
h3.separator, h3#post-single-category,#archive-header #archive-count 
{font-weight: normal; text-align: left; font-size: 11px !important; line-height: 11px; text-transform: uppercase; padding: 0 0 5px 0; clear: both; margin: 0;}

/* ------------------------------------------------ */
/* 06. Responsive Architecture */
/* ------------------------------------------------ */

#outer-container {width: 100%;} /* 100% width browser background */
#outer-container #top-container {width: 100%; height: 40px; overflow: hidden;}  /* 100% width strip at top of site */
#outer-container #top-container #top {width: 940px; margin: 0 auto; overflow: hidden;} /* fixed width area at top of site */
#outer-container #container {width: 940px; margin: 0 auto;} /* fixed width main site area */
#outer-container #container #header {} /* header area with logo and advertisement on tablet and desktop, hidden for mobile */
#outer-container #container #content {} /* main content */
#outer-container #footer-outer {} /* 100% width  strip in footer area */
#outer-container #footer-outer #footer {width: 940px; margin: 0 auto;} /* fixed width main footer area */

/* ------------------------------------------------ */
/* 07. Top Bar */
/* ------------------------------------------------ */

#outer-container #top-container #top #top-navigation {float: left;}
#outer-container #top-container #top #top-search {float: right;}

/* Navigation - see very bottom of this stylesheet */  	
	
/* Search */    
#outer-container #top-container	#top #top-search {margin-top: 8px; width: 220px; display: block; height: 32px !important; overflow: hidden; vertical-align: top;  background: none;}
#top-search #top-search-mglass {width: 16px; height: 20px; display: inline-block; margin: 0 5px 0 0; vertical-align: bottom;}
#top-search #top-search-form {width: 190px; height: 22px; display: inline-block;}
#top-search input#search-form-field {width: 190px; vertical-align: top; font-size: 14px; line-height: 14px; outline: none; height: 20px; background: none; padding: 0 0 4px 0; border-right: none; border-left: none; border-top: none;}
#top-search input#search-form-field:focus  {}
	
/* ------------------------------------------------ */
/* 08. Header */
/* ------------------------------------------------ */

#header {padding: 0 0 0px 0; clear:both; }  
#header-logo {float: left; padding: 0; height: 80px; position:relative; margin-top: 10px;}
#header-logo img {max-height: 80px; width: auto; position: absolute; top:0; bottom:0; margin-top: 10px; margin-bottom:15px;}
#header-ad {float: right; padding: 0; width: 300px; height: 121px; position:relative;}
#header-ad img {max-height: 121px; width: auto; position: absolute; top:0; bottom:0; margin:auto;}
#header-ad .header-widget {}
#header-ad .header-widget-title {display: none;}

/* ------------------------------------------------ */
/* 09. Home page only */
/* ------------------------------------------------ */

/* Featured slideshow - see bottom of stylesheet for more */
h3#h3-featured {margin-bottom: 20px;}
#featured {height: 500px; width: 940px; display: block; margin: 0 0 75px 0; padding: 0;}

/* Home social icons */
#social-icons {display: block; width: 100%; text-align: center;  margin: 9px 0 28px 0; padding: 0}
#social-icons h3.separator {margin-bottom: 40px;}    
#social-icons a {height: 40px; width: 40px; display:inline-block; margin: 0 15px 15px 0}

/* ------------------------------------------------ */
/* 10. Post Thumbnails found on home, single and archives  */
/* ------------------------------------------------ */

#posts img {border: 0; width: 300px !important; height: 190px !important;}

#posts {width: 960px; overflow: hidden; font-size: 12px; line-height: 16px; }
#posts .post {width: 300px;  display:inline-block; margin: 0; padding: 20px 0 20px 0; vertical-align: top;  box-shadow: 0 1px 0 #FFF; min-height: 250px; overflow: hidden; border-bottom: none;  box-shadow: none; display: inline-block; margin: 0 17px 0 0; vertical-align: top; position: relative;}
#posts .post a {display: block;}
#posts .post .post-thumb {display: block; background: #FFF; width: 300px; height: 190px; padding: 0; position:relative; margin: 0 0 0 0; z-index: 10;}
#posts .post .post-thumb img {background: #FFF; opacity: 1}
#posts .post a:hover .post-thumb img {background: #FFF; opacity: 0.2}
#posts .post .post-plus {display: block; width: 300px; height: 190px; z-index: 100; position: absolute;top: 20px; opacity: 0; text-align: center; }
#posts .post .post-plus svg {margin-top: 80px;}
#posts .post a:hover .post-plus {opacity: 1;}
#posts .post .post-category {display: block; padding-top: 13px;}
#posts .post .post-category, 
#posts .post .post-category a { font-size: 9.7px; line-height: 10px; letter-spacing: 0px; text-decoration: none; text-transform: uppercase;}
#posts .post .post-category a:hover { text-decoration: none;}
#posts .post .post-title h3, 
#posts .post .post-title h3 a {font-size: 28px; line-height: 30px; font-weight: bold; letter-spacing: -1px;  margin: 5px 0 5px 0; }   
#posts .post .post-title h3 a:hover {}
#posts .post .post-excerpt, 
#posts  .post.post-excerpt a {font-size: 16px; line-height: 20px; letter-spacing: -0.5px;  margin: 10px 0 5px 0; }          

/* ------------------------------------------------ */
/* 11. Pagination for home and archives */
/* ------------------------------------------------ */

#browsing, #browsing a, #browsing .current {font-size: 21px; font-weight: bold;}
#browsing {padding: 17px 0;}
#browsing a {}
#browsing a:hover {}
#browsing .browseNav {width: 100%;}
#browsing .browseNavLeft {float: left; width: 20%;text-align: left; }
#browsing .browseNavMid {float: left;width: 60%; text-align: center; }
#browsing .browseNavMid a, #browsing .current {display: inline-block; margin: 0; width: 20px; text-align: center; padding:  12px 5px;}
#browsing .browseNavRight {float: right; width: 20%; text-align: right;}
#browsing .browseNavRight a, #browsing .browseNavLeft a {display: inline-block; width: 40px; height: 40px; padding: 0; margin: 0 10px !important;}
#browsing .browseNavRight a {padding-right: 20px;}
#browsing .browseNavRight a:hover{padding-right: 20px;}

/* ------------------------------------------------ */
/* 12. Single Posts  */
/* ------------------------------------------------ */

.post-single {padding: 0;}

/* Categories above featured image  */
h3#post-single-category {margin-bottom: 20px;}

/* Big featured image  */
.post-featured-image {width: 940px; height: 500px; margin-bottom: 40px;} 
.post-featured-image img {width: 940px; height: 500px;}

/* Post date only revealed on mobile  */
.post-date {display: none;}

/* Columns  */
.post-single-left {float: left; width: 620px; margin-right: 20px;}
.post-single-right {float: left; width: 300px; }
.post-single .post-entry {width: 620px;} 

/* Post title  */	
.post-single .post-entry h1 {font-size: 55.7px; line-height: 50px; letter-spacing: -2px; margin-bottom: 8px; font-weight: bold;}  

/* Post meta */
.post-single .post-entry .post-meta {font-size: 18px; letter-spacing: -0.2px; margin-bottom: 28px;}
.post-single .post-entry .post-meta .post-meta-author {text-transform: capitalize;}
.post-single .post-entry .post-meta .post-meta-author a {}
.post-single .post-entry .post-meta .post-meta-date {}

/* Post general styles  */
.post-single .post-entry, 
.post-single .post-entry p {font-size: 18px !important; line-height: 25px !important; letter-spacing: -0.2px;}  
.post-single .post-entry p {margin: 0 0 25px 0;}
.post-single .post-entry img {max-width: 620px; height: auto; }

/* Post blockquotes  */
.post-single .post-entry blockquote {quotes: "\201C" "\201D"; position: relative; margin-left: -30px; width: 550px; padding: 10px 0 0px 100px;}
.post-single .post-entry blockquote, 
.post-single .post-entry blockquote p {font-style: italic; letter-spacing: -1px;  min-height: 40px; font-size: 30px !important; line-height: 30px !important; }
.post-single .post-entry blockquote:before {content: open-quote; font-style: normal;font-size: 7.3em !important; position: absolute; left: -10px; top: 50px;transform:scale(1,0.85); /* W3C */-webkit-transform:scale(1,0.85); /* Safari and Chrome */-moz-transform:scale(1,0.85); /* Firefox */-ms-transform:scale(1,0.85); /* IE 9 */-o-transform:scale(1,0.85); /* Opera */}	

/* Tags */
.post-tags-holder{margin:35px 0 0}
.post-tags-icon{width:28px;display:inline-block;vertical-align:top;margin-right:17px}
.post-tags{width:500px;display:inline-block;min-height:50px;padding-left:0;margin:0 0 14px;clear:both}
.tags{margin:0;padding:0;right:24px;bottom:-12px;list-style:none;text-transform:capitalize}
.tags li,.tags a{float:left;position:relative;height:24px;line-height:26px;font-size:15px;list-style:none;margin-bottom:11px}
.tags a{margin-left:20px;padding:0 10px 4px; text-decoration:none;-moz-border-radius-bottomright:6px;-webkit-border-bottom-right-radius:6px;border-bottom-right-radius:6px;-moz-border-radius-topright:6px;-webkit-border-top-right-radius:6px;border-top-right-radius:6px;border-width:1px;border-style:solid!important;border-left:0!important}
/* Tag Left Point */
.tags a:before{content:"";float:left;position:absolute;top:3px;left:-11px;width:20px;height:21px;border-style:solid;border-width:0 0 1px 1px;transform:rotate(45deg);-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg)}
/* Tag Hole */
.tags a:after{content:"";float:left;position:absolute;top:11px;left:-4px;width:4px;height:4px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;border-width:1px;border-style:solid}

/* Categories */
.post-cat-icon{width:28px;display:inline-block;vertical-align:top;margin-right:25px}
.post-cat{display:inline-block;width:500px;min-height:40px;margin:0 0 25px;clear:both}
.post-cat a{border-width:1px;border-style:solid;padding:5px 10px; margin-right:5px;line-height:30px;font-size:15px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px}
	
/* Author */
.post-author {}
.post-author h3.separator {margin-bottom: 20px;}	
.post-author-avatar {float: left; width: 100px;margin-right: 20px;}
.post-author-avatar img {border-radius: 50px; -webkit-border-radius: 50px; -moz-border-radius: 50px;}
.post-author-info {float: left; width: 500px; margin-bottom: 35px;}
.post-author-info-name {font-size: 28px; line-height: 30px; letter-spacing: -0.5px; font-weight: bold; margin-bottom: 5px; margin-top: -4px;}
.post-author-info-bio { font-size: 16px; line-height: 20px; letter-spacing: -0.5px; margin-bottom: 5px;}
.post-author-info-bio a { }
.post-author-info-link {}
.post-author-info-link a {font-size: 18px; line-height: 20px;border-bottom-width: 1px; border-bottom-style: dotted;} 
.post-author-info-link a:hover {border-bottom-style: solid;} 

/* Floating pagination: arrows on sides of browser */
.floating-pagi a {display: block;position: fixed;top: 50%; width: 60px; height: 60px; outline: none;}
.floating-pagi-prev a {left: 30px; }
.floating-pagi-next a {right: 30px;}

/* Sidebar & Widgets */
#sidebar {margin: 0; padding: 0;}
.sidebar-widget-title {display: block; font-weight: normal; text-align: left; font-size: 11px; line-height: 11px; text-transform: uppercase; padding: 0 0 5px 0; margin: 0 0 20px 0; }
.sidebar-widget {}
.sidebar-widget p {margin-bottom: 20px;}
.sidebar-widget,
.sidebar-widget p {font-size: 16px; line-height: 20px; letter-spacing: -0.2px;}
.sidebar-widget img {max-width: 300px; height: auto;}
.sidebar-widget ul {width: 300px; display: block; margin-bottom: 20px;}
.sidebar-widget ul a {}
.sidebar-widget ul li {width: 140px; margin: 0 0 3px 0;  padding: 0; list-style-type: disc; float: left; }
.sidebar-widget ul li a {border: none;  padding: 0; margin: 0; width: 140px;  display: block;}
.sidebar-widget ul li:hover, .sidebar-widget ul li a:hover {border: none;}
.sidebar-widget a, .sidebar-widget p a {border-bottom-width: 1px; border-bottom-style: dotted;}
.sidebar-widget a:hover, .sidebar-widget p a:hover {border-bottom-style: solid;}
.clear-widget {clear: both; display: block; width: 300px; height: 30px;}

/* ------------------------------------------------ */
/* 13. Footer  */
/* ------------------------------------------------ */

#footer-outer {margin-top: 20px;}
#footer-outer #footer {}
	
#footer-widgets {padding: 40px 0; width: 960px;}	
#footer-widgets .footer-widget {float: left; width: 300px; display: block; min-height: 100px; padding: 0; margin: 0 20px 0 0;}
#footer-widgets .footer-widget #footer-widget-right {margin-right: none !important;}
#footer-widgets .footer-widget-title {font-family: grotesque-medium; font-size: 14px; line-height: 14px; font-weight: bold; text-transform: uppercase; letter-spacing: -0.3px; display: block; margin-bottom: 16px; padding: 0;}
.footer-widget, .footer-widget p {font-family: Arial; font-size: 14px; line-height: 20px; letter-spacing: -0.2px;}

#footer-bottom {clear: both; text-transform: uppercase; font-size: 11px; line-height: 11px; padding: 30px 0; }
#footer-bottom a {font-weight: bold;}
#footer-bottom a:hover {}
#footer-copyright {float: left;}  
#footer-credit {float: right; text-align: right;}

/* ------------------------------------------------ */
/* 14. Dropdown navigation  */
/* ------------------------------------------------ */	

#navigation  {margin: 10px 0 0 0; padding: 0;  position: absolute;}

/* Main Top Nav */
#navigation ul {margin-left: 0px; }
#navigation li {position: relative;margin: 0;padding: 0; list-style: none; display:inline-block; font-size: 14px; letter-spacing: -0.5px;}
#navigation li a {display: block;  margin: 0 25px 0 0;padding: 0px 0 40px 0; font-weight:bold; }
#navigation li a:hover {border: none;}

/* Tier 1 styles */
#navigation li ul{z-index:9999;position:absolute;height:auto;width:120px;margin:0;padding:0 10px 15px 15px;-moz-box-shadow:0 0 3px 3px rgba(68,71,80,.1);-webkit-box-shadow:0 0 3px 3px rgba(68,71,80,.1);box-shadow:0 0 10px 2px rgba(68,71,80,.1);top:-99999px;left:0;opacity:0;-webkit-transition:opacity .5s ease-in-out;-moz-transition:opacity .5s ease-in-out;-o-transition:opacity .5s ease-in-out}
#navigation li ul:before {content:"";float:left;position:absolute;top:-8px;left:17px;width:16px;height:16px;-moz-box-shadow:0 1px 1px 0 rgba(68,71,80,.1),0 -1px 1px 0 rgba(68,71,80,.1);-webkit-box-shadow:0 1px 1px 0 rgba(68,71,80,.1),0 -1px 1px 0 rgba(68,71,80,.1);box-shadow:0 -3px 3px -2px rgba(68,71,80,.1),-3px 0 3px -2px rgba(68,71,80,.1);z-index:10;transform:rotate(45deg);-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg)}

#navigation ul li:hover>ul {opacity: 1; position:absolute; top:99%; left:-10px;}
#navigation li ul a {width: 110px; display: block;}
#navigation li ul li {float:left; }
#navigation li ul li a { text-transform: none; margin: 0; padding: 12px 0 12px 3px; text-decoration: none; text-align: left; font-size: 14px;}
#navigation li ul li a:hover{}
#navigation ul li ul li:last-child {box-shadow: none; border-bottom: none; }
#navigation ul li ul li:last-child a {padding-bottom: 0;}

/* ------------------------------- */
/* 15. Comments */
/* ------------------------------- */

.post-comments {margin-top: 20px;}
#comments {clear: both; border: none;  margin: 10px 0 10px 0;  padding: 0 0 0 0;}
#comments .navigation {padding: 0 0 18px 0;}
#comments ul li, #comments ol li {list-style: none;}

/* Comments listed */
.commentlist {list-style: none;	margin: 0; }
.commentlist li.comment {margin: 10px 0 10px 0; padding: 10px 0; position: relative;}
.commentlist li:last-child {margin-bottom: 0; border-bottom: none; box-shadow: none }

/* Actual comment */
.comment-content {}
.comment-content-name {float: left; font-size: 22px; line-height: 22px;}
.comment-content-date {float: right;}
.comment-content-date a {font-size: 14px; line-height: 14px;}
.comment-content-body {padding: 10px 0 0 0 }
.comment-content-body, 
.comment-content-body p {font-size: 16px; line-height: 20px; margin: 0 0 10px 0;}
.commentlist ol {}

/* Floats under the individual comment */
.comment-author-date {}

/* Comment Author */
.comment-author {float: left; display: block; font-size: 22.3px; font-weight: bold; padding:  0; margin: 0; text-transform: capitalize;}

/* Comment Date */
.comment-meta {float: right; display: block; font-size: 14px; margin:  5px 0 0 0; padding: 0;}
.comment-meta a {font-size: 14px;}

/* If you want every alternative comment a different color, not so rad with threaded comments we think */
.commentlist .even {}
.commentlist .bypostauthor .comment-body {}

/* Threaded comments reply button */
.commentlist .children .reply {padding: 10px 0 0 70px; display: none;}
.reply {font-size: 10px; padding: 10px 0 0 20px; display: none;}

/* Styles for the threaded comment replies that get indented */
.commentlist .children {list-style: none;margin: 0;padding: 0;}
.commentlist .children .children {border: none;padding: 0 0 0 50px;}
.commentlist .children li {border: none;margin: 0;}
.nopassword,.nocomments {display: none;}

/* Pingbacks */
#comments .pingback {	}
.commentlist li.comment+li.pingback {}
#comments .pingback p {display: block;font-size: 12px;line-height: 18px;margin: 0;  padding: 5px; }
#comments .pingback p a {}
#comments .pingback p a:hover {}
#comments .pingback .url {font-size: 13px;}

/* Comments form and replies */
#respond h3.separator {margin-top: 10px; margin-bottom: 20px;}
#commentform {margin-bottom: 20px;}
.comment-fields {margin-bottom: 20px;}
.comment-fields input#com-author {width: 258px; margin-right: 20px;}
.comment-fields input#com-email {width: 258px;}
.comment-field-message {margin-bottom: 20px;}
.comment-field-message textarea#com-comment {width: 578px;}
.comment-bottom input#com-url {width: 258px; margin-right: 20px;}

.comment-fields input#com-author,
.comment-fields input#com-email,
.comment-field-message textarea#com-comment,
.comment-bottom input#com-url,
.comment-bottom input#com-submit {border: 1px solid #DDD; box-shadow: 0 1px 0 #FFF;background-color: rgba(170,170,170,0.1);-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;padding: 15px 19px;text-shadow: 0 1px 0 #FFF;}

.comment-bottom input#com-submit {width: 298px;text-align: center;color: #FFF !important;text-shadow: none;font-weight: bold;}
.comment-bottom input#com-submit:hover {cursor: pointer;} 
#commentform input:focus, #commentform textarea:focus{background: #FFF !important; border-color: #1d8dff !important;}	

/* ------------------------------- */
/* 16. Home Page Featured Slider */
/* ------------------------------- */

/* Default slider stuff */
#featured .nivoSlider{position:relative;width:940px;height:500px;overflow:hidden;margin-bottom:10px}
#featured .nivoSlider img{position:absolute;top:0;left:0;width:940px;height:500px;display:none}
#featured .nivoSlider a{border:0;display:block}
#featured .nivo-main-image {display:block!important;position:relative!important;width:940px !important; height:500px !important;}
#featured .nivoSlider a.nivo-imageLink {position:absolute;top:0;left:0;width:100%;height:100%;border:0;padding:0;margin:0;z-index:6;display:none}
#featured .nivo-slice{display:block;position:absolute;z-index:5;height:100%;top:0}
#featured .nivo-box{display:block;position:absolute;z-index:5;overflow:hidden}
#featured .nivo-box img{display:block}

/* Caption */
#featured .nivo-caption {position:absolute;left:0;bottom:0;width:100%;height:100%;text-align:center;z-index:8;padding:0;opacity:.8;overflow:hidden;display:none;background:#fff}
#featured .nivo-caption a{width:80%;height:420px;display:block;margin:0 auto}
#featured .nivo-title {padding: 200px 0 30px 0; font-size: 40px; line-height: 40px; font-weight: bold; letter-spacing: -1px;}
#featured .nivo-excerpt {padding: 0 50px; font-size: 18px; line-height: 25px;}
#featured .nivo-html-caption {display:none;}

/* Opacity Changes */
#featured img {background: #FFF;opacity: 1;}
#featured:hover img {opacity: 1;}
#featured .nivo-caption {opacity: 0;}
#featured:hover .nivo-caption {opacity: 0.8;}
#featured .nivo-controlNav {opacity: 0;}
#featured:hover .nivo-controlNav {opacity: 1;}

/* Slideshow arrows on left and right */
#featured .theme-svelte .nivo-directionNav a { position:absolute;top:0;z-index:9;cursor:pointer;display:block;width:40px;height:40px;padding: 230px 20px;border:0;opacity: 0;}
#featured .theme-svelte:hover .nivo-directionNav a {opacity: 1;}
#featured .theme-svelte a.nivo-nextNav {right:0px; right:0px;}
#featured .theme-svelte a.nivo-prevNav {left:0px; left:0px;}

/* Dot control nav */
#featured .nivo-controlNav{text-align:center;padding:0;width:200px;margin:-79px auto 0 auto;position:relative;height:20px;z-index:1000}
#featured .nivo-controlNav a{cursor:pointer}
#featured .nivo-controlNav a.active{font-weight:700}
#featured .theme-svelte .nivo-controlNav{text-align:center;padding:20px 0}
#featured .theme-svelte .nivo-controlNav a {display:inline-block;width:6px;height:6px;background:0;text-indent:-9999px;border:0;margin:0 2px 0 3px;cursor:pointer;-webkit-border-radius:12px;-moz-border-radius:12px;-o-border-radius:12px;border-radius:12px;box-shadow:none!important;border-width:2px;border-style:solid}
#featured .theme-svelte .nivo-controlNav a:hover{border-width:2px;border-style:solid}
#featured .theme-svelte .nivo-controlNav a.active{border-width:2px;border-style:solid;cursor:default}

/* ------------------------------- */
/* 17. Custom Widgets */
/* ------------------------------- */

/* Twitter Feed */	
.twitter-article {}	
.twitter-pic {float: left; width: 60px; margin-right: 20px;}	
.twitter-pic img {border-radius: 30px; -webkit-border-radius: 30px; -moz-border-radius: 30px;}
.twitter-text {float: left; width: 210px;}
.tweetprofilelink {}
.tweetprofilelink a {font-weight: bold;border: none; font-size: 14px;}			
.tweet-time {float: right; margin-top: -2px;}
.tweet-time a {border: none; font-size: 11px;}		
#twitter-feed a {border: none;}

/* Instagram Feed */	
.instagram {}	
.instagram-placeholder {width: 90px; height: 90px; display: inline-block; margin-right: 5px; }
.instagram-placeholder img {width: 90px; height: 90px; margin: 0; padding: 0;}	
		
/* Social Icons */	
#sidebar-widget-title-social {border-bottom: none; box-shadow: none !important; margin-bottom: 0;}
.sidebar-widget-social a, .sidebar-widget-social a:hover {border-bottom: none;}	
.sidebar-widget-social a {display: inline-block; width: 40px; height: 40px; margin: 0 12px 12px 0; padding: 0;}
.sidebar-widget-social {-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; border-width: 1px; border-style: solid; padding: 15px 0 15px 15px; }

/* ------------------------------------------------ */
/* 18. Misc  */
/* ------------------------------------------------ */

/* Hidden stuff for mobile only */
#mobile-only {display: none !important;}

/* Search Results */
#archive-header {}
#archive-header #archive-count {margin-bottom: 20px; }
#archive-header #archive-term {font-size: 55.7px; line-height: 55px; font-weight: bold; letter-spacing: -2.9px}

/*  Styles required by WordPress Theme Checker */
.wp-caption-text, .sticky, .gallery-caption, .bypostauthor {}
	