
<p>
Edite a página e clique em <code>Salvar</code>. Veja <a href="/wiki:syntax" class="wikilink1" title="wiki:syntax">aqui</a> a sintaxe do Wiki. Por favor, edite a página apenas se você puder <strong>aprimorá-la</strong>. Se você deseja testar alguma coisa, faça-o no <a href="/playground:playground" class="wikilink2" title="playground:playground" rel="nofollow">playground</a>.
</p>
