.goggle-point{
	position:absolute;
	width:30px;
	height:30px;
}
.goggle-point .goggle-circle{
	width: 30px;
    height: 30px;
    border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
    border: 2px solid #000;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    x-index: 2;
    -webkit-transform-origin: center 50%;
    -moz-transform-origin: center 50%;
    -ms-transform-origin: center 50%;
    -o-transform-origin: center 50%;
    transform-origin: center 50%;
	
	animation:pulse 2.1s infinite;
	-moz-animation:pulse 2.1s infinite;
	-webkit-animation:pulse 2.1s infinite;
	-o-animation:pulse 2.1s infinite;
	-ms-animation:pulse 2.1s infinite;
}

.goggle-point .goggle-dot{
	width: 12px;
    height: 12px;
    border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
    position: absolute;
    top: 9px;
    left: 9px;
    z-index: 3;
    background: #000;
    pointer-events: none;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s
}
.goggle-point:hover .goggle-dot{
	background:#000;
}
.goggle-point:hover .goggle-circle{
	border-color:#30851F;
}
.goggle-point1, 
.goggle-point2,
.goggle-point3,
.goggle-point4, 
.goggle-point5{
	top: 9px;
	left: 93px;
	opacity: 1;
    -webkit-transition: opacity 0.6s;
    -webkit-transition-delay: 1.3s;
    -moz-transition: opacity 0.6s 1.3s;
    -o-transition: opacity 0.6s 1.3s;
    transition: opacity 0.6s 1.3s
}

.goggle-point1 .goggle-circle{
	animation:pulse 2.1s infinite;
	-moz-animation:pulse 2.1s infinite;
	-webkit-animation:pulse 2.1s infinite;
	-o-animation:pulse 2.1s infinite;
	-ms-animation:pulse 2.1s infinite;
}

.goggle-point2{
	left: 408px;
	top: 32px;
}
.goggle-point2 .goggle-circle{
	animation:pulse 2.1s infinite 0.5s;
	-moz-animation:pulse 2.1s infinite 0.5s;
	-webkit-animation:pulse 2.1s infinite 0.5s;
	-o-animation:pulse 2.1s infinite 0.5s;
	-ms-animation:pulse 2.1s infinite 0.5s;
}

.goggle-point3{
	left: 60px;
    top: 90px;
}
.goggle-point3 .goggle-circle{
	animation:pulse 2.1s infinite 1s;
	-moz-animation:pulse 2.1s infinite 1s;
	-webkit-animation:pulse 2.1s infinite 1s;
	-o-animation:pulse 2.1s infinite 1s;
	-ms-animation:pulse 2.1s infinite 1s;
}

.goggle-point4{
	left: 335px;
	top: 128px;
}
.goggle-point4 .goggle-circle{
	animation:pulse 2.1s infinite 1.5s;
	-moz-animation:pulse 2.1s infinite 1.5s;
	-webkit-animation:pulse 2.1s infinite 1.5s;
	-o-animation:pulse 2.1s infinite 1.5s;
	-ms-animation:pulse 2.1s infinite 1.5s;
}

.goggle-point5{
	left: 813px;
	top: 45px;
}
.goggle-point5 .goggle-circle{
	animation:pulse 2.1s infinite 2s;
	-moz-animation:pulse 2.1s infinite 2s;
	-webkit-animation:pulse 2.1s infinite 2s;
	-o-animation:pulse 2.1s infinite 2s;
	-ms-animation:pulse 2.1s infinite 2s;
}

/*********** INOFORMATION BOX START **********/
.goggle-point .goggle-info{
	position:absolute;
	top:-133px;
	left:20px;
	width:285px;
	display:none;
}
.goggle-point .goggle-info2{
	top:-180px !important;
}
.goggle-point .goggle-info3{
	top:110px !important;
}
.goggle-point .goggle-info4{
	top:190px !important;
}
.goggle-point .goggle-info5{
	top:160px !important;
	left: -275px;
	text-align:right;
}
.goggle-point:hover .goggle-info{
	animation:info-animation 1.5s;
	-moz-animation:info-animation 1.5s;
	-webkit-animation:info-animation 1.5s;
	-ms-animation:info-animation 1.5s;
	-o-animation:info-animation 1.5s;
	display:block;
}
.goggle-point .goggle-info h3{
	text-transform:none;
	font-size:18px;
	font-family: 'robotoregular';
	margin-bottom:10px;
	color:#000;
}
.goggle-point .goggle-info p{
	text-transform:none;
	font-size:14px;
	font-family: 'robotolight';
	margin-bottom:15px;
	color:#000;
}

/*********** LINE START ******/
.goggle-point .goggle-info-line{
	height:138px;
	background:#000;
	width:1px;
	position:absolute;
	left: 14px;
	bottom:21px;
	display:none;
}
.goggle-point:hover .goggle-info-line, 
.goggle-point:hover .goggle-info-line2{
	display:block;
	animation:line-effect 1s;
	-webkit-animation:line-effect 1s;
	-ms-animation:line-effect 1s;
	-moz-animation:line-effect 1s;
	-o-animation:line-effect 1s;
}
.goggle-point .goggle-info-line2{
	height:185px;
}

.goggle-point .goggle-info-line3{
	height:200px;
	top: 10px;
}
.goggle-point:hover .goggle-info-line3, 
.goggle-point:hover .goggle-info-line4, 
.goggle-point:hover .goggle-info-line5{
	display:block;
	animation:line-effect-top 1s;
	-webkit-animation:line-effect-top 1s;
	-ms-animation:line-effect-top 1s;
	-moz-animation:line-effect-top 1s;
	-o-animation:line-effect-top 1s;
}
.goggle-point .goggle-info-line4{
	height:285px;
	top: 10px;
}

.goggle-point .goggle-info-line5{
	height:255px;
	top: 10px;
}





@keyframes info-animation {
	0%{
		transition:all 2s;
		-moz-transition:all 2s;
		-webkit-transition:all 2s;
		-o-transition:all 2s;
		-ms-transition:all 2s;
		opacity:0;
	}
	100%{
		transition:all 2s;
		-moz-transition:all 2s;
		-webkit-transition:all 2s;
		-o-transition:all 2s;
		-ms-transition:all 2s;
		opacity:1;
	}
}
@-moz-keyframes info-animation {
	0%{
		transition:all 2s;
		-moz-transition:all 2s;
		-webkit-transition:all 2s;
		-o-transition:all 2s;
		-ms-transition:all 2s;
		opacity:0;
	}
	100%{
		transition:all 2s;
		-moz-transition:all 2s;
		-webkit-transition:all 2s;
		-o-transition:all 2s;
		-ms-transition:all 2s;
		opacity:1;
	}
}
@-webkit-keyframes info-animation {
	0%{
		transition:all 2s;
		-moz-transition:all 2s;
		-webkit-transition:all 2s;
		-o-transition:all 2s;
		-ms-transition:all 2s;
		opacity:0;
	}
	100%{
		transition:all 2s;
		-moz-transition:all 2s;
		-webkit-transition:all 2s;
		-o-transition:all 2s;
		-ms-transition:all 2s;
		opacity:1;
	}
}
@-ms-keyframes info-animation {
	0%{
		transition:all 2s;
		-moz-transition:all 2s;
		-webkit-transition:all 2s;
		-o-transition:all 2s;
		-ms-transition:all 2s;
		opacity:0;
	}
	100%{
		transition:all 2s;
		-moz-transition:all 2s;
		-webkit-transition:all 2s;
		-o-transition:all 2s;
		-ms-transition:all 2s;
		opacity:1;
	}
}
@-o-keyframes info-animation {
	0%{
		transition:all 2s;
		-moz-transition:all 2s;
		-webkit-transition:all 2s;
		-o-transition:all 2s;
		-ms-transition:all 2s;
		opacity:0;
	}
	100%{
		transition:all 2s;
		-moz-transition:all 2s;
		-webkit-transition:all 2s;
		-o-transition:all 2s;
		-ms-transition:all 2s;
		opacity:1;
	}
}

@keyframes line-effect {
	0%{
		transform-origin:bottom;
		-moz-transform-origin:bottom;
		-webkit-transform-origin:bottom;
		-ms-transform-origin:bottom;
		-o-transform-origin:bottom;
		
		transform:scale(0.1);
		-moz-transform:scale(0.1);
		-webkit-transform:scale(0.1);
		-ms-transform:scale(0.1);
		-o-transform:scale(0.1);
	}
	100%{
		transform-origin:bottom;
		-moz-transform-origin:bottom;
		-webkit-transform-origin:bottom;
		-ms-transform-origin:bottom;
		-o-transform-origin:bottom;
		
		transform:scale(1);
		-moz-transform:scale(1);
		-webkit-transform:scale(1);
		-ms-transform:scale(1);
		-o-transform:scale(1);
	}
}
@-moz-keyframes line-effect {
	0%{
		transform-origin:bottom;
		-moz-transform-origin:bottom;
		-webkit-transform-origin:bottom;
		-ms-transform-origin:bottom;
		-o-transform-origin:bottom;
		
		transform:scale(0.1);
		-moz-transform:scale(0.1);
		-webkit-transform:scale(0.1);
		-ms-transform:scale(0.1);
		-o-transform:scale(0.1);
	}
	100%{
		transform-origin:bottom;
		-moz-transform-origin:bottom;
		-webkit-transform-origin:bottom;
		-ms-transform-origin:bottom;
		-o-transform-origin:bottom;
		
		transform:scale(1);
		-moz-transform:scale(1);
		-webkit-transform:scale(1);
		-ms-transform:scale(1);
		-o-transform:scale(1);
	}
}
@-webkit-keyframes line-effect {
	0%{
		transform-origin:bottom;
		-moz-transform-origin:bottom;
		-webkit-transform-origin:bottom;
		-ms-transform-origin:bottom;
		-o-transform-origin:bottom;
		
		transform:scale(0.1);
		-moz-transform:scale(0.1);
		-webkit-transform:scale(0.1);
		-ms-transform:scale(0.1);
		-o-transform:scale(0.1);
	}
	100%{
		transform-origin:bottom;
		-moz-transform-origin:bottom;
		-webkit-transform-origin:bottom;
		-ms-transform-origin:bottom;
		-o-transform-origin:bottom;
		
		transform:scale(1);
		-moz-transform:scale(1);
		-webkit-transform:scale(1);
		-ms-transform:scale(1);
		-o-transform:scale(1);
	}
}
@-ms-keyframes line-effect {
	0%{
		transform-origin:bottom;
		-moz-transform-origin:bottom;
		-webkit-transform-origin:bottom;
		-ms-transform-origin:bottom;
		-o-transform-origin:bottom;
		
		transform:scale(0.1);
		-moz-transform:scale(0.1);
		-webkit-transform:scale(0.1);
		-ms-transform:scale(0.1);
		-o-transform:scale(0.1);
	}
	100%{
		transform-origin:bottom;
		-moz-transform-origin:bottom;
		-webkit-transform-origin:bottom;
		-ms-transform-origin:bottom;
		-o-transform-origin:bottom;
		
		transform:scale(1);
		-moz-transform:scale(1);
		-webkit-transform:scale(1);
		-ms-transform:scale(1);
		-o-transform:scale(1);
	}
}
@-o-keyframes line-effect {
	0%{
		transform-origin:bottom;
		-moz-transform-origin:bottom;
		-webkit-transform-origin:bottom;
		-ms-transform-origin:bottom;
		-o-transform-origin:bottom;
		
		transform:scale(0.1);
		-moz-transform:scale(0.1);
		-webkit-transform:scale(0.1);
		-ms-transform:scale(0.1);
		-o-transform:scale(0.1);
	}
	100%{
		transform-origin:bottom;
		-moz-transform-origin:bottom;
		-webkit-transform-origin:bottom;
		-ms-transform-origin:bottom;
		-o-transform-origin:bottom;
		
		transform:scale(1);
		-moz-transform:scale(1);
		-webkit-transform:scale(1);
		-ms-transform:scale(1);
		-o-transform:scale(1);
	}
}

@keyframes line-effect-top {
	0%{
		transform-origin:top;
		-moz-transform-origin:top;
		-webkit-transform-origin:top;
		-ms-transform-origin:top;
		-o-transform-origin:top;
		
		transform:scale(0.1);
		-moz-transform:scale(0.1);
		-webkit-transform:scale(0.1);
		-ms-transform:scale(0.1);
		-o-transform:scale(0.1);
	}
	100%{
		transform-origin:bottom;
		-moz-transform-origin:bottom;
		-webkit-transform-origin:bottom;
		-ms-transform-origin:bottom;
		-o-transform-origin:bottom;
		
		transform:scale(1);
		-moz-transform:scale(1);
		-webkit-transform:scale(1);
		-ms-transform:scale(1);
		-o-transform:scale(1);
	}
}
@-moz-keyframes line-effect-top {
	0%{
		transform-origin:top;
		-moz-transform-origin:top;
		-webkit-transform-origin:top;
		-ms-transform-origin:top;
		-o-transform-origin:top;
		
		transform:scale(0.1);
		-moz-transform:scale(0.1);
		-webkit-transform:scale(0.1);
		-ms-transform:scale(0.1);
		-o-transform:scale(0.1);
	}
	100%{
		transform-origin:top;
		-moz-transform-origin:top;
		-webkit-transform-origin:top;
		-ms-transform-origin:top;
		-o-transform-origin:top;
		
		transform:scale(1);
		-moz-transform:scale(1);
		-webkit-transform:scale(1);
		-ms-transform:scale(1);
		-o-transform:scale(1);
	}
}
@-webkit-keyframes line-effect-top {
	0%{
		transform-origin:top;
		-moz-transform-origin:top;
		-webkit-transform-origin:top;
		-ms-transform-origin:top;
		-o-transform-origin:top;
		
		transform:scale(0.1);
		-moz-transform:scale(0.1);
		-webkit-transform:scale(0.1);
		-ms-transform:scale(0.1);
		-o-transform:scale(0.1);
	}
	100%{
		transform-origin:top;
		-moz-transform-origin:top;
		-webkit-transform-origin:top;
		-ms-transform-origin:top;
		-o-transform-origin:top;
		
		transform:scale(1);
		-moz-transform:scale(1);
		-webkit-transform:scale(1);
		-ms-transform:scale(1);
		-o-transform:scale(1);
	}
}
@-ms-keyframes line-effect-top {
	0%{
		transform-origin:top;
		-moz-transform-origin:top;
		-webkit-transform-origin:top;
		-ms-transform-origin:top;
		-o-transform-origin:top;
		
		transform:scale(0.1);
		-moz-transform:scale(0.1);
		-webkit-transform:scale(0.1);
		-ms-transform:scale(0.1);
		-o-transform:scale(0.1);
	}
	100%{
		transform-origin:top;
		-moz-transform-origin:top;
		-webkit-transform-origin:top;
		-ms-transform-origin:top;
		-o-transform-origin:top;
		
		transform:scale(1);
		-moz-transform:scale(1);
		-webkit-transform:scale(1);
		-ms-transform:scale(1);
		-o-transform:scale(1);
	}
}
@-o-keyframes line-effect-top {
	0%{
		transform-origin:top;
		-moz-transform-origin:top;
		-webkit-transform-origin:top;
		-ms-transform-origin:top;
		-o-transform-origin:top;
		
		transform:scale(0.1);
		-moz-transform:scale(0.1);
		-webkit-transform:scale(0.1);
		-ms-transform:scale(0.1);
		-o-transform:scale(0.1);
	}
	100%{
		transform-origin:top;
		-moz-transform-origin:top;
		-webkit-transform-origin:top;
		-ms-transform-origin:top;
		-o-transform-origin:top;
		
		transform:scale(1);
		-moz-transform:scale(1);
		-webkit-transform:scale(1);
		-ms-transform:scale(1);
		-o-transform:scale(1);
	}
}
/*@keyframes line-effect {
	0%{
		transition:height 1s;
		-moz-transition:height 1s;
		-webkit-transition:height 1s;
		-o-transition:height 1s;
		-ms-transition:height 1s;
		opacity:1;
		height:1px;
	}
	100%{
		transition:height 1s;
		-moz-transition:height 1s;
		-webkit-transition:height 1s;
		-o-transition:height 1s;
		-ms-transition:height 1s;
		opacity:1;
		height:138px;
	}
}*/







@keyframes controller-text {
}

@-moz-keyframes controller-text {
}

@-webkit-keyframes controller-text {
    0% {
        opacity: 0
    }
    3% {
        opacity: 1
    }
    17% {
        opacity: 1
    }
    20% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@-ms-keyframes controller-text {
}

@-o-keyframes controller-text {
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(0.1);
        -moz-transform: scale(0.1);
        -ms-transform: scale(0.1);
        -o-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 1
    }
    30% {
        opacity: 1
    }
    80% {
        opacity: 0
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}

@-moz-keyframes pulse {
    0% {
        -webkit-transform: scale(0.1);
        -moz-transform: scale(0.1);
        -ms-transform: scale(0.1);
        -o-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 1
    }
    30% {
        opacity: 1
    }
    80% {
        opacity: 0
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.1);
        -moz-transform: scale(0.1);
        -ms-transform: scale(0.1);
        -o-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 1
    }
    30% {
        opacity: 1
    }
    80% {
        opacity: 0
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}

@-ms-keyframes pulse {
    0% {
        -webkit-transform: scale(0.1);
        -moz-transform: scale(0.1);
        -ms-transform: scale(0.1);
        -o-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 1
    }
    30% {
        opacity: 1
    }
    80% {
        opacity: 0
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}

@-o-keyframes pulse {
    0% {
        -webkit-transform: scale(0.1);
        -moz-transform: scale(0.1);
        -ms-transform: scale(0.1);
        -o-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 1
    }
    30% {
        opacity: 1
    }
    80% {
        opacity: 0
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}

@keyframes controller-pulse {
    0% {
        -webkit-transform: scale(0.35);
        -moz-transform: scale(0.35);
        -ms-transform: scale(0.35);
        -o-transform: scale(0.35);
        transform: scale(0.35);
        opacity: 0
    }
    30% {
        opacity: .4
    }
    80% {
        opacity: .4
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}

@-moz-keyframes controller-pulse {
    0% {
        -webkit-transform: scale(0.35);
        -moz-transform: scale(0.35);
        -ms-transform: scale(0.35);
        -o-transform: scale(0.35);
        transform: scale(0.35);
        opacity: 0
    }
    30% {
        opacity: .4
    }
    80% {
        opacity: .4
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}

@-webkit-keyframes controller-pulse {
    0% {
        -webkit-transform: scale(0.35);
        -moz-transform: scale(0.35);
        -ms-transform: scale(0.35);
        -o-transform: scale(0.35);
        transform: scale(0.35);
        opacity: 0
    }
    30% {
        opacity: .4
    }
    80% {
        opacity: .4
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}

@-ms-keyframes controller-pulse {
    0% {
        -webkit-transform: scale(0.35);
        -moz-transform: scale(0.35);
        -ms-transform: scale(0.35);
        -o-transform: scale(0.35);
        transform: scale(0.35);
        opacity: 0
    }
    30% {
        opacity: .4
    }
    80% {
        opacity: .4
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}

@-o-keyframes controller-pulse {
    0% {
        -webkit-transform: scale(0.35);
        -moz-transform: scale(0.35);
        -ms-transform: scale(0.35);
        -o-transform: scale(0.35);
        transform: scale(0.35);
        opacity: 0
    }
    30% {
        opacity: .4
    }
    80% {
        opacity: .4
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}

@keyframes play-pulse {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
    60% {
        opacity: 1
    }
    80% {
        opacity: 0
    }
    100% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0
    }
}

@-moz-keyframes play-pulse {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
    60% {
        opacity: 1
    }
    80% {
        opacity: 0
    }
    100% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0
    }
}

@-webkit-keyframes play-pulse {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
    60% {
        opacity: 1
    }
    80% {
        opacity: 0
    }
    100% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0
    }
}

@-ms-keyframes play-pulse {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
    60% {
        opacity: 1
    }
    80% {
        opacity: 0
    }
    100% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0
    }
}

@-o-keyframes play-pulse {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
    60% {
        opacity: 1
    }
    80% {
        opacity: 0
    }
    100% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0
    }
}