/* Blue Color */

a, a:visited{
	color: #4f99bc;
}

a:hover{
	color: #77a302;
}

.color{
	color: #77a302;
}

.button a, .button a:visited{
background:#77a302;
}

.button a:hover{
background:#4f99bc;
}

/* Header */

header .hlinks > span{
background: #77a302;
border: 1px solid #4f99bc;
}

/* Navigation */

.navbar{
background:#FFF;
font-family: 'roboto-regular';
/*border-top: 1px solid #4f99bc;*/
/*border-bottom: 1px solid #4f99bc;*/
}

.navbar button{
	background: #000;
}

.navbar button:hover{
	background: #000;
}

.navbar .nav{
  /*border-left: 1px solid #4f99bc;	*/
}

.navbar .nav > li > a{
	font-size:14px !important;
   /*border-right: 1px solid #4f99bc;*/
}
.navbar .nav > li > a:hover{
	background: #595259 !important;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
	background: #595259 !important;
}

.dropdown-toggle{
	background: #77a302 !important;	
}

.nav-collapse .nav > li > a{
	background: #77a302 !important;	
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	border-color: #595259;
}


/* Sidebar nav */

#nav > li > a { 
 border-left: 3px solid #77a302;
}

/* Sidebar page navigation */

#navi > li > a { 
 border-left: 3px solid #77a302;
}


/* Title */

.title i{
	color: #77a302;
}


/* Recent posts carousel */

.recent-news .item h4 a span{
	color:#77a302;
}

.recent-news .custom-nav a i{
	background: #77a302;
}

/* Blog */

.posts .tags a{
background:#77a302;
border:1px solid #4f99bc;
}

.posts .tags a:hover{
background:#4f99bc;
border:1px solid #4f99bc;
}

.paging a:hover{
background: #77a302;
border:1px solid #4f99bc;
}

.paging .current{
background: #77a302;
border:1px solid #4f99bc;
}

/* Sidebar */

.sidebar .widget{
	border-top: 1px solid #77a302;
}


/* Career */

.nav-tabs > li > a:hover{
	background: #77a302;
}


/* Back to top */

.totop a, .totop a:visited{
	background: #77a302;
}

.totop a:hover{
	background: #4f99bc;
}

/* Footer */

footer{
	border-top: 4px solid #77a302;
}