@font-face{
font-family: 'grotesque-ultralight';
src: url("../fonts/Geogtq-Ul.otf");
}

@media (min-width: 300px) {

	#main-nav {
		height: 30px; 
		padding:0px;
		list-style-type: none; 
		color:#000;
		font-family: 'grotesque-ultralight';
		font-size:24px; 
	}
	#main-nav li {
		position: relative;
		float: left;
		/*margin-left:15px;*/
		padding-right:15px;
		height: 30px;
	}

	#main-nav li a{
		color: #000;
		text-decoration: none;
	}

	#main-nav li a:hover{
		color: #77a302;
	}

	.sub-nav-projection {
		display: none;
		position: absolute;
		width: 900px;
		top: 30px;
		left: 0;
		border-top:2px solid #77a302;
		z-index: 999;
		background: #fff;
	}

	.sub-nav-raid {
		display: none;
		position: absolute;
		width: 900px;
		top: 30px;
		left: 0;
		border-top:2px solid #77a302;
		z-index: 999;
		background: #fff;
	}

	.sub-nav-titanium {
		display: none;
		position: absolute;
		width: 900px;
		top: 30px;
		left: 0;
		border-top:2px solid #77a302;
		z-index: 999;
		background: #fff;
	}	

	.sub-nav-ultra {
		display: none;
		position: absolute;
		width: 900px;
		top: 30px;
		left: 0;
		border-top:2px solid #77a302;
		z-index: 999;
		background: red;
	}

	.sub-nav-kizo {
		display: none;
		position: absolute;
		top: 30px;
		left: 0;
		border-top:2px solid #77a302;
		z-index: 999;
		background: #fff;
	}

	#main-nav li:hover .sub-nav-projection{
		display: none;
	}

	#main-nav li:hover .sub-nav-raid{
		display: none;
		margin-left:-143px;
	}

	#main-nav li:hover .sub-nav-ultra{
		display: none;
		margin-left:-204px;
	}

	#main-nav li:hover .sub-nav-kizo{
		display: none;
		margin-left:-283px;
	}

	#main-nav li:hover .sub-nav-titanium{
		display: none;
		margin-left:-283px;
	}	

}

@media (min-width: 768px) {

	#main-nav {
		padding:0px;
		height: 30px; 
		list-style-type: none; 
		color:#000;
		font-family: 'grotesque-ultralight';
		font-size:24px; 
	}

	#main-nav li {
		position: relative;
		float: left;
		/*margin-left:15px;*/
		padding-right:15px;
		height: 30px;
	}

	#main-nav li a{
		color: #000;
		text-decoration: none;
	}

	#main-nav li a:hover{
		color: #77a302;
	}

	.sub-nav-projection {
		display: none;
		position: absolute;
		width: 900px;
		top: 30px;
		left: 0;
		border-top:2px solid #77a302;
		z-index: 999;
		background: white;
	}

	.sub-nav-raid {
		display: none;
		position: absolute;
		width: 900px;
		top: 30px;
		left: 0;
		border-top:2px solid #77a302;
		z-index: 999;
		background: white;
	}

	.sub-nav-titanium {
		display: none;
		position: absolute;
		width: 900px;
		top: 30px;
		left: 0;
		border-top:2px solid #77a302;
		z-index: 999;
		background: #fff;
	}
	
	.sub-nav-ultra {
		display: none;
		position: absolute;
		width: 900px;
		top: 30px;
		left: 0;
		border-top:2px solid #77a302;
		z-index: 999;
		background: white;
	}

	.sub-nav-kizo {
		display: none;
		position: absolute;
		width: 900px;
		top: 30px;
		left: 0;
		border-top:2px solid #77a302;
		z-index: 999;
		background: #fff;
	}

	#main-nav li:hover .sub-nav-projection{
		display: none;
	}

	#main-nav li:hover .sub-nav-raid{
		display: none;
		margin-left:-143px;
	}

	#main-nav li:hover .sub-nav-ultra{
		display: none;
		margin-left:-204px;
	}

	#main-nav li:hover .sub-nav-kizo{
		display: none;
		margin-left:-283px;
	}

	#main-nav li:hover .sub-nav-titanium{
		display: none;
		margin-left:-423px;
	}

}

@media (min-width: 992px) {

	.uparrowdiv-p{
	position:relative;
	}

	.uparrowdiv-p:after{ /*arrow added to uparrowdiv DIV*/
		content:'';
		display:block;
		position:absolute;
		top:-20px; /*should be set to -border-width x 2 */
		left:65px;
		width:0;
		height:0;
		border-color: transparent transparent #77a302 transparent; /*border color should be same as div div background color*/
		border-style: solid;
		border-width: 10px;
	}

	.uparrowdiv-r{
	position:relative;
	}

	.uparrowdiv-r:after{ /*arrow added to uparrowdiv DIV*/
		content:'';
		display:block;
		position:absolute;
		top:-20px; /*should be set to -border-width x 2 */
		left:160px;
		width:0;
		height:0;
		border-color: transparent transparent #77a302 transparent; /*border color should be same as div div background color*/
		border-style: solid;
		border-width: 10px;
	}

	.uparrowdiv-u{
	position:relative;
	}

	.uparrowdiv-u:after{ /*arrow added to uparrowdiv DIV*/
		content:'';
		display:block;
		position:absolute;
		top:-20px; /*should be set to -border-width x 2 */
		left:225px;
		width:0;
		height:0;
		border-color: transparent transparent #77a302 transparent; /*border color should be same as div div background color*/
		border-style: solid;
		border-width: 10px;
	}

	.uparrowdiv-k{
	position:relative;
	}

	.uparrowdiv-k:after{ /*arrow added to uparrowdiv DIV*/
		content:'';
		display:block;
		position:absolute;
		top:-20px; /*should be set to -border-width x 2 */
		left:295px;
		width:0;
		height:0;
		border-color: transparent transparent #77a302 transparent; /*border color should be same as div div background color*/
		border-style: solid;
		border-width: 10px;
	}

	.uparrowdiv-t{
	position:relative;
	}

	.uparrowdiv-t:after{ /*arrow added to uparrowdiv DIV*/
		content:'';
		display:block;
		position:absolute;
		top:-20px; /*should be set to -border-width x 2 */
		left:375px;
		width:0;
		height:0;
		border-color: transparent transparent #77a302 transparent; /*border color should be same as div div background color*/
		border-style: solid;
		border-width: 10px;
	}	

	#main-nav {
		height: 30px; 
		padding:0px;

		list-style-type: none; 
		color:#000;
		font-family: 'grotesque-ultralight';
		font-size:24px; 
	}

	#main-nav li {
		position: relative;
		float: left;
		/*margin-left:15px;*/
		padding-right:15px;
		height: 30px;
	}

	#main-nav li a{
		color: #000;
		text-decoration: none;
	}

	#main-nav li a:hover{
		color: #77a302;
	}

	.sub-nav-projection {
		display: none;
		position: absolute;
		width: 830px;
		top: 30px;
		left: 0;
		font-size:16px;
		min-height:250px;
		border:2px solid #ccc;
		border-top:2px solid #77a302;
		z-index: 999;
		background: #fff;

		
	}

	.sub-nav-raid {
		display: none;
		position: absolute;
		width: 830px;
		top: 30px;
		left: 0;
		font-size:16px;
		min-height:250px;
		border:2px solid #ccc;
		border-top:2px solid #77a302;
		z-index: 999;
		background: #fff;
	}

	.sub-nav-titanium {
		display: none;
		position: absolute;
		width: 830px;
		top: 30px;
		left: 0;
		font-size:16px;
		min-height:250px;
		border:2px solid #ccc;
		border-top:2px solid #77a302;
		z-index: 999;
		background: #fff;
	}	

	.sub-nav-ultra {
		display: none;
		position: absolute;
		width: 830px;
		top: 30px;
		left: 0;
		font-size:16px;
		min-height:250px;
		border:2px solid #ccc;
		border-top:2px solid #77a302;
		z-index: 999;
		background: #fff;
	}

	.sub-nav-kizo {
		display: none;
		position: absolute;
		width: 830px;
		top: 30px;
		left: 0;
		font-size:16px;
		min-height:250px;
		border:2px solid #ccc;
		border-top:2px solid #77a302;
		z-index: 999;
		background: #fff;
	}
	#main-nav li:hover .sub-nav-projection{
		display: block;
	}

	#main-nav li:hover .sub-nav-raid{
		display: block;
		margin-left:-142px;
	}

	#main-nav li:hover .sub-nav-ultra{
		display: block;
		margin-left:-204px;
	}

	#main-nav li:hover .sub-nav-titanium{
		display: block;
		margin-left:-344px;
	}	

	#main-nav li:hover .sub-nav-kizo{
		display: block;
		margin-left:-284px;
	}

}
@media (min-width: 1200px) { 

	.uparrowdiv-p{
		position:relative;
	}

	.uparrowdiv-p:after{ /*arrow added to uparrowdiv DIV*/
		content:'';
		display:block;
		position:absolute;
		top:-20px; /*should be set to -border-width x 2 */
		left:65px;
		width:0;
		height:0;
		border-color: transparent transparent #77a302 transparent; /*border color should be same as div div background color*/
		border-style: solid;
		border-width: 10px;
	}

	.uparrowdiv-r{
	position:relative;
	}

	.uparrowdiv-r:after{ /*arrow added to uparrowdiv DIV*/
		content:'';
		display:block;
		position:absolute;
		top:-20px; /*should be set to -border-width x 2 */
		left:160px;
		width:0;
		height:0;
		border-color: transparent transparent #77a302 transparent; /*border color should be same as div div background color*/
		border-style: solid;
		border-width: 10px;
	}

	.uparrowdiv-t{
		position:relative;
	}

	.uparrowdiv-t:after{ /*arrow added to uparrowdiv DIV*/
		content:'';
		display:block;
		position:absolute;
		top:-20px; /*should be set to -border-width x 2 */
		left:388px;
		width:0;
		height:0;
		border-color: transparent transparent #77a302 transparent; /*border color should be same as div div background color*/
		border-style: solid;
		border-width: 10px;
	}	

	.uparrowdiv-u{
		position:relative;
	}

	.uparrowdiv-u:after{ /*arrow added to uparrowdiv DIV*/
		content:'';
		display:block;
		position:absolute;
		top:-20px; /*should be set to -border-width x 2 */
		left:227px;
		width:0;
		height:0;
		border-color: transparent transparent #77a302 transparent; /*border color should be same as div div background color*/
		border-style: solid;
		border-width: 10px;
	}

	.uparrowdiv-k{
	position:relative;
	}

	.uparrowdiv-k:after{ /*arrow added to uparrowdiv DIV*/
		content:'';
		display:block;
		position:absolute;
		top:-20px; /*should be set to -border-width x 2 */
		left:290px;
		width:0;
		height:0;
		border-color: transparent transparent #77a302 transparent; /*border color should be same as div div background color*/
		border-style: solid;
		border-width: 10px;
	}

	#main-nav {
		height: 30px; 
		padding:0px;
		list-style-type: none; 
		color:#000;
		font-family: 'grotesque-ultralight';
		font-size:24px; 
	}

	#main-nav li {
		position: relative;
		float: left;
		/*margin-left:15px;*/
		padding-right:15px;
		height: 30px;
	}

	#main-nav li a{
		color: #000;
		text-decoration: none;
	}

	#main-nav li a:hover{
		color: #77a302;
		border-color: transparent transparent #007bff transparent;
	}

	.sub-nav-projection {
		display: none;
		position: absolute;
		/*width: 900px;*/
		top: 30px;
		left: 0;
		font-size:16px;
		min-height:250px;
		border:2px solid #ccc;
		border-top:2px solid #77a302;
		z-index: 999;
	}

	.sub-nav-raid {
		display: none;
		position: absolute;
		/*width: 900px;*/
		top: 30px;
		left: 0;
		font-size:16px;
		min-height:250px;
		border:2px solid #ccc;
		border-top:2px solid #77a302;
		z-index: 999;
		background: #fff;
	}

	.sub-nav-titanium {
		display: none;
		position: absolute;
		/*width: 900px;*/
		top: 30px;
		left: 0;
		font-size:16px;
		min-height:250px;
		border:2px solid #ccc;
		border-top:2px solid #77a302;
		z-index: 999;
		background: #fff;
	}

	.sub-nav-ultra {
		display: none;
		position: absolute;
		top: 30px;
		left: 0;
		font-size:16px;
		min-height:250px;
		border:2px solid #ccc;
		border-top:2px solid #77a302;
		z-index: 999;
		background: #fff;
	}

	.sub-nav-kizo {
		display: none;
		position: absolute;
		top: 30px;
		left: 0;
		font-size:16px;
		min-height:250px;
		border:2px solid #ccc;
		border-top:2px solid #77a302;
		z-index: 999;
		background: #fff;
	}

	#main-nav li:hover .sub-nav-projection{
		display: block;
	}

	#main-nav li:hover .sub-nav-raid{
		display: block;
		margin-left:-142px;
	}

	#main-nav li:hover .sub-nav-ultra{
		display: block;
		margin-left:-204px;
	}

	#main-nav li:hover .sub-nav-titanium{
		display: block;
		margin-left:-344px;
	}

	#main-nav li:hover .sub-nav-kizo{
		display: block;
		margin-left:-284px;
	}

}




