body{
	margin:0px;
	padding:0px;	
}
ul,h1,h2,h3,h4,h5,h6,p{
	margin:0px;
	padding:0px;	
}
header{
	border-bottom:1px solid #d6d6d6;	
}
.top-logo{
	padding:20px;
	position:relative;	
}
.top-menu{
	padding:20px;
	position:relative;	
}
.top-menu ul{
	margin:2px 0px 0px 0px;	
}
.top-menu ul li{
	display:inline-block;
	list-style:none;
	margin-left:17px;	
}
.navbar{
	margin:0;
}
.navbar-nav > li > a {
    padding-top:24px;
	padding-bottom:24px;
}
.custom-menu ul li a{
	font-size:18px;
	font-family: 'geogrotesque_mdmedium';
	color:#000;	
}
.custom-menu .navbar-toggle {
	
	border-color:#ccc;
}
.custom-menu .navbar-toggle .icon-bar {
	background-color:#ccc;
}
.bordr{
	border-left:1px solid #ccc;
}
.zero {
	color:#fff;
	background-color:#76a000;
	padding:3px 9px;
	margin-right:3px;
}
.custom-menu .nav  li a:hover {
	background-color:#fff;
	text-decoration:underline;
} 

.top-menu ul li a span{
	background:#76a000;
	padding:6px 9px;
	color:#fff;	
}
.banner-image{
	position:relative;
	margin:0px;	
}
.banner-image h3, .banner-image h3.experiment-banner{
	position:absolute;
	top:275px;
	right:235px;
	font-family: 'geogrotesque_mdmedium';
	font-size:32px;	
}
.banner-image h3.experiment-banner{
	right:auto;
	left:0px;
	color:#000;
}
.banner-image img{
	width:100%;
	max-height:572px;	
}
.login-area{
	border-left:1px solid #d6d6d6;	
}
.login-area ul li:first-child{
	margin-left:0px;	
}

.quero, .quero-experiment{
	position:relative;
	text-align:center;	
}

.quero h3, .quero-experiment h3{
	font-family: 'geogrotesque_rgregular';
	font-size:32px;
	text-transform:uppercase;
	text-align:left;
	margin: 45px 0;	
	font-weight:normal;	
}
.quero-experiment h3{
	font-size:24px;
}

.quero p, .quero-experiment p{
	margin: 0 auto 32px;
	font-size:24px;
	font-family: 'geogrotesque_ullgultralight';
	width: 67%;
	color:#000;
	line-height: 30px;	
}
.quero-experiment p{
	font-size:16px;
	font-family: 'robotolight';
	line-height: 22px;
	width:100%;
	max-width:560px;
}
.quero button, .quero-experiment button, .submit{
	background:#77a302;
	border:1px solid #77a302;
	font-size:24px;
	color:#fff;
	text-transform:uppercase;
	padding:11px 40px;
	font-family: 'robotoregular';	
}
.quero-experiment button{
	font-size:18px;
}
.qomo h3{
	margin-bottom:30px;	
}
.como-experiment-bg{
	background:#e4edcc;
	margin-top:45px;
	padding-bottom:10px;
}
.como-experiment h3{
	font-family: 'geogrotesque_rgregular';
	font-size:32px;
	text-transform:uppercase;
	text-align:left;
	margin: 45px 0 30px;		
}
.como-content-box, .como-experiment{
	width:19.12%;
	border:1px solid #aeaeae;
	padding:32px 18px;
	margin-right:10px;
	float:left;
	min-height:235px;	
	position:relative;
}
.como-experiment{
	border:none;
	padding:0;
	margin:0;
}
.como-experiment-circle{
	width:16px;
	height:16px;
	border-radius:20px;
	background:#77a302;
	position:absolute;
	margin-left:-8px;
	bottom:-8px;
	left:50%;
}
.requ-heading, .como-experiment .requ-heading{
	border-bottom:1px solid #aeaeae;
	text-align:center;	
	position:relative;
}
.como-experiment .requ-heading{
	padding:32px 18px 20px;
}
.requ-heading h4, .como-experiment .requ-heading h4{
	font-size:24px;
	font-family: 'geogrotesque_rgregular';
	color:#77a302;
	text-transform:uppercase;
	line-height: 24px;	
}
.como-experiment .requ-heading h4{
	font-size:18px;
	font-family: 'robotolight';
	font-weight:normal;
}
.requ-para, .como-experiment .requ-para{
	padding:20px 0px 0px 0px;
	text-align:center;	
}
.como-experiment .requ-para{
	padding:20px 18px 0;
}
.como-experiment .requ-para.first-requ{
	padding-left:0;
}
.como-experiment .requ-para.last-requ{
	padding-right:0;
}

.requ-para p, .como-experiment .requ-para p{
	font-size:14px;
	font-family: 'robotolight';
	margin: 0px;	
}
.realmente-green{
	background:#e4edcc;
	margin-top:20px;	
}
.bg-none{
	background:none;
}
.realment p{
	margin-bottom:85px;		
}
.map-para p{
	width: 85%;	
}
.caso{
	padding-top:0px;	
}
.caso p{
	width:85%;
	margin:auto;	
}
.experiment-map-contant1 p{
	font-size:16px;
	font-family: 'robotoregular';
	color:#000;
	line-height:22px;
}
.experiment-map-contant2 p{
	font-size:14px;
	font-family: 'robotolight';
	color:#000;
	line-height:20px;
	width:100%;
	max-width:370px;
}

.form-area{
	background:#f8f8f8;
	padding:35px 0px;	
}
.form-box{
	padding:0px 50px;	
}
.form-box h3{
	font-family:'robotoregular';
	font-size:16px;
	margin-bottom:26px;
	text-transform:uppercase;	
	font-weight: normal;
}
.input-box{
	margin-bottom:20px;	
}
.input-box input, .input-box textarea{
	width:100%;
	border:1px solid #a6a6a6;
	padding:10px 15px;
	font-size:14px;
	font-family: 'robotoregular';	
}
::-webkit-input-placeholder {
    color: #595959;
    opacity: 1 !important; /* for chrome */
}
::-moz-placeholder {
    color: #595959;
    opacity: 1 !important; /* for chrome */
}
.wd-43{
	width: 48.6% !important;	
}
.wd-22{
	width: 22% !important;	
}
.wd-75{
	width: 75.2% !important;	
}
.input1{
	margin-right:25px;	
}
.sbmit-right{
	float:right;
	padding: 9px 40px;
	font-family: 'geogrotesque_rgregular';
	font-size:18px;
}
.footer-box{
	background:#1f1f1f;
	padding:30px 0px 0;	
}
.pdl0{
	padding-left:0;
}
.linhas-list{
	border-bottom:1px solid #6a6a6a;
	padding: 0 20px 20px;
}
.small-list{
	position:relative;
	font-size:0;
	padding-left:15px;
}
.small-list h5{
	font-size:14px;
	font-family: 'geogrotesque_ullgultralight';
	color:#fff;	
	margin-bottom:10px;
	
}
.small-list ul, .small-list ul.tow-row-list{
	margin:0px;
	padding:0px;
}
.small-list ul li{
	list-style:none;
	display:inline-block;
	width:32.5%;
	vertical-align:top;
}
.small-list ul.tow-row-list li{
	width:49%;
	vertical-align:top;
}
.small-list ul li a, .sobre p{
	color:#fff;
	font-family: 'robotolight';
	font-size:12px;
	text-align:justify;	
}
.sobre{
	width:50%;
	float:left;
	border-right:1px solid #6a6a6a;
	padding-right:20px;	
}
.sobre h5{
	font-size:14px;
	font-family: "geogrotesque_ullgultralight";
	color:#fff;	
}
.sobre-formus{
	padding:25px 20px;	
}
.footer-line{
	margin-top: 30px;
	margin-bottom: 30px;
	border: 0;
	border-top: 1px solid #eee;
}
.formus {
	color:#fff;
	padding-left:15px;
}
.formus span{
	padding-left:15px;
}

.formus h5, .news h5 {
	font-size:14px;
	font-family: "geogrotesque_ullgultralight";
	padding-bottom:10px;
	color:#fff;
}
.news {
	color:#fff;
	border-left:1px solid #eee;
}
.news-inner{
	padding-left:15px;
}

.news-text {
	font-size:11px;
	padding-bottom:10px;
}
.atend-para {
	padding-bottom:30px;
}
.custom-form {
	height:25px;
	font-size:12px;
	padding-left:10px;
	width:135px;
}
.custom-btn {
	height:26px;
	background-color:#000;
	border:0px;
	width:70px;
}
.address {
	font-size:11px;
	padding-bottom:20px;
}
.news-bt {
	padding:5px 10px;
	background-color:#000;
}


.news-container{
	background:#f0f0f0;
	border-top:2px solid #1f1f1f;
}
.news-letter-box{
	position:relative;
	padding:20px 0;
}
.news-letter-box label{
	font-size:14px;
	font-family: 'robotolight';
	display:block;
	margin:0;
	font-weight:normal;
}
.news-email-box{
	position:relative;
}
.news-letter-box input{
	width:100%;
	background:#fff;
	height:45px;
	padding:15px 5px;
	font-size:14px;
	font-family: 'robotolight';
	border:none;
}
.news-letter-box button[type='submit']{
	width:90px;
	background:#1f1f1f;
	height:45px;
	color:#fff;
	text-transform:uppercase;
	position:absolute;
	right:0;
	top:0;
	border:none;
}

.social-icon-box{
	position:relative;
	float:right;
	padding:40px 0 20px;
	font-size:0;
}
.social-icon-box ul{
	margin:0;
	padding:0;
}
.social-icon-box ul li{
	list-style:none;
	display:inline-block;
	font-size:18px;
	border-right:1px solid #dadada;
	color:#aeaeae;
	padding:10px 15px;
	
	transition:all 0.5s ease-in;
	-moz-transition:all 0.5s ease-in;
	-webkit-transition:all 0.5s ease-in;
	-ms-transition:all 0.5s ease-in;
	-o-transition:all 0.5s ease-in;
}
.social-icon-box ul li:last-child{
	border-right:none;
}
.social-icon-box ul li a{
	color:#000;
	display:inline-block;
}
.blog_icon{
	background:url(../img/bloger_icon.png) no-repeat center right;
	padding:15px;
}
.wikipedia_icon{
	background:url(../img/wikipedia_icon.png) no-repeat center center;
	padding:13px;
}

.whatsup-icon{
	background:url(../img/whatsup_icon.png) no-repeat center left;
	padding:7px;
}

.copy-right{
	font-size:10px;
	color:#9a9a9a;
	font-family: 'robotolight';
	padding:15px 0;
}

.top-page-nav{
	padding:8px 0;
}
.top-page-nav p{
	text-transform:uppercase;
	font-size:12px;
	font-family: 'robotolight';
}
.top-page-nav a{
	color:#77a302;
}


/***************** SOBRE PAGE START ***************/
.sobre-banner{
	min-height:345px;
	background:url(../img/sobre_banner_bg.jpg) no-repeat top fixed;
	background-size:cover;
}

.sobre-bnner-content{
	width:100%;
	max-width:300px;
	float:right;
	margin-right:100px;
	margin-top:100px;
	text-align:center;
}
.sobre-bnner-content h3{
	font-size:32px;
	margin:0;
	margin-bottom:25px;
	font-family: 'geogrotesque_mdmedium';
	text-transform:uppercase;
}
.sobre-bnner-content p{
	font-size:16px;
	font-family: 'robotolight';
}

.quem{
	position:relative;
	max-width:660px;
	margin:0 auto;
	text-align:center;
}
.quem h4{
	font-family: 'robotoregular';
	font-size:18px;
	margin:35px 0 30px;
	text-align:center;
}
.quem p{
	font-size:14px;
	font-family: 'robotolight';
}
.quem button{
	background:#77a302;
	border:none;
	font-size:18px;
	font-family: 'geogrotesque_ullgultralight';
	padding:10px 30px;
	text-transform:uppercase;
	color:#fff;
	margin:35px 0;
}

.world-section{
	background:#f8f8f8 url(../img/sobre_map_bg.jpg) no-repeat center;
	padding:10px;
	min-height:500px;
}
.world-content{
	position:relative;
	margin-top:230px;
	width:100%;
	max-width:525px;
	float:right;
}
.world-content h3{
	font-family: 'robotoregular';
	text-transform:uppercase;
	font-size:18px;
	margin:0 0 20px;
}
.world-content ul{
	margin:0;
	padding:0;
}
.world-content ul li{
	font-family: 'robotolight';
	font-size:14px;
	list-style:inside;
	color:#000;
}
.goggle-section{
	position:relative;
	padding:30px;
}
.goggle-section h3{
	font-size:18px;
	font-family: 'robotoregular';
	margin-bottom:25px;
	text-transform:uppercase;
}
.goggle-container{
	position:relative;
	max-width:846px;
	margin:190px auto 230px;
}

/***************** SOBRE PAGE END ***************/


/***************** NAMIDIA PAGE START ************/
.namidia-heading-box{
	position:relative;
}
.namidia-heading-box h2{
	font-size:32px;
	margin-bottom:25px;
	font-family: 'geogrotesque_mdmedium';
	text-transform:uppercase;
}
.namidia-heading-box p{
	max-width:760px;
	font-size:24px;
	font-family: 'geogrotesque_ullgultralight';
	text-align:center;
	margin:0 auto
}
.namidia-list-box{
	position:relative;
	margin:30px 0;
	font-size:0;
}
.namidia-list-box ul{
	margin:0;
	padding:0;
}
.namidia-list-box ul li{
	list-style:none;
	display:inline-block;
	margin:10px 0;
	vertical-align: top;
}
.namidia-box1, .namidia-box2, .namidia-box3{
	height:230px;
	width:33.333%;
	position:relative;
	display:table;
	vertical-align:middle;
	padding:0 10px;
	overflow:hidden;
}
.namidia-box2{
	width:66.666%;
}
.namidia-box3{
	height:480px;
}
.gray-bg{
	background:#f8f8f8;
	height:100%;
	padding:0 15px;
}
.dinheiro{
	height:100%;
	background:#cc230e;
}
.dinheiro img{
	width:100%;
	margin:60px 0;
}
.vidade-logo, .vidade-contant{
	width:50%;
	position:relative;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	padding:0 15px;
}
.vidade-logo img{
	width:100%;
	margin:17px 0;
}
.vidade-contant p, .mph-contant p{
	font-size:16px;
	font-family: 'robotoregular';
	text-transform:uppercase;
}
.vidade-contant a, .mph-contant a{
	color:#000;
}
.vidade-contant a:hover, .mph-contant a:hover{
	text-decoration:none;
	color:#666;
}
.petiscos-box{
	position:relative;
	display:table;
	width:100%;
	height:100%;
	text-align:center;
}
.petiscos-box img{
	width:100%;
	max-width:230px;
	margin:115px 0 65px;
}
.petiscos-box p{
	font-size:16px;
	font-family: 'robotoregular';
	text-transform:uppercase;
	color:#000;
	width:80%;
	margin:0 auto;
}
.cm-moda{
	position:relative;
	text-align:center;
	
}
.cm-moda img, .jounge img, .yahoo img, .suacorrida img, .mdermulher img, .fator img, .guia img{
	width:100%;
	max-width:300px;
}
.jounge, .yahoo, .modait, .mdermulher, .fator, .dormir, .guia{
	background:#d1f2df;
	width:100%;
	height:100%;
	text-align:center;
	padding:0 15px;
}
.yahoo{
	background:#aa093a;
}
.yahoo img{
	margin-top:92px;
}
.suacorrida{
	text-align:center;
}
.suacorrida img{
	margin-top:65px;
}
.mph-logo, .mph-contant{
	position:relative;
	text-align:center;
	display:table-cell;
	width:50%;
	padding:0 15px;
}
.mph-logo img{
	width:100%;
	max-width:260px;
	margin-top:35px;
}
.modait{
	background:#000;
}
.modait img{
	width:100%;
	max-width:320px;
	margin-top:100px;
}
.mdermulher{
	background:#d9e8ef;
}
.mdermulher img{
	margin-top:65px;
}
.fator{
	background:#f1f1f1;
}
.fator img{
	margin-top:65px;
}
.dormir{
	background:#d5dde5;
	padding:0;
}
.dormir img{
	width:100%;
}
.guia{
	background:#18505d;
}
.guia img{
	margin-top:80px;
	max-width:210px;
}
.meterna{
	text-align:center;
}
.meterna img{
	width:100%;
	margin-top:62px;
}

/**************** 404 page start ***********/
.page-404-section{
	background-color: #01062d;
	background-size: 185px 185px, 185px 185px;
	background-position: -2px -2px, -2px -2px;
	background-image: 
					  -webkit-linear-gradient(rgba(255,255,255,.2) 1px, transparent 1px),
					  -webkit-linear-gradient(0, rgba(255,255,255,.1) 1px, transparent 1px);
	background-image: 
					  -moz-linear-gradient(rgba(255,255,255,.2) 1px, transparent 1px),
					  -moz-linear-gradient(0, rgba(255,255,255,.1) 1px, transparent 1px);
	background-image: 
					  linear-gradient(rgba(255,255,255,.2) 1px, transparent 1px),
					  linear-gradient(90deg, rgba(255,255,255,.1) 1px, transparent 1px);
	-pie-background: 
					 linear-gradient(rgba(255,255,255,.2) 1px, transparent 1px) -1px -1px / 20px,
					 linear-gradient(90deg, rgba(255,255,255,.1) 1px, transparent 1px) -1px -1px / 20px,
					 #269;
				 
	padding:40px 0;
	position:relative
}
.page-404-content{
	padding:25px 0;
	text-align:center;
}
.page-404-content h1, .page-404-content h3{
	font-size:32px;
	font-family: 'geogrotesque_mdmedium';
	margin:0;
	font-weight:normal;
	color:#fff;
	text-transform:uppercase;	
}
.page-404-content h3{
	font-size:24px;
	font-family: 'geogrotesque_ullgultralight';	
}
.page-404-content p{
	font-size:14px;
	font-family: 'robotolight';
	color:#fff;	
}
.goggle-404{
	padding:50px 0;
}
.page-404-contect{
	padding:50px 0 10px;
	max-width:460px;
	margin:0 auto;
	width:100%;
}
.page-404-contect p{
	font-family: 'robotoregular';
	font-size:18px;
}
.page-404-contect p span{
	float:right;
}
.page-404-contect a {
	color:#fff;
}
.page-404-contect a:hover {
	color:#ccc;
	text-decoration:none;
}
.page-404-products{
	position:relative;
	padding-top:50px;
}
.page-404-products h1{
	font-size:24px;
	font-family: 'geogrotesque_ullgultralight';
	color:#1f1f1f;
	margin-bottom:30px;
	text-transform:uppercase;
	text-align:center;
}
/**************** 404 page end ***********/

/**************** Obrigado page start ***********/
.obrigado-heading-box{
	position:relative;
	padding:15px 0;
}
.obrigado-heading-box h2{
	font-size:24px;
	font-family: 'geogrotesque_lglight';
	text-transform:uppercase;
}

.seu-container{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding-top: 30px;
}
.obrigado-number{
	text-align: center;
	padding-bottom: 30px;
}
.obrigado-number p{
	font-size:16px;
	font-family: 'robotolight';
}
.obrigado-number h1{
	font-size:36px;
	font-family: 'geogrotesque_lglight';
}
.obrigado-number a{
	color:#76a000;
}
.seu-box{
	position:relative;
	padding:0 15px;
	padding-bottom: 30px;
}
.seu-box h3{
	color:#595959;
	font-size:18px;
	font-family: 'robotoregular';
	text-transform:uppercase;
	padding-bottom:5px;
}
.seu-box p{
	color:#595959;
	font-size:14px;
	font-family: 'robotolight';
}
.btn-boleto{
	float:right;
	margin-top:15px;
	font-size:12px;
	font-family: 'robotolight';
	background:#76a000;
	color:#fff !important;
	text-transform:uppercase;
	padding:5px 10px;
}
.btn-boleto:hover{
	color:#fff;
}

.obrigado-container{
	position:relative;
	padding-top:25px;
}
.obrigado-box{
	border: 1px solid #ccc;
	padding: 30px;
	margin:15px;
	margin-bottom:40px;
	text-align: center;
}
.obrigado-box h3{
	font-size:18px;
	font-family: 'robotoregular';
	text-transform: uppercase;
}
.obrigado-box hr{
	border-top: 1px solid #ccc;
	margin: 30px 0;
}
.obrigado-box p{
	font-size:14px;
	font-family: 'robotolight';
}
.obrigado-box a{
	display: block;
	margin-top:20px;
	font-size:16px;
	font-family: 'robotolight';
	text-transform:uppercase;
	color:#76a000;
	text-decoration:underline;
}
.obrigado-box a:hover{
	text-decoration:none;
}

/**************** Obrigado page end ***********/

/**************** Cart page start ***********/
.cart-table, .checkout-table{
	position:relative;
	border-top:1px solid #ccc;
}
.checkout-table{
	margin-top:10px;
}
.cart-table table tr td, .checkout-table table tr td{
	width:25%;
}
.cart-table table thead tr th, .checkout-table table thead tr th{
	border-bottom:none;
}
.checkout-table table tbody tr:last-child td{
	border-top:none;
}
.cart-table table h3, .cart-table table h4, .checkout-table table h3, .checkout-table table h4{
	font-weight:normal;
	font-size:18px;
	font-family: 'robotoregular';
	text-transform:uppercase;
	color:#1f1f1f;
}

.cart-table table h4, .checkout-table table h4{
	font-size:14px;
}
.cart-table table p, .checkout-table table p{
	font-size:11px;
	font-family: 'robotolight';
}
.cart-table .removerk p{
	color:#aeaeae;
	font-size:12px;
	font-family: 'robotolight';
	text-transform:uppercase;
	text-align:center;
}

.cart-table >.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td, .checkout-table >.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
	vertical-align:middle;
}
.cart-table .cart-pro-img, .cart-table .cart-pro-detail, .cart-table .cart-pro-price, 
.checkout-table .cart-pro-img, .checkout-table .cart-pro-detail, .checkout-table .cart-pro-price, .checkout-table .cart-pro-lentes{
	padding:30px 0;
}
.cart-table .cart-pro-price, .checkout-table .cart-pro-price, .checkout-table .cart-pro-lentes{
	text-align:center;
}
.pdtb15{
	padding-top:15px !important;
	padding-bottom:15px !important;
}
.total-price{
	text-align:right;
	padding:15px 30px 15px 0 !important;
}
.btn-black, .btn-green{
	background:#1f1f1f;
	color:#fff !important;
	font-size:16px;
	font-family: 'robotoregular';
	padding:10px 0;
	display:inline-block;
	text-align:center;
	text-transform:uppercase;
	margin:15px 0 0; 
	width:100%;
	max-width:250px;
}
.btn-green{
	background:#77a302;
	margin-left:10px;
}
.btn-black:hover, .btn-green:hover{
	color:#fff;
}

/**************** Cart page end ***********/

/**************** Checkout page start ***********/
.chackout-setps-nav{
	position:relative;
}
.chackout-setps-nav ul{
	margin:0;
	padding:0;
	font-size:0;
}
.chackout-setps-nav ul li{
	display:inline-block;
	list-style:none;
	padding:15px 0;
	text-transform:uppercase;
}
.chackout-setps-nav ul li a{
	font-size:14px;
	font-family: 'robotolight';
	color:#818181;
	display:block;
}
.chackout-setps-nav ul li a:hover{
	color:#76a000;
	text-decoration:none;
}
.chackout-setps-nav ul li a:before{
	content:'';
	padding-right:15px;
}
.chackout-setps-nav ul li a:after{
	content:'>';
	padding-left:15px;
	
}
.chackout-setps-nav ul li:last-child a:after{
	content:'';
	padding-left:0;
}
.gray-light-bg{
	background:#f8f8f8;
	position:relative;
	padding-bottom:50px;
}
.checkout-heading{
	padding:20px 0 0;
}
.checkout-heading h1{
	font-family: 'geogrotesque_lglight';
	font-size:24px;
	color:#1f1f1f;
	text-align:center;
	text-transform:uppercase;
}
.checkout-heading h1 span{
	color:#8b8b8b;
}
.checkout-heading hr{
	margin-top:10px;
	border-color:#ccc;
}
.checkout-heading p{
	font-family: 'robotolight';
	font-size:16px;
	color:#1f1f1f;
	text-align:center;
}
.login-form-container{
	width:100%;
	max-width:900px;
	margin:20px auto;	
}
.checkout-login-box{
	padding:0 30px;
	margin-bottom:30px;
}
.checkout-login-box h2, .checkout-login-box h3{
	text-align:center;
	font-size:18px;
	font-family: 'robotoregular';
	text-transform:uppercase;
	font-weight:normal;
	margin:10px 0 40px;
}
.checkout-login-box h3{
	font-size:14px;
	font-family: 'robotolight';
	margin-bottom:15px;
}
.checkout-login-box h2 span{
	font-size:14px;
	font-family: 'robotolight';
	text-transform:none;
	line-height:22px;
	display:block;
}
.checkout-login-box form{
	padding:20px 15px;
	border:1px solid #ccc;
	background:#fff;
	min-height:373px;
}
.checkout-login-box label{
	font-weight:normal;
	font-size:14px;
	font-family: 'robotolight';
}
.checkout-login-box .form-info{
	text-align: right;
	width: 100%;
	font-size: 12px;
}
.checkout-login-box input{
	border:1px solid #ccc;
	border-radius:0;
}
.checkout-login-box hr{
	border-color:#ccc;
}
.login-form-btn{
	font-size:14px;
	background:#79a704;
	padding:5px 25px;
	text-align:center;
	color:#fff;
	text-transform:uppercase;
	border:none;
	margin:0 auto;
	display:block;
	font-family: 'geogrotesque_lglight';
}
.mtb30{
	margin-top:30px;
	margin-bottom:30px;
}
.mb10{
	margin-bottom:10px;
}
.fb-checkout{
	text-align:center;
}

.escolha-container{
	position:relative;
	margin-top:30px;
	padding-left:15px;
	padding-right:15px;
}
.esolha-box{
	position:relative;
}
.suas-left{
	position:relative;
	width: 25%;
	float:left;
	padding-right:15px;
}
.suas-left h3{
	font-size:14px;
	font-family: 'robotoregular';
	color:#79a704;
	text-align:center;
	text-transform:uppercase;
	padding:7px 0;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.suas-row1, .suas-row2, .suas-row3{
	padding:10px 0;
}
.suas-row2{
	background:#f8f8f8;
}
.suas-row3{
	margin-top:10px;
	border-top:1px solid #ccc;
}
.suas-left h4{
	font-size:14px;
	text-transform:uppercase;
	font-family: 'robotoregular';
}
.suas-left h4 span{
	float:right;
}

.suas-left p{
	font-size:12px;
	font-family: 'robotoregular';
	text-transform:uppercase;
}
.suas-left p span{
	color:#79a704;
	float:right;
}
.fnt11{
	font-size:11px !important;
	font-family: 'robotolight' !important;
	text-transform:none !important;
}
.suas-left h2{
	font-size:16px;
	text-transform:uppercase;
	font-family: 'robotoregular';
	text-align:right;
}
.suas-left h2 span{
	min-width:80px;
	float:right;
}

.susas-right{
	background:#f8f8f8;
	width: 75%;
	float:left;
	padding-left:15px;
	padding-right:15px;
}
.sem-grau-conatainer{
	padding:15px 0 0;
}
.sem-grau-conatainer h3{
	font-size:16px;
	text-transform:uppercase;
	font-family: 'robotoregular';
}
.sem-grau-conatainer h3 span{
	font-size:12px;
	color:#79a704;
	padding:0 20px;
}
.sem-grau-conatainer h3 .editar{
	font-size:14px;
	font-family: 'robotolight';
	color:#1f1f1f;
	float:right;
	text-transform:none;
	text-decoration:underline;
	padding:0;
}
.sem-grau-box{
	position:relative;
	padding:10px 5px 20px;
	width: 33.33333333%;
	float:left;
}
.sem2-box{
	width: 50%;
}
.sem-sim-box{
	float:left;
	padding:10px 5px 20px;
	position:relative;
}
.sem-grau-inner, .sem-sim-inner{
	border: 1px solid #ccc;
	padding: 15px 5px;
	text-align: center;
	min-height: 250px;
}
.sem-sim-inner{
	min-height: 110px;
}
.sem-grau-inner:hover, .sem-grau-inner.sem-active, .sem-sim-inner:hover, .sem-sim-inner.sem-active{
	border:1px solid #79a704;
}
.sem-heading, .sem-sim-heading{
	border-bottom:1px solid #ccc;
	min-height:60px;
	margin-bottom:30px;
}
.sem-sim-heading{
	margin-bottom:10px;
}
.sem-heading h2, .sem-grau-box h4, .sem-sim-heading h2, .sem-sim-box h4{
	font-size:18px;
	padding-top:15px;
	text-transform:uppercase;
	font-family: 'robotoregular';
}
.sem-grau-box h4{
	text-transform:none;
	padding:30px 0;
}
.sem-sim-heading h2, .sem-sim-box h4{
	padding:0;
}
.sem-grau-box p{
	font-size:14px;
	font-family: 'robotolight';
}
.fnt12{
	font-size:12px;
	font-family: 'robotolight';
}
.pdt10{
	padding-top: 10px;
}
.multifocal-box{
	border: 1px solid #ccc;
	margin-top: 10px;
	padding: 15px 30px;
}
.multifocal-box p{
	font-size:14px;
	font-family: 'robotolight';
	padding-bottom:15px;
}
.multifocal-form{
	position:relative;
	margin:10px auto 25px;
	max-width:550px;
}
.preencha-form{
	position:relative;
	margin:10px auto 25px;
	max-width:1000px;
}
.multifocal-form input.form-control, .multifocal-form textarea.form-control, .multifocal-form select.form-control, .preencha-form input.form-control{
	border:1px solid #a6a6a6;
	text-transform:uppercase;
	border-radius:0;
}
.multifocal-select25{
	width:25%;
	float:left;
}
.multifocal-select73{
	width:73%;
	margin-left:2%;
	float:left;
}
.multifocal-form textarea.form-control{
	min-height:100px;
}
.multifocal-form button, .preencha-form button{
	float:right;
	background:#79a704;
	font-size:18px;
	font-family: 'geogrotesque_rgregular';
	color:#fff;
	text-transform:uppercase;
	border:none;
	border-radius:0;
	padding:5px 25px;
}
.preencha-form button{
	float:none;
	margin: 0 auto;
	display: block;
	padding:8px 35px;
}
.multifocal-form button:hover, .preencha-form button:hover{
	text-decoration:underline;
}

#sem-grau1-cont, #sem-grau2-cont, #finas-cont, #nao-cont, #sem-grau3-cont{
	display:none;
}

.preencha-form h3{
	font-size:16px;
	padding:15px;
	text-transform:uppercase;
	font-family: 'robotoregular';
}
.preencha-form label{
	font-size:14px;
	text-transform:uppercase;
	font-family: 'robotoregular';
	color:#595959;
	font-weight:normal;
}
.close-icon{
	background:url(../img/close_icon.jpg) no-repeat;
	width:22px;
	height:22px;
	float:left;
	cursor:pointer;
	margin-right:10px;
}
.valor-frete{
	background:#f8f8f8;
	padding:60px 15px;
	margin-bottom:20px;
}
.valor-frete p{
	font-size:16px;
	font-family: 'robotolight';
	text-align:center;
}

.formade-box{
	position:relative;
	padding:10px 5px;
}
.formade-inner{
	padding:15px;
	min-height:210px;
	vertical-align:middle;
}
.formade-inner .formade-middle{
	padding:71px 0;
}
.formade-inner p{
	font-size:16px;
	text-transform:uppercase;
	font-family: 'robotoregular';
	padding-bottom:15px;
}
.formade-inner h2{
	font-size:24px;
	text-transform:uppercase;
	font-family: 'robotoregular';
	padding-bottom:15px;
	font-weight:normal;
	text-align:center;
}
.formade-inner .formade-middle p{
	text-align:center;
}
.cupom-form{
	position:relative;
	display:table;
	width:100%;
	font-size:0;
	margin-bottom:20px;
}
.cupom-form input{
	height:30px;
	display:table-cell;
	width:70%;
	border:1px solid #ccc;
	padding:8px;
	font-size:14px;
	font-family: 'robotoregular';
}
.cupom-form button{
	border:none;
	padding:5px 15px;
	width:28%;
	height:30px;
	font-size:14px;
	text-transform:uppercase;
	background:#79a704;
	color:#fff;
	margin-left:2%;
	display:table-cell;
	font-family: 'geogrotesque_rgregular';
}

.compra-box{
	padding:15px;
}
.black-line{
	border-color:#000;
	margin:10px 0 20px;
}
.compra-box img{
	width:100%;
	max-width:380px;
	display:block;
	margin:0 auto;
}
.checkout-total-price{
	text-align:center;
	padding:15px;
}
.checkout-total-price h4{
	padding:10px 0;
}
.cntr{
	margin:15px auto;
	display:block;
}
/**************** Checkout page end ***********/

/****************media start***********/

@media (max-width:1200px){

	.como-content-box{
		width: 23.12%;
		margin-bottom: 10px;	
	}
	.wd-43, .wd-22, .wd-75{
		width:100% !important;
	}
	.mrb-20{
		margin-bottom:20px;	
	}
	
}
@media (max-width:1199px){
	.namidia-box1, .namidia-box2, .namidia-box3{
		height:200px;
		display:inline-block;
	}
	.namidia-box3{
		height:420px;
		display:block;
		float:left;
	}
	.vidade-logo, .vidade-contant{
		display:inline-block;	
	}
	.vidade-logo img{
		margin:25px 0;
	}
	.petiscos-box{
		display:block;	
	}
	.petiscos-box img{
		margin: 85px 0 65px;
	}
	.mph-logo img{
		margin-top:20px;
	}
}


@media (max-width: 992px) {
	.como-content-box{
		width: 31.12%;	
	}
	.map img{
		width:100%;	
	}
	.banner-image h3{
		top:150px;
	}
	
	
	.navbar{
		height:auto;
		min-height:0;
	}
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
	
    .collapse.in{
  		display:block !important;
	}
	
	.navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
	
	.navbar-toggle{
		position:absolute;
		right:0;
		margin-top:-50px;
	}
	.bordr{
		border:none;
	}
	.custom-menu .nav  li a:hover{
		background:#f5f5f5;
	}
	
	.social-icon-box{
		float:none;
		text-align:center;
		padding:20px 0;
	}
	
	.banner-image h3.experiment-banner{
		top:200px;
	}
	.como-content-box, .como-experiment{
		width: 31.94%;
	}
	.namidia-box1, .namidia-box2, .namidia-box3{
		height:165px;
	}
	.namidia-box2{
		width:33.333%;
		height:350px;
	}
	.namidia-box3{
		height:350px;
	}
	.vidade-logo, .vidade-contant, .mph-logo, .mph-contant{
		width:100%;	
		display:block;
	}
	.vidade-logo img{
		margin:50px 0 65px;
	}
	.mph-logo img{
		margin:40px 0 50px;
	}
}
@media (max-width:767px){

	.como-content-box{
		width: 47.12%;	
	}
	.news{
		text-align:left;
		border:none;
		margin:30px 0;
	}
	.copy-right{
		text-align:center;	
	}
	.top-logo, .top-menu{
		text-align:left;
	}
	.banner-image h3{
		top:50%;
		right:0;
		left:50%;
		margin-left:-144px;
		margin-top:-17px
	}
	
	.banner-image h3.experiment-banner{
		margin-left:15px;
		top:150px;
		margin-top:0;
	}
	.social-icon-box ul li {
		padding: 0.5em 0.5em;
	}
	.como-content-box, .como-experiment{
		width: 47.5%;
	}
	
	.world-content{
		float:none;
		margin:100px auto 0;
	}
	.world-content h3{
		text-align:center;
	}
	.namidia-box1, .namidia-box2, .namidia-box3{
		width:50%;
		height:230px;
	}
	.namidia-box2, .namidia-box3{
		height:400px;
	}
	.btn-boleto{
		float:none;
	}
	.seu-box p, .seu-box h3{
		text-align:center;
	}
	.escolha-container{
		
		overflow-x:scroll;
	}
	.esolha-box{
		width:810px;
	}
	
	
	
	
	
	.wd-img img{
		width:100%;	
	}
}
@media (max-width:600px){
	.banner-image h3.experiment-banner{
		top:100px;
	}
	.cart-table{
		overflow-x:scroll;
	}
	.cart-table >.table{
		min-width:600px;
	}
}
@media (max-width:480px){
	.social-icon-box ul li {
		padding: 0.5em 0.3em;
	}
	.mobile-wd100{
		width:100%;
	}
	.small-list{
		margin-top:30px;
		padding-left:0;
	}
	.small-list:first-child{
		margin-top:0;
	}
	.formus{
		margin-bottom:30px;
		padding-left:0;
	}
	.banner-image h3.experiment-banner{
		top:60px;
	}
	.links-uteis{
		margin-top:30px !important;	
	}
	.world-section{
		min-height:100%;
		padding:30px 0;
	}
	.world-content{
		margin-top:50px;
	}
	.page-404-contect p span{
		float:none;
		display:block;
	}
}

@media (max-width:450px){

	.como-content-box{
		width: 100%;	
	}
	.sobre, .formus{
		width:100%;
	}
	.sobre{
		border:0px;
		margin-bottom:20px;
	}
	.namidia-box1, .namidia-box2, .namidia-box3{
		width:100%;
	}

}
@media (max-width:370px){
	.como-experiment{
		min-height:190px;
	}
	.como-content-box, .como-experiment{
		width:100%;
	}
}

