
<h1 class="sectionedit1" id="astigmatismo">Astigmatismo</h1>
<div class="level1">

<p>
<a href="/_detail/astigmatismo.jpg?id=astigmatismo" class="media" title="astigmatismo.jpg"><img src="/_media/astigmatismo.jpg?w=250&amp;tok=e559b8" class="mediaright" alt="" width="250" /></a>
Astigmatismo é uma deficiência visual, causada pelo formato irregular da córnea ou do cristalino, formando uma imagem em vários focos que se encontram que se encontram em eixos diferentes.  Uma córnea normal é redonda, enquanto nos astigmatas é mais ovalada.  Para pessoas que sofrem de astigmatismo, todos os objetos, próximos ou distantes, ficam distorcidos.
De origem hereditária, a correção pode ser feita por meio de lentes oftálmicas ou por cirurgia.
</p>

</div>
<!-- EDIT1 SECTION "Astigmatismo" [1-525] -->
<h3 class="sectionedit2" id="geral">Geral</h3>
<div class="level3">
<hr />

<p>
O astigmatimos ocorre quando a córnea apresenta uma maior curvatura em uma direção, distorcendo assim a visão. Sendo assim, os raios de luz, não chegam ao mesmo ponto na retina.
Existe dois tipos de astigmatismo, o regular e o irregular. Astigmatas regulares, mais comum dos tipos, podem ter a compensação através de óculos de grau e lentes de contato Já astigmatas irregulares – causado por cicatriz na córnea ou dispersão do cristalino, não podem ter a correção por óculos, apenas por lentes de contato rígidas.
</p>

</div>
<!-- EDIT2 SECTION "Geral" [526-1080] -->
<h3 class="sectionedit3" id="sintomas">Sintomas</h3>
<div class="level3">
<hr />

<p>
O astigmatismo brando pode ser assintomático. Já o astigmatismo mais intenso pode causas sintomas como visão desfocada, dor ao redor dos olhos, fadiga e dores de cabeça.
</p>

</div>
<!-- EDIT3 SECTION "Sintomas" [1081-1279] -->
<h3 class="sectionedit4" id="diagnostico">Diagnóstico</h3>
<div class="level3">
<hr />

<p>
O astigmatismo é facilmente diagnosticado com um exame oftalmológico ou um exame de refração.
Crianças ou outras pessoas que não respondem ao exame de refração podem ter sua refração medida por um exame que usa luz refletida (retinoscopia)
</p>

</div>
<!-- EDIT4 SECTION "Diagnóstico" [1280-1558] -->
<h3 class="sectionedit5" id="tratamento">Tratamento</h3>
<div class="level3">
<hr />

<p>
Óculos de grau, lentes de contato ou cirurgia refrativa são os principais métodos de tratamento do astigmatismo.
Pessoas que sofrem de ceratocone, lentes de contato rígidas de gás permeável geralmente permitem que o paciente atinja uma melhor acuidade visual. 
A técnica cirúrgica mais utilizada para o tratamento de astigmatismo é a LASIK (iniciais de Lase-Assisted in Situ Keratomileusis), onde o oftalmologista utiliza um laser extremamente preciso para remodelar a córnea, a fim de que a luz seja focalizada de forma adequada.
De acordo com o Instituto Nacional de Saúde e Excelência Clínica, do Reino Unido, os riscos de complicação para a cirurgia LASIK são de aproximadamente 1%, e tais complicações podem ser revertidas com uma nova cirurgia.
</p>

</div>
<!-- EDIT5 SECTION "Tratamento" [1559-2354] -->
<h3 class="sectionedit6" id="referencias">Referências</h3>
<div class="level3">
<hr />

<p>
<a href="http://www.wisegeek.com/what-is-irregular-astigmatism.htm" class="urlextern" target="_blank" title="http://www.wisegeek.com/what-is-irregular-astigmatism.htm"  rel="nofollow">http://www.wisegeek.com/what-is-irregular-astigmatism.htm</a><br/>

<a href="http://en.wikipedia.org/wiki/Astigmatism_(eye)" class="urlextern" target="_blank" title="http://en.wikipedia.org/wiki/Astigmatism_(eye)"  rel="nofollow">http://en.wikipedia.org/wiki/Astigmatism_(eye)</a><br/>

<a href="http://www.minhavida.com.br/saude/temas/astigmatismo" class="urlextern" target="_blank" title="http://www.minhavida.com.br/saude/temas/astigmatismo"  rel="nofollow">http://www.minhavida.com.br/saude/temas/astigmatismo</a><br/>

</p>

</div>
<!-- EDIT6 SECTION "Referências" [2355-] -->