
<h1 class="sectionedit1" id="gerenciador_de_configuracoes">Gerenciador de Configurações</h1>
<div class="level1">

<p>
Use essa página para controlar as configurações da instalação do seu DokuWiki. Para ajuda acerca dos itens, consulte <a href="http://www.dokuwiki.org/config" class="interwiki iw_doku" title="http://www.dokuwiki.org/config">config</a>. Para mais detalhes sobre esse plug-in, veja <a href="http://www.dokuwiki.org/plugin%3Aconfig" class="interwiki iw_doku" title="http://www.dokuwiki.org/plugin%3Aconfig">plugin:config</a>.
</p>

<p>
Definições que apresentem um fundo vermelho claro são protegidas e não podem ser alteradas com esse plug-in. As definições com um fundo azul são o padrão e as com um fundo branco foram configuradas localmente para essa instalação em particular. Tanto as definições em azul quanto as em branco podem ser alteradas.
</p>

<p>
Lembre-se de pressionar o botão <strong>Salvar</strong> antes de sair dessa página, caso contrário, suas configurações serão perdidas.
</p>

</div>
