<div id="Header">
<form>
<input name="" style="height:24px; width:264px; float:left; margin-left:480px; margin-top:32px; line-height:24px; vertical-align:middle" type="text" />
<input type="image" src="imagens/botao-buscar.jpg" style="float:left; margin-top:32px" />
</form>
</div>

