
<p>
<a href="/doku.php?id=ficheiro:ss-dalton.jpg" class="wikilink2" title="ficheiro:ss-dalton.jpg" rel="nofollow">thumb|right|[[John Dalton</a>, fonte: <a href="http://bit.ly/1kRp9UT]]" class="urlextern" title="http://bit.ly/1kRp9UT]]"  rel="nofollow">http://bit.ly/1kRp9UT]]</a>
</p>

<h5 id="causas">Causas</h5>
<div class="level5">

</div>

<h5 id="tipos_de_daltonismo">Tipos de daltonismo</h5>
<div class="level5">

</div>

<h5 id="diagnostico">Diagnóstico</h5>
<div class="level5">

</div>

<h5 id="tratamento">Tratamento</h5>
<div class="level5">

</div>

<h5 id="estatisticas">Estatísticas</h5>
<div class="level5">

</div>

<h5 id="referencias">Referências</h5>
<div class="level5">

</div>
