
<h1 class="sectionedit1" id="presbiopia">Presbiopia</h1>
<div class="level1">

<p>
<a href="/_detail/presbiopia.jpg?id=presbiopia" class="media" title="presbiopia.jpg"><img src="/_media/presbiopia.jpg?w=300&amp;tok=415742" class="mediaright" alt="" width="300" /></a>
Popularmente conhecida como “vista cansada”, a presbiopia é uma anomalia da visão que ocorre com o envelhecimento da pessoa. Essa anomalia é a perda de capacidade do cristalino de mudar seu foco para visualizar imagens próximas. Na maioria dos casos, ocorre por volta dos 40 anos de idade, podendo aparecer mais precocemente para pessoas com hipermetropia ou diabetes.
</p>

</div>
<!-- EDIT1 SECTION "Presbiopia" [1-429] -->
<h3 class="sectionedit2" id="sintomas">Sintomas</h3>
<div class="level3">
<hr />

<p>
Pessoas que começam a desenvolver a presbiopia sofrem de
•	Diminuição da capacidade de foca em objeto próximos
•	Fadiga ocular
•	Dor de cabeça
</p>

</div>
<!-- EDIT2 SECTION "Sintomas" [430-608] -->
<h3 class="sectionedit3" id="tratamento">Tratamento</h3>
<div class="level3">
<hr />

<p>
Não há cura para a presbiopia, mas ela pode ser corrigida com óculos ou lentes de contato. Em alguns casos, a adição de lente bifocais ou multifocais à uma prescrição de óculos existente é suficiente. Conforme a capacidade de foco para perto piora, a prescrição bifocal precisa ser reforçada.
As pessoas que não precisam de óculos para visão à distância podem apenas precisar de meio óculos ou óculos de leitura.
Com o uso das lentes de contato, algumas pessoas escolhem por corrigir um olho para a visão de perto e um olho para visão de longe. Isso é chamado de “monovisão” e elimina a necessidade de óculos bifocais ou óculos para leitura, mas pode afetar a percepção de profundidade.
Novos procedimentos cirúrgicos também podem fornecer soluções para pessoas que não querem usar óculos ou lentes de contato. A implantação de uma lente intraocular já possui aprovação na Europa para tratamento de presbiopia, dispensando de vez a necessidade de óculos para leitura.
</p>

</div>
<!-- EDIT3 SECTION "Tratamento" [609-1643] -->
<h3 class="sectionedit4" id="prevencao">Prevenção</h3>
<div class="level3">
<hr />

<p>
Atualmente não existe nenhuma prevenção para presbiopia cientificamente comprovada.
</p>

</div>
<!-- EDIT4 SECTION "Prevenção" [1644-1758] -->
<h3 class="sectionedit5" id="referencias">Referências</h3>
<div class="level3">
<hr />

<p>
<a href="http://www.minhavida.com.br/saude/temas/presbiopia" class="urlextern" target="_blank" title="http://www.minhavida.com.br/saude/temas/presbiopia"  rel="nofollow">http://www.minhavida.com.br/saude/temas/presbiopia</a><br/>

<a href="http://en.wikipedia.org/wiki/Presbyopia" class="urlextern" target="_blank" title="http://en.wikipedia.org/wiki/Presbyopia"  rel="nofollow">http://en.wikipedia.org/wiki/Presbyopia</a><br/>

</p>

</div>
<!-- EDIT5 SECTION "Referências" [1759-] -->