
<h1 class="sectionedit1" id="indice">Índice</h1>
<div class="level1">

<p>
Esse é um índice de todas as páginas disponíveis, ordenadas por <a href="http://www.dokuwiki.org/namespaces" class="interwiki iw_doku" title="http://www.dokuwiki.org/namespaces">domínios</a>.
</p>

</div>
