
<h1 class="sectionedit1" id="optometrista">Optometrista</h1>
<div class="level1">

<p>
<a href="/_detail/optometrista.jpg?id=optometrista" class="media" title="optometrista.jpg"><img src="/_media/optometrista.jpg?w=180&amp;tok=aeb8c3" class="mediaright" alt="" width="180" /></a>
Optometrista é o profissional que lida com os problemas da visão do ponto de vista físico. Diferentemente do oftalmologista - que pode realizar cirurgias, prescrever tratamentos e correções para alterações na visão - o optometrista tem como função avaliar a visão do paciente e alertar sobre problemas ou alterações oculares de origem não patológicas, tendo assim um papel mais preventivo e de adequação dos óculos e lentes para os hábitos dos pacientes.
</p>

</div>
<!-- EDIT1 SECTION "Optometrista" [1-530] -->
<h3 class="sectionedit2" id="geral">Geral</h3>
<div class="level3">
<hr />

<p>
O optometrista é o profissional especializado em optometria - estudo dos problemas de visão não patológicos sobre o ponto de vista físico. O optometrista não utiliza nenhum procedimento ou medicamento invasivo, ele só analisa e aplica técnicas qualitativas e quantitativas de avaliação da visão do paciente. Caso encontre qualquer problema ou alteração ocular de origem patológica, o optometrista encaminha o paciente a um especialista, pois seu papel é auxiliar a saúde visual, entretanto sem exercer atividade médica.  
</p>

</div>
<!-- EDIT2 SECTION "Geral" [531-1091] -->
<h3 class="sectionedit3" id="origem">Origem</h3>
<div class="level3">
<hr />

<p>
O termo optometria deriva etimologicamente do grego opto (visão) + metron (medição). Sendo então o optometrista quem realiza o estudo da visão a partir de medições físicas.
</p>

</div>
<!-- EDIT3 SECTION "Origem" [1092-1295] -->
<h3 class="sectionedit4" id="faculdade">Faculdade</h3>
<div class="level3">
<hr />

<p>
No Brasil, para ser um óptico optometrista é necessário possuir diploma de Curso Superior em Tecnologia em Optometria, certificado pelo Ministério da Educação e Cultura (MEC), ou um curso de Bacharelado em Optometrista. Algumas matérias que fazem parte da grade curricular do curso são: anatomia geral, histologia, matemática, óptica física, bioquímica, lentes oftalmológicas.
</p>

</div>
<!-- EDIT4 SECTION "Faculdade" [1296-1711] -->
<h3 class="sectionedit5" id="atuacao">Atuação</h3>
<div class="level3">
<hr />

</div>

<h4 id="brasil">Brasil</h4>
<div class="level4">

<p>
O Governo Brasileiro não reconhece legalmente o optometrista como profissão. Não permitindo assim a prescrição de receitas, medicamentos ou técnicas invasivas. Atualmente optometristas atuam como profissionais liberais em clínicas oftalmológicas com trabalho preventivo e de adequação dos óculos para cada paciente, bem como possuem ópticas ou atuam em área de ensino e pesquisa, para desenvolvimento de novos materiais.
</p>

</div>

<h4 id="estados_unidos">Estados Unidos</h4>
<div class="level4">

<p>
Médicos optometristas nos Estados Unidos são regulamentados, porém o campo de atuação varia de estado para estado. Diferentemente do Brasil, há a possibilidade de prescrição de medicamentos orais (como antivirais, antibióticos) e até medicamentos injetáveis. Em estados como Oklahoma, optometristas possuem permissão para realizar cirurgias.
</p>

</div>

<h4 id="europa">Europa</h4>
<div class="level4">

<p>
A prática da optometria na Europa é bem variada em cada país. Como no Brasil, na Alemanha não possui regulamentação para a prática, enquanto França e Inglaterra possuem regulamentação. Porém as faculdades que possuem ensino da optometria têm pressionado a União Europeia para regulamentar a profissão.
</p>

</div>
<!-- EDIT5 SECTION "Atuação" [1712-2897] -->
<h3 class="sectionedit6" id="referencias">Referências</h3>
<div class="level3">
<hr />

<p>
<a href="http://www.centro.otico.com.br/profissionais-saude/noticias/129-entrevista.html" class="urlextern" target="_blank" title="http://www.centro.otico.com.br/profissionais-saude/noticias/129-entrevista.html"  rel="nofollow">http://www.centro.otico.com.br/profissionais-saude/noticias/129-entrevista.html</a><br/>

<a href="http://en.wikipedia.org/wiki/Optometry" class="urlextern" target="_blank" title="http://en.wikipedia.org/wiki/Optometry"  rel="nofollow">http://en.wikipedia.org/wiki/Optometry</a><br/>

<a href="http://www.cboo.org.br/" class="urlextern" target="_blank" title="http://www.cboo.org.br/"  rel="nofollow">http://www.cboo.org.br/</a><br/>

<a href="http://www.abioptica.com.br/2010/blog/lerPost.asp?id=13919" class="urlextern" target="_blank" title="http://www.abioptica.com.br/2010/blog/lerPost.asp?id=13919"  rel="nofollow">http://www.abioptica.com.br/2010/blog/lerPost.asp?id=13919</a><br/>

</p>

</div>
<!-- EDIT6 SECTION "Referências" [2898-] -->