
<h1 class="sectionedit1" id="registre-se_como_um_novo_usuario">Registre-se como um novo usuário</h1>
<div class="level1">

<p>
Preencha todas as informações abaixo para criar uma nova conta nesse Wiki. Certifique-se de que você forneceu um <strong>endereço de e-mail válido</strong> - se não for pedido que você entre com uma senha aqui, ela será enviada para esse endereço. O nome de usuário deve ser um <a href="http://www.dokuwiki.org/pagename" class="interwiki iw_doku" title="http://www.dokuwiki.org/pagename">nome de página</a> válido.
</p>

</div>
