
<h1 class="sectionedit1" id="cirurgia_de_catarata">Cirurgia de catarata</h1>
<div class="level1">

<p>
<a href="/_detail/cirurgia_catarata.jpg?id=cirurgia_de_catarata" class="media" title="cirurgia_catarata.jpg"><img src="/_media/cirurgia_catarata.jpg?w=250&amp;tok=55e369" class="mediaright" alt="" width="250" /></a>
A cirurgia de catarata ou facectomia é a remoção do cristalino do olho que tornou-se opaco, referenciado como catarata.
Cristalino é uma lente que temos no nosso olho, que deve ser totalmente transparente. Com o passar dos anos e devido as variações metabólicas das fibras do cristalino induzidas principalmente pela radiação ultravioleta, essa lente natural perde a transparência, ficando opaca, amarelada. Isso é o que é chamado de catarata. A perda de transparência do cristalino causa diminuição da acuidade visual. 
Para a volta da transparência do cristalino, uma cirurgia é necessária. Na cirurgia a lente natural é removida e substituída por uma lente sintética, chamada lente intraocular, sendo assim recuperada a transparência.
</p>

</div>
<!-- EDIT1 SECTION "Cirurgia de catarata" [1-829] -->
<h3 class="sectionedit2" id="cirurgia">Cirurgia</h3>
<div class="level3">
<hr />

<p>
Atualmente existem duas técnicas de cirurgia de catarata. A facectomia extracapsular, onde é feita uma abertura grande no olho e a lente é implantada direto dentro do olho. Já a técnica mais moderna da cirurgia da catarata, chamada facoemulsificação, ocorre por uma abertura pequena no olho e a lente intraocular entra dobrada através dessa pequena abertura. Com isso, a inflamação no pós operatório é menor, os riscos são menores, a necessidade de fazer sutura (dar pontos) é menor ou mesmo inexistente. A facoemulsificação é muito superior à facectomia e isso contribuiu muito para o sucesso da cirurgia de catarata em todo o mundo. No entanto, a facoemulsificação envolve um custo muito elevado devidos aos equipamentos usados e a lente intraocular própria para esse tipo de técnica. Por isso, em alguns lugares, a técnica extracapsular ainda é utilizada.
A cirurgia é feita sob anestesia local, o paciente não precisa dormir no hospital (internação de curta permanência ou internação-dia). A taxa de sucesso supera os 90%, com uma taxa de complicações muito pequena.
</p>

</div>
<!-- EDIT2 SECTION "Cirurgia" [830-1960] -->
<h3 class="sectionedit3" id="cuidados_pos-cirurgicos">Cuidados pós-cirúrgicos</h3>
<div class="level3">
<hr />

<p>
Após a cirurgia, seus olhos podem ficarem sensíveis ao toque e até mesmo arranhar um pouco por alguns dias. Você talvez veja alguns brilhos. Com o tempo há a normalização do olho.
Colírios prescritos pelo médico deverão ser tomados nos horários indicados.
Não é permitido dirigir no primeiro dia após a cirurgia. Evite também esfregar o olho, usar maquiagem, atividade em que haja esforço.
</p>

</div>
<!-- EDIT3 SECTION "Cuidados pós-cirúrgicos" [1961-2409] -->
<h3 class="sectionedit4" id="referencias">Referências</h3>
<div class="level3">
<hr />

<p>
<a href="http://www.medicinenet.com/cataract_surgery/article.htm" class="urlextern" target="_blank" title="http://www.medicinenet.com/cataract_surgery/article.htm"  rel="nofollow">http://www.medicinenet.com/cataract_surgery/article.htm</a><br/>

<a href="http://www.nhs.uk/Conditions/Cataract-surgery/Pages/How-it-is-performed.aspx" class="urlextern" target="_blank" title="http://www.nhs.uk/Conditions/Cataract-surgery/Pages/How-it-is-performed.aspx"  rel="nofollow">http://www.nhs.uk/Conditions/Cataract-surgery/Pages/How-it-is-performed.aspx</a><br/>

<a href="http://en.wikipedia.org/wiki/Cataract_surgery" class="urlextern" target="_blank" title="http://en.wikipedia.org/wiki/Cataract_surgery"  rel="nofollow">http://en.wikipedia.org/wiki/Cataract_surgery</a><br/>

<a href="http://www.cirurgiadecatarata.com.br/seek-treatment-for-cataracts/immediately-to-24-hours-after.asp" class="urlextern" target="_blank" title="http://www.cirurgiadecatarata.com.br/seek-treatment-for-cataracts/immediately-to-24-hours-after.asp"  rel="nofollow">http://www.cirurgiadecatarata.com.br/seek-treatment-for-cataracts/immediately-to-24-hours-after.asp</a><br/>

</p>



</div>
<!-- EDIT4 SECTION "Referências" [2410-] -->