
<h1 class="sectionedit1" id="anatomia_do_olho_humano">Anatomia do Olho Humano</h1>
<div class="level1">

<p>
<a href="/_detail/anatomia_do_olho_humano.png?id=anatomia_do_olho_humano" class="media" title="anatomia_do_olho_humano.png"><img src="/_media/anatomia_do_olho_humano.png?w=250&amp;tok=831d5b" class="mediaright" alt="" width="250" /></a>
Anatomicamente o olho é um globo levemente assimétrico de aproximadamente 2,5 centímetros de diâmetro. A parte frontal do olho inclui córnea, esclera (branco do olho), íris, pupila, e cristalino. Já seu interior é composto basicamente do humor vítreo, canal hialoideo e retina.
</p>

</div>
<!-- EDIT1 SECTION "Anatomia do Olho Humano" [1-366] -->
<h3 class="sectionedit2" id="geral">Geral</h3>
<div class="level3">
<hr />

<p>
Acondicionado dentro de uma cavidade óssea, o olho humano possui em seu exterior seis músculos responsáveis pela movimentação do olho.
Dividindo o olho humano em três camadas, na camada mais externa temos a córnea e esclera, que são responsável pela proteção. Já íris, coroide e o corpo ciliar fazem parte da camada média. A camada interna é constituída da retina e seus vasos. Encontra-se no espaço interno do globo ocular o humor vítreo, substância gelatinosa responsável pela forma esférica do olho.
</p>

</div>
<!-- EDIT2 SECTION "Geral" [367-912] -->
<h3 class="sectionedit3" id="cornea">Córnea</h3>
<div class="level3">
<hr />

<p>
Com função de proteção dos olhos, a córnea fica localizada na parte mais externa do olho, tendo contato direto com o exterior.
Por não possuir vaso sanguíneo a estrutura da córnea é praticamente totalmente transparente.
Caso a córnea desenvolva alguma opacidade, irregularidade ou edema, é possível a substituição da córnea por uma saudável através do transplante de córnea.
</p>

</div>
<!-- EDIT3 SECTION "Córnea" [913-1329] -->
<h3 class="sectionedit4" id="esclera">Esclera</h3>
<div class="level3">
<hr />

<p>
A esclera, popularmente conhecida como “branco do olho” reveste o globo ocular. Os seis músculos responsáveis pelo movimento do olho estão ligados à esclera.
Nas crianças a esclera possui coloração azulada, enquanto nos idosos, devido ao acúmulo de gordura, adquire uma cor mais amarelada.
</p>

</div>
<!-- EDIT4 SECTION "Esclera" [1330-1655] -->
<h3 class="sectionedit5" id="iris">Íris</h3>
<div class="level3">
<hr />

<p>
Parte colorida e de maior visibilidade do olho, a íris é responsável por controlar o diâmetro da pupila, controlando assim a quantidade de luz que chegará a retina.
A íris é dividia em duas principais regiões:
</p>
<ul>
<li class="level1"><div class="li"> Zona pupilar; região interna cuja borda forma a fronteira com a pupila</div>
</li>
<li class="level1"><div class="li"> Zona ciliar; resto da íris que se estende até o corpo ciliar</div>
</li>
</ul>

<p>
Dependendo da cor da íris, cada olho tem uma leve diferença de sensibilidade à luz. Por exemplo, um olho com íris de pigmentação azul ficará mais incomodado ao sair na rua com o sol muito forte que uma pessoa com íris castanho escuro.
</p>

</div>
<!-- EDIT5 SECTION "Íris" [1656-2282] -->
<h3 class="sectionedit6" id="pupila">Pupila</h3>
<div class="level3">
<hr />

<p>
Situada entre a córnea e o cristalino, e exatamente no meio da íris, é responsável pela passagem de luz do meio exterior para a retina. Por não haver iluminação na parte interna dos olhos, sua aparência é completamente preta.
Nos humanos possui formato circular, enquanto em felinos possui orientação vertical pois aumenta a percepção do deslocamento no plano horizontal, facilitando a visualização de suas presas.
</p>

</div>
<!-- EDIT6 SECTION "Pupila" [2283-2735] -->
<h3 class="sectionedit7" id="cristalino">Cristalino</h3>
<div class="level3">
<hr />

<p>
O cristalino é a lente natural do olho, por onde os raios luminosos que entram pela íris passam. A função do cristalino é convergir tais raios em direção a retina, para os fotorreceptores serem capazes de receber a informação corretamente. Essa função é atingida através da sua capacidade de alterar sua dioptria, focando imagens distantes e de perto. Com o avanço da idade esta capacidade diminui, surgindo a presbiopia.
</p>

</div>
<!-- EDIT7 SECTION "Cristalino" [2736-3198] -->
<h3 class="sectionedit8" id="retina">Retina</h3>
<div class="level3">
<hr />

<p>
Composta por células sensíveis à luz, chamadas de fotorreceptores, a retina é responsável por absorver toda luz que entra no olho e transformar essa luz em sinais emitidos para o nervo óptico que serão traduzidos pelo cérebro. Essa transmissão de sinais através da absorção de luz é feita pelas células: bastonetes, cones e células ganglionares.
</p>

</div>
<!-- EDIT8 SECTION "Retina" [3199-3582] -->
<h3 class="sectionedit9" id="humor_vitreo">Humor Vítreo</h3>
<div class="level3">
<hr />

<p>
Também conhecido por corpo vítreo, é a substância gelatinosa que se encontra entre o cristalino e a retina. Tal substância é produzida pelas células do corpo ciliar. Como esse fluído permanece estagnado no interior do globo ocular, sangue ou células vindas de inflamações que entrem em contato com o fluído permanecerão no humor vítreo até serem removidos cirurgicamente, se assim necessário.
</p>

</div>
<!-- EDIT9 SECTION "Humor Vítreo" [3583-4022] -->
<h3 class="sectionedit10" id="canal_hialoideo">Canal Hialoideo</h3>
<div class="level3">
<hr />

<p>
O canal hialoideo é um canal transparente que vai do cristalino ao nervo óptico, tem como função variar seu volume de forma inversa a variação de volume do cristalino (ver “6. Cristalino”, de modo a deixar o volume do olho constante.
</p>

</div>
<!-- EDIT10 SECTION "Canal Hialoideo" [4023-4298] -->
<h3 class="sectionedit11" id="nervo_optico">Nervo Óptico</h3>
<div class="level3">
<hr />

<p>
Ligando os fotorreceptores da retina ao lóbulo occipital do cérebro, a função do nervo óptico é transmitir as informações captadas pelos cones e bastonetes presentes na retina e enviar ao lóbulo occipital onde tais informações serão processadas gerando resultados de cor, forma, tamanho, distância e noções de espaço que são presentes em nossa visão.
</p>

</div>
<!-- EDIT11 SECTION "Nervo Óptico" [4299-4697] -->
<h3 class="sectionedit12" id="referencias">Referências</h3>
<div class="level3">

<p>
<a href="http://pt.wikipedia.org/wiki/Olho_humano" class="urlextern" target="_blank" title="http://pt.wikipedia.org/wiki/Olho_humano"  rel="nofollow">http://pt.wikipedia.org/wiki/Olho_humano</a><br/>

<a href="http://en.wikipedia.org/wiki/Iris_(anatomy)" class="urlextern" target="_blank" title="http://en.wikipedia.org/wiki/Iris_(anatomy)"  rel="nofollow">http://en.wikipedia.org/wiki/Iris_(anatomy)</a> <br/>

<a href="http://clearvieweye.net/blog/?p=829" class="urlextern" target="_blank" title="http://clearvieweye.net/blog/?p=829"  rel="nofollow">http://clearvieweye.net/blog/?p=829</a><br/>

<a href="http://drauziovarella.com.br/corpo-humano/esclera/" class="urlextern" target="_blank" title="http://drauziovarella.com.br/corpo-humano/esclera/"  rel="nofollow">http://drauziovarella.com.br/corpo-humano/esclera/</a><br/>

<a href="http://www.laboratoriorigor.com.br/anatomia.html" class="urlextern" target="_blank" title="http://www.laboratoriorigor.com.br/anatomia.html"  rel="nofollow">http://www.laboratoriorigor.com.br/anatomia.html</a><br/>

<a href="http://en.wikipedia.org/wiki/Vitreous_humour" class="urlextern" target="_blank" title="http://en.wikipedia.org/wiki/Vitreous_humour"  rel="nofollow">http://en.wikipedia.org/wiki/Vitreous_humour</a> <br/>

<a href="http://www.eyes.com/eye-anatomy-optic-nerve.html/" class="urlextern" target="_blank" title="http://www.eyes.com/eye-anatomy-optic-nerve.html/"  rel="nofollow">http://www.eyes.com/eye-anatomy-optic-nerve.html/</a>
</p>

</div>
<!-- EDIT12 SECTION "Referências" [4698-] -->