
<h1 class="sectionedit1" id="estrabismo">Estrabismo</h1>
<div class="level1">

<p>
<a href="/_detail/estrabismo.jpg?id=estrabismo" class="media" title="estrabismo.jpg"><img src="/_media/estrabismo.jpg?w=300&amp;tok=b7510d" class="mediaright" alt="" width="300" /></a>
O estrabismo é um distúrbio que afeta o paralelismo entre os dois olhos, fazendo com que eles apontem para direções diferentes. Existem três formas de estrabismo, convergente (esotropia) – quando um ou ambos os olhos se movem para dentro; divergente (exotropia) - quando um ou os dois olhos se deslocam para fora; e vertical (hipertropia) – quando o deslocamento ocorre para baixo ou para cima. 
O estrabismo pode surgir nos primeiros meses de vida, nas crianças maiores e nos adultos por diferentes razões. Até os primeiros meses de idade, a falta de controle do movimento dos olhos não caracteriza a alteração.
</p>

</div>
<!-- EDIT1 SECTION "Estrabismo" [1-680] -->
<h3 class="sectionedit2" id="tipos">Tipos</h3>
<div class="level3">
<hr />

<p>
O estrabismo pode apresentar-se de três maneiras:
</p>
<ul>
<li class="level1"><div class="li"> <strong>Concomitantes</strong>: O desvio dos olhos é permanentemente observado. Pode ser monocular – quando apenas um olho se desvia – ou alternado – quando ora um olho se desvia ora outro olho.</div>
</li>
<li class="level1"><div class="li"> <strong>Intermitentes</strong>: O desvio não é continuo, ora os olhos estão alinhados e ora há o desvio.</div>
</li>
<li class="level1"><div class="li"> <strong>Latentes</strong>: Quando a perda de alinhamento só fica visível sob certas condições, como em fotografias.</div>
</li>
</ul>

</div>
<!-- EDIT2 SECTION "Tipos" [681-1157] -->
<h3 class="sectionedit3" id="causas">Causas</h3>
<div class="level3">
<hr />

<p>
O movimento dos olhos é controlado por seis pares de músculos comandados pelos nervos cranianos que, por sua vez, estão conectados ao sistema nervoso central. Esses músculos precisam agir em perfeito equilíbrio e sincronia para que os olhos permaneçam alinhados.
Entretanto, alguns fatores podem comprometer esse funcionamento harmônico e provocar o estrabismo. Entre as causas prováveis, destacam-se: dificuldade motora para coordenar o movimento dos dois olhos; grau elevado de hipermetropia, que obriga forçar a aproximação dos olhos para compensar a dificuldade de visão (endotropia acomodativa); baixa visão em um dos olhos; doenças neurológicas (AVC, paralisia cerebral, traumas), genéticas (síndrome de Down), oculares (catarata congênita), infecciosas (meningite, encefalite), da tireoide, diabetes e hereditariedade.
</p>

</div>
<!-- EDIT3 SECTION "Causas" [1158-2024] -->
<h3 class="sectionedit4" id="sintomas">Sintomas</h3>
<div class="level3">
<hr />

<p>
Os sinais do estrabismo variam de acordo com a idade em que a alteração se manifesta. Como a visão se desenvolve fundamentalmente nos seis primeiros anos de vida, tal período é um período de plasticidade sensorial. Então, se o estrabismo aparece na infância, não desenvolve a chamada visão dupla.
Para adultos e crianças maiores que desenvolvem o estrabismo, a visão dupla é presente, sendo uma das principais queixas, bem como dor de cabeça e torcicolo (já que o estrábico tende a inclinar a cabeça na direção do olho não desalinhado para enxergar melhor.
</p>

</div>
<!-- EDIT4 SECTION "Sintomas" [2025-2626] -->
<h3 class="sectionedit5" id="tratamento">Tratamento</h3>
<div class="level3">
<hr />

<p>
O tratamento do estrabismo começa pela correção das causas que provocaram o distúrbio. Quanto antes for instituído, melhores e mais rápidos serão os resultados. As medidas terapêuticas têm por objetivo principal corrigir os problemas visuais e incluem aplicação de colírios, uso de óculos, exercícios ortóticos para o fortalecimento dos músculos, tamponamento do olho com visão normal para estimular o outro com deficiência, especialmente nos casos de ampliopia, conhecidos popularmente como olho preguiçoso.
A cirurgia só é recomendada quando o desvio se mantém depois de corrigido o distúrbio que comprometia a visão. O tamanho do desvio é que determina se os músculos de apenas um ou dos dois olhos devem ser operados.
Em alguns casos selecionados, a aplicação de toxina botulinica representa uma alternativa para a correção do desvio.
</p>

</div>
<!-- EDIT5 SECTION "Tratamento" [2627-3522] -->
<h3 class="sectionedit6" id="referencia">Referência</h3>
<div class="level3">
<hr />

<p>
<a href="http://www.webmd.com/eye-health/strabismus" class="urlextern" target="_blank" title="http://www.webmd.com/eye-health/strabismus"  rel="nofollow">http://www.webmd.com/eye-health/strabismus</a><br/>

<a href="http://drauziovarella.com.br/letras/e/estrabismo/" class="urlextern" target="_blank" title="http://drauziovarella.com.br/letras/e/estrabismo/"  rel="nofollow">http://drauziovarella.com.br/letras/e/estrabismo/</a><br/>

<a href="http://en.wikipedia.org/wiki/Strabismus" class="urlextern" target="_blank" title="http://en.wikipedia.org/wiki/Strabismus"  rel="nofollow">http://en.wikipedia.org/wiki/Strabismus</a><br/>

</p>

</div>
<!-- EDIT6 SECTION "Referência" [3523-] -->