
<h1 class="sectionedit1" id="daltonismo">Daltonismo</h1>
<div class="level1">
<hr />

<p>
<a href="/_detail/daltonismo.jpg?id=daltonismo" class="media" title="daltonismo.jpg"><img src="/_media/daltonismo.jpg?w=250&amp;tok=be4cf0" class="mediaright" alt="" width="250" /></a>
O daltonismo (também chamado de discromatopsia ou discromopsia) é uma perturbação da percepção visual caracterizada pela incapacidade de diferenciar determinadas cores. Esta perturbação tem normalmente origem genética, mas pode também resultar de lesão nos órgãos responsáveis pela visão, ou lesão de origem neurológica. 
Como o daltonismo esta geneticamente ligado ao cromossomo X, ocorre com maior frequência entre os homens, que 
possuem apenas um cromossomo X, enquanto as mulheres possuem dois.
Os daltônicos apresentam dificuldade na percepção de determinadas cores primárias, como o verde e o vermelho, o que se repercute na percepção das restantes cores do espectro de cores.
Os mais comuns tipos de daltonismo são: deuteranomalia, protanopia e tritanopia.
</p>

</div>
<!-- EDIT1 SECTION "Daltonismo" [1-849] -->
<h3 class="sectionedit2" id="causa">Causa</h3>
<div class="level3">
<hr />

<p>
Geralmente o daltonismo tem origem genética (hereditário). O gene responsável pela condição é ligada ao cromossomo X, fazendo com que homens (que possuem apenas um cromossomo X) tenham maior incidência de daltonismo. O daltonismo hereditário tem condição estável durante toda a vida, não ficando pior ou melhor.
Tem-se também o daltonismo adquirido através de doenças crônicas como Alzheimer, diabetes melito, glaucoma, leucemia, alcoolismo, esclerose múltipla, Parkinson, bem como através de acidentes que afetam a retina ou áreas do cérebro responsáveis pela visão. Diferentemente do daltonismo de origem hereditária, o daltonismo adquirido pode variar com o tempo, podendo piorar ou estabilizar.
Estudos sobre a exata causa física do daltonismo ainda estão sendo feitos, porém acredita-se que o daltonismo é causado pela falta de cones (receptores de cores da retina).
</p>

</div>
<!-- EDIT2 SECTION "Causa" [850-1768] -->
<h3 class="sectionedit3" id="tipos_de_daltonismo">Tipos de daltonismo</h3>
<div class="level3">
<hr />

<p>
Existem três grupos de discromatopsias: monocromacias, dicromacias e tricromacias anómalas.
</p>

<p>
<strong>Monocromacia</strong> ocorre quando não há nenhuma recepção de cores.
</p>
<ul>
<li class="level1"><div class="li"> O monocromata típico é caracterizado pelo monocromatismo de bastonetes, que corresponde a uma discriminação de cores nulas pela falta de cones. Ocorre na população humana com uma incidência de 0,003% nos homens e de 0,002% nas mulheres. Essa característica é frequente em animais, como aqueles de hábitos noturnos, peixes abissais, cachorros e pinguins.</div>
</li>
</ul>

<p>
A <strong>dicromacia</strong>, que resulta da ausência de um tipo específico de cones, pode apresentar-se sob a forma de:
</p>
<ul>
<li class="level1"><div class="li"> protanopia, em que há ausência na retina de cones “vermelhos”, resultando na impossibilidade de discriminar cores no segmento verde-amarelo-vermelho do espectro. Há igualmente menor sensibilidade à luz na parte do espectro acima do laranja.</div>
</li>
<li class="level1"><div class="li"> deuteranopia, em que há ausência de cones “verdes”, resultando, igualmente, na impossibilidade de discriminar cores no segmento verde-amarelo-vermelho do espectro. Trata-se da que afetou John Dalton.</div>
</li>
<li class="level1"><div class="li"> tritanopia, em que há ausência de cones “azuis” ou de comprimento de onda curta, resultando na impossibilidade de ver cores na faixa azul-amarelo.</div>
</li>
</ul>

<p>
A <strong>tricromacia anómala</strong> resulta de uma mutação no pigmento dos fotorreceptores dos cones retinianos, e manifesta-se em três anomalias distintas:
</p>
<ul>
<li class="level1"><div class="li"> protanomalia, presença de uma mutação do pigmento sensível às frequências mais baixas (“cones vermelhos”). Resulta numa menor sensibilidade ao vermelho e num escurecimento das cores perto das frequências mais longas (que pode levar à confusão entre vermelho e preto).</div>
</li>
<li class="level1"><div class="li"> deuteranomalia, presença de uma mutação do pigmento sensível às frequências intermédias (“cones verdes”). Resulta numa maior dificuldade em discriminar o verde. É o mais comum dos casos, responsável por cerca de metade dos casos de daltonismo.</div>
</li>
<li class="level1"><div class="li"> tritanomalia, presença de uma mutação do pigmento sensível às frequências maiores (“cones azuis”). Forma mais rara de todas – atingindo cerca de 0,0001% da população – a tritanomalia impossibilita a discriminação de cores na faixa do azul-amarelo.</div>
</li>
</ul>

</div>
<!-- EDIT3 SECTION "Tipos de daltonismo" [1769-4010] -->
<h3 class="sectionedit4" id="diagnostico">Diagnóstico</h3>
<div class="level3">
<hr />

<p>
O daltonismo pode ser difícil de detectar, principalmente na infância, uma vez que a criança não é capaz de detectar alguma perturbação na visão, pois seus pais dizem que determinado objeto é vermelho e a criança associa “vermelho” com a cor que ela realmente enxerga. Por isso, aconselha-se exames de vista rotineiros em crianças para detectar ametropias como miopia, hipermetropia, e também o daltonismo.
Existem vários métodos de identificar o daltonismo, um dos mais conhecidos é o teste de cores de Ishihara, que consiste na exibição de uma série de cartões coloridos que utilizam de pequenas variações de cores para exibir números, que são imperceptíveis para os daltônicos. Em <a href="http://bit.ly/testedaltonismo" class="urlextern" target="_blank" title="http://bit.ly/testedaltonismo"  rel="nofollow">http://bit.ly/testedaltonismo</a> consegue-se fazer o teste online (Atenção: não utilize como parecer definitivo, apenas oftalmologistas especializados podem determinar com precisão o diagnóstico).
</p>

</div>
<!-- EDIT4 SECTION "Diagnóstico" [4011-4950] -->
<h3 class="sectionedit5" id="tratamento">Tratamento</h3>
<div class="level3">
<hr />

<p>
Atualmente não existe nenhum tipo de tratamento conhecido para quem possuí o daltonismo hereditariamente. Para aqueles que adquiriram daltonismo devido a danos causado à retina ou ao cérebro é possível reverter o quadro através de tratamentos ou cirurgias.
</p>

</div>
<!-- EDIT5 SECTION "Tratamento" [4951-5239] -->
<h3 class="sectionedit6" id="estatisticas">Estatísticas</h3>
<div class="level3">
<hr />
<div class="table sectionedit7"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0 leftalign">                 </th><th class="col1 leftalign"> Homens        </th><th class="col2 leftalign"> Mulheres          </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0 leftalign">Dicromacia	</td><td class="col1 leftalign">2,4%	</td><td class="col2">0,03%</td>
	</tr>
	<tr class="row2">
		<td class="col0 leftalign">Protanopia	</td><td class="col1 leftalign">1,3%	</td><td class="col2">0,02%</td>
	</tr>
	<tr class="row3">
		<td class="col0 leftalign">Deuteranopia	</td><td class="col1 leftalign">1,2%	</td><td class="col2">0,01%</td>
	</tr>
	<tr class="row4">
		<td class="col0 leftalign">Tritaopia	</td><td class="col1 leftalign">0,001%	</td><td class="col2">0,001%</td>
	</tr>
	<tr class="row5">
		<td class="col0 leftalign">Tricomacia Anómala	</td><td class="col1 leftalign">6,3%	</td><td class="col2">0,37%</td>
	</tr>
	<tr class="row6">
		<td class="col0 leftalign">Protanomalia	</td><td class="col1 leftalign">1,3%	</td><td class="col2">0,02%</td>
	</tr>
	<tr class="row7">
		<td class="col0 leftalign">Deuteranomalia	</td><td class="col1 leftalign">5,0%	</td><td class="col2">0,35%</td>
	</tr>
	<tr class="row8">
		<td class="col0 leftalign">Tritanomalia	</td><td class="col1 leftalign">0,0001%	</td><td class="col2">0,0001%</td>
	</tr>
</table></div>
<!-- EDIT7 TABLE [5268-5557] -->
</div>
<!-- EDIT6 SECTION "Estatísticas" [5240-5559] -->
<h3 class="sectionedit8" id="referencias">Referências</h3>
<div class="level3">
<hr />

<p>
<a href="http://en.wikipedia.org/wiki/Color_blindness" class="urlextern" target="_blank" title="http://en.wikipedia.org/wiki/Color_blindness"  rel="nofollow">http://en.wikipedia.org/wiki/Color_blindness</a><br/>

<a href="http://www.colourblindawareness.org/" class="urlextern" target="_blank" title="http://www.colourblindawareness.org/"  rel="nofollow">http://www.colourblindawareness.org/</a><br/>

<a href="http://www.colour-blindness.com/pt/colour-blindness-tests/ishihara-colour-test-plates/" class="urlextern" target="_blank" title="http://www.colour-blindness.com/pt/colour-blindness-tests/ishihara-colour-test-plates/"  rel="nofollow">http://www.colour-blindness.com/pt/colour-blindness-tests/ishihara-colour-test-plates/</a>
</p>

</div>
<!-- EDIT8 SECTION "Referências" [5560-] -->