
<h1 class="sectionedit1" id="descolamento_de_retina">Descolamento de retina</h1>
<div class="level1">

<p>
<a href="/_detail/descolamento_de_retina.jpg?id=descolamento_de_retina" class="media" title="descolamento_de_retina.jpg"><img src="/_media/descolamento_de_retina.jpg?w=250&amp;tok=0815d0" class="mediaright" alt="" width="250" /></a>
Deslocamento de retina é uma enfermidade do olho caracterizada pela separação das camadas de suporte de nutrição das camadas fotossensíveis. Geralmente causa por trauma, ou por uma existência prévia de uma pequena ruptura da camada fotossensível, onde o fluido intraocular entra e força a separação das camadas.
Indolor, o deslocamento de retina pode ser percebido quando a visão começa a ficar borrada, flashes de luzes aparecem na visão periférica, e cegueira parcial em pequenas partes do campo visual.
</p>

</div>
<!-- EDIT1 SECTION "Descolamento de retina" [1-598] -->
<h3 class="sectionedit2" id="geral">Geral</h3>
<div class="level3">
<hr />

<p>
A retina é uma fina membrana flexível que reveste a superfície interna da parte posterior do globo ocular. Nela existem receptores fotossensíveis que convertem a imagem vista em impulsos elétricos que serão posteriormente interpretados pelo cérebro.
A retina não possui nenhum elemento de fixação que a prenda ao globo ocular, apenas a pressão interna do vítreo garante sua posição adequada, bem como sua nutrição.
Com o deslocamento de retina, o fornecimento de nutrientes é interrompido, causando a degeneração celular da retina.
</p>

</div>
<!-- EDIT2 SECTION "Geral" [599-1171] -->
<h3 class="sectionedit3" id="causas">Causas</h3>
<div class="level3">
<hr />

<p>
Os descolamentos de retina podem ser provocados por uma ruptura por onde penetra o vítreo – substância gelatinosa - que se deposita entre a camada da retina onde estão os fotorreceptores e a camada onde se localizam os vasos sanguíneos que lhe fornecem nutrientes.
Os descolamentos podem ocorrer, também, não por ruptura, mas por tração ou repuxamento na região da retina onde se formaram aderências em virtude de alterações no vítreo, que se torna mais fluido com o passar da idade ou, ainda, podem ser provocados por tumores ou doenças inflamatórias que favorecem o acúmulo do fluido sob a retina.
</p>

</div>
<!-- EDIT3 SECTION "Causas" [1172-1812] -->
<h3 class="sectionedit4" id="sintomas">Sintomas</h3>
<div class="level3">
<hr />

<p>
O deslocamento de retina não gera nenhuma dor. Os sintomas são:
•	Visão turva e borrada
•	Flashes luminosos
•	A sensação de insetos voando diante de seus olhos
•	Sombra na visão periférica ou central
•	Em casos graves, perda completa da visão
</p>

</div>
<!-- EDIT4 SECTION "Sintomas" [1813-2098] -->
<h3 class="sectionedit5" id="diagnostico">Diagnóstico</h3>
<div class="level3">
<hr />

<p>
Apresentando qualquer um dos sintomas, um médico deve ser procurado o mais rápido possível.
Então mapeamento da retina, oftalmoscopia indireta e ultrassom ocular são exames capazes de detectar o deslocamento de retina.
</p>

</div>
<!-- EDIT5 SECTION "Diagnóstico" [2099-2351] -->
<h3 class="sectionedit6" id="tratamento">Tratamento</h3>
<div class="level3">
<hr />

<p>
O tipo de tratamento depende diretamente da gravidade do descolamento de retina.
Quando o deslocamento ocorre e o paciente rapidamente procura um médico, fazendo com que o liquido vítreo não infiltre no espaço que se abriu com a ruptura da retina, recursos terapêuticos como fotocoagulação com laser e criopexia (congelamento) são suficientes para formar cicatrizes que interrompam a ruptura e favoreçam a fixação da retina.
</p>

<p>
Já quando há a infiltração do vítreo, apenas cirurgia é capaz de reverter o trauma. Isso pode ser feito pelas seguintes técnicas operatórias:
</p>
<ol>
<li class="level1"><div class="li"> Retinopatia pneumática - injeção de gás na cavidade ocupada pelo vítreo, como forma de pressionar a área descolada da retina e impedir a passagem desse gel pela fenda que se formou. Tanto o gás injetado, quanto o fluido sob a retina serão aos poucos reabsorvidos pelo organismo;</div>
</li>
<li class="level1"><div class="li"> Retinopexia - implantação de uma faixa ou esponja de silicone ao redor do globo ocular para pressionar a esclera (o branco dos olhos) a fim de apoiar a retina e facilitar sua aderência;</div>
</li>
<li class="level1"><div class="li"> Vitreoctomia - através de microincisões, são introduzidos instrumentos de tamanho diminuto para corrigir os defeitos que promoveram o deslocamento da retina.</div>
</li>
</ol>

<p>
No pós-operatório, o paciente fica algum tempo com um curativo sobre o olho operado para deixá-lo em completo repouso. Deve também evitar movimentos bruscos e a prática de esportes. Viagens de avião são desaconselhadas nessa fase.
Dependendo da gravidade e da localização do deslocamento da retina, a visão pode não ser recuperada totalmente.
</p>

</div>
<!-- EDIT6 SECTION "Tratamento" [2352-3968] -->
<h3 class="sectionedit7" id="referencias">Referências</h3>
<div class="level3">
<hr />

<p>
<a href="http://en.wikipedia.org/wiki/Retinal_detachment" class="urlextern" target="_blank" title="http://en.wikipedia.org/wiki/Retinal_detachment"  rel="nofollow">http://en.wikipedia.org/wiki/Retinal_detachment</a><br/>

<a href="http://drauziovarella.com.br/letras/r/descolamento-de-retina/" class="urlextern" target="_blank" title="http://drauziovarella.com.br/letras/r/descolamento-de-retina/"  rel="nofollow">http://drauziovarella.com.br/letras/r/descolamento-de-retina/</a><br/>

<a href="http://www.minhavida.com.br/saude/temas/descolamento-de-retina" class="urlextern" target="_blank" title="http://www.minhavida.com.br/saude/temas/descolamento-de-retina"  rel="nofollow">http://www.minhavida.com.br/saude/temas/descolamento-de-retina</a><br/>

</p>

</div>
<!-- EDIT7 SECTION "Referências" [3969-] -->