
<h1 class="sectionedit1" id="enviar_nova_senha">Enviar nova senha</h1>
<div class="level1">

<p>
Por favor, digite o seu nome de usuário no formulário abaixo para requisitar uma nova senha para a sua conta nesse wiki. O link de confirmação será enviado para o endereço de e-mail que você forneceu.
</p>

</div>
