<!-- EDIT1 PLUGIN_INCLUDE_START "wiki_hatsu" [0-] --><div class="plugin_include_content plugin_include__wiki_hatsu" id="plugin_include__wiki_hatsu">

<h1 class="sectionedit3" id="apresentacao">Apresentação</h1>
<div class="level1">

<p>
A Wiki | Hatsu é um projeto de enciclopédia voltada para o universo da visão. Com o objetivo de fornecer conteúdo útil e de credibilidade, criamos artigos relacionados às doenças da visão, procedimentos cirúrgicos, anatomia do olho, profissionais da área, entre outros.
</p>
<hr />

</div>
<!-- EDIT3 SECTION "Apresentação" [1-311] -->
<h1 class="sectionedit4" id="artigo_em_destaque">Artigo em destaque</h1>
<div class="level1">

<p>
<a href="/_detail/daltonismo.jpg?id=pagina_inicial" class="media" title="daltonismo.jpg"><img src="/_media/daltonismo.jpg?w=200&amp;tok=3de469" class="mediaright" alt="" width="200" /></a>
O daltonismo (também chamado de discromatopsia ou discromopsia) é uma perturbação da percepção visual caracterizada pela incapacidade de diferenciar determinadas cores. Esta perturbação tem normalmente origem genética, mas pode também resultar de lesão nos órgãos responsáveis pela visão, ou lesão de origem neurológica. 
Como o daltonismo esta geneticamente ligado ao cromossomo X, ocorre com maior frequência entre os homens, que
possuem apenas um cromossomo X, enquanto as mulheres possuem dois.
Os daltônicos apresentam dificuldade na percepção de determinadas cores primárias, como o verde e o vermelho, o que se repercute na percepção das restantes cores do espectro de cores.
Os mais comuns tipos de daltonismo são: deuteranomalia, protanopia e tritanopia. <strong>(<a href="/daltonismo" class="wikilink1" title="daltonismo">leia mais...</a>)</strong>
</p>
<hr />

</div>
<!-- EDIT4 SECTION "Artigo em destaque" [312-1198] -->
<h1 class="sectionedit5" id="sabia_que">Sabia que...</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> …o peso médio do olho humano é de 28 gramas?</div>
</li>
<li class="level1"><div class="li"> …você pisca aproximadamente 15 mil vezes por dia?</div>
</li>
<li class="level1"><div class="li"> …o olho humano é capaz de ver cerca de 10 milhões de cores?</div>
</li>
<li class="level1"><div class="li"> …cerca de 50% da população mundial tem algum distúrbio da visão?</div>
</li>
<li class="level1"><div class="li"> …bebes não produzem lagrimas até aproximadamente 2 meses de idade?                                                                                                                                                                                                                                                                                     </div>
</li>
</ul>
<hr />

</div>
<!-- EDIT5 SECTION "Sabia que..." [1199-1835] -->
<h1 class="sectionedit6" id="imagem_da_semana">Imagem da semana</h1>
<div class="level1">

<p>
<a href="/_detail/semana_1.jpg?id=pagina_inicial" class="media" title="semana_1.jpg"><img src="/_media/semana_1.jpg?w=200&amp;tok=42dae9" class="mediacenter" alt="" width="200" /></a>
</p>

<p>
“Your beautiful eyes” por Suren Manvelyan
</p>



</div>
<!-- EDIT6 SECTION "Imagem da semana" [1836-] --><!-- EDIT7 PLUGIN_INCLUDE_EDITBTN "wiki_hatsu" [0-] --><div class="inclmeta level1">
	<abbr class="published" title="2014-05-27T10:50:26Z">2014/05/27 10:50</abbr>
	&middot; <span class="vcard author"><a href="/user:hatsu" class="wikilink2 url fn" title="user:hatsu">Hatsu</a></span>
</div>
<!-- EDIT2 PLUGIN_INCLUDE_END "wiki_hatsu" [0-] --></div>


