
<h1 class="sectionedit1" id="pesquisa">Pesquisa</h1>
<div class="level1">

<p>
Você pode encontrar os resultados da sua pesquisa abaixo. Se você não encontrou o que está procurando, pode criar ou editar a página com o nome que você especificou, usando o botão apropriado.
</p>

</div>
<!-- EDIT1 SECTION "Pesquisa" [1-225] -->
<h2 class="sectionedit2" id="resultados">Resultados</h2>
<div class="level2">

</div>
<!-- EDIT2 SECTION "Resultados" [226-] -->