
<p>
These are the templates currently installed in your DokuWiki. You can select the template to be used in the <span class="curid"><a href="/doku.php?id=wiki_hatsu&amp;do=admin&amp;page=config" class="wikilink2" title="wiki_hatsu" rel="nofollow">Configuration Manager</a></span>.
</p>
