<!-- EDIT1 PLUGIN_INCLUDE_START "pagina_inicial" [0-] --><div class="plugin_include_content plugin_include__pagina_inicial" id="plugin_include__pagina_inicial">

<p>
Olar
</p>
<!-- EDIT3 PLUGIN_INCLUDE_EDITBTN "pagina_inicial" [0-] --><div class="inclmeta level">
	<abbr class="published" title="2014-05-26T18:11:23Z">2014/05/26 18:11</abbr>
	&middot; <span class="vcard author"><a href="/wiki/user:hatsu" class="wikilink2 url fn" title="user:hatsu">Hatsu</a></span>
</div>
<!-- EDIT2 PLUGIN_INCLUDE_END "pagina_inicial" [0-] --></div>
