
<h1 class="sectionedit1" id="anel_de_ferrara">Anel de ferrara</h1>
<div class="level1">

<p>
<a href="/_detail/anel_de_ferrara.jpg?id=anel_de_ferrara" class="media" title="anel_de_ferrara.jpg"><img src="/_media/anel_de_ferrara.jpg?w=250&amp;tok=c2db1f" class="mediaright" alt="" width="250" /></a>
O anel de Ferrara (também chamado de anel intraestromal)  é um dispositivo médico implantável, composto de dois segmentos semicirculares, de espessuras variáveis, com 5mm de diâmetro, para a regularização da deformação da córnea – como ceratocone – e para a correção ou diminuição de erros associados.
</p>

</div>
<!-- EDIT1 SECTION "Anel de ferrara" [1-386] -->
<h3 class="sectionedit2" id="geral">Geral</h3>
<div class="level3">
<hr />

<p>
O anel intracorneano é uma técnica cirúrgica com finalidade ortopédica. Esta técnica consiste na implantação do dispositivo na intimidade do tecido corneano de modo a alterar a curvatura da córnea na quantidade necessária para correção que se deseja obter. É uma técnica reversível, que pode ser ajustada em caso de correção inadequada, através da troca do dispositivo. O anel poderá ser removido em qualquer momento sem prejuízo para saúde da córnea.
</p>

</div>
<!-- EDIT2 SECTION "Geral" [387-881] -->
<h3 class="sectionedit3" id="cirurgia">Cirurgia</h3>
<div class="level3">
<hr />

<p>
A cirurgia é realizada sob anestesia local. É realizada uma incisão na córnea e, o implante é realizado com segurança. O procedimento é indolor e leva aproximadamente 10 minutos. Após a cirurgia é aplicada uma lente de contato terapêutica. São prescritos colírios antibióticos e anti-inflamatório no pós-operatório. Após 3 dias o paciente pode retorna às suas atividades normais. Caso necessário, o anel pode ser removida e a córnea retoma suas dimensões origians anteriores ao implante. O mesmo pode ainda ser substituído ou reposicionado. Os resultados se mantêm ao longo do tempo e a integridade ocular é mantida
</p>

</div>
<!-- EDIT3 SECTION "Cirurgia" [882-1546] -->
<h3 class="sectionedit4" id="riscos">Riscos</h3>
<div class="level3">
<hr />

<p>
Os riscos são mínimos. Como em qualquer cirurgia pode ocorrer infecção. Neste caso, o anel deverá ser removido e pode ser reimplantado posteriormente. Caso o corpo rejeite o implante, extrusão expontânea ocorre entre 10 e 20% dos casos, uma nova cirurgia pode ser marcada normalmente. A cirurgia não impede ou prejudica o transplante de córnea. As complicações são mínimas e o mais importante, reversíveis, isto é, pode-se remover o anel e a córnea volta às medidas originais. A reabilitação visual é rápida, mas a estabilização ocorre a partir do terceiro mês. É normal, neste período, o paciente apresentar flutuação na visão. 
</p>

</div>
<!-- EDIT4 SECTION "Riscos" [1547-2228] -->
<h3 class="sectionedit5" id="cuidados_apos_a_cirurgia">Cuidados após a cirurgia</h3>
<div class="level3">
<hr />

<p>
Recomenda-se a pacientes que tenham o hábito de coçar os olhos, evitar ao máximo tal prática para que o anel não desloque-se, necessitando de uma nova cirurgia.
Logo após a cirurgia é proibido também banhos de imersão, como piscina, praia, banheira, além de prática de atividades físicas e maquiagem. 
</p>

</div>
<!-- EDIT5 SECTION "Cuidados após a cirurgia" [2229-2584] -->
<h3 class="sectionedit6" id="referencias">Referências</h3>
<div class="level3">
<hr />

<p>
<a href="http://www.fernandomoro.com.br/home/index.php?option=com_content&amp;view=article&amp;id=95:anel-de-ferrara&amp;Itemid=77" class="urlextern" target="_blank" title="http://www.fernandomoro.com.br/home/index.php?option=com_content&amp;view=article&amp;id=95:anel-de-ferrara&amp;Itemid=77"  rel="nofollow">http://www.fernandomoro.com.br/home/index.php?option=com_content&amp;view=article&amp;id=95:anel-de-ferrara&amp;Itemid=77</a><br/>

<a href="http://www.visaoinstitutos.com.br/cirurgias/cirurgia-anel-de-ferrara" class="urlextern" target="_blank" title="http://www.visaoinstitutos.com.br/cirurgias/cirurgia-anel-de-ferrara"  rel="nofollow">http://www.visaoinstitutos.com.br/cirurgias/cirurgia-anel-de-ferrara</a><br/>

<a href="http://aneldeferrara.com.br/cirurgiastratamentos/id/288" class="urlextern" target="_blank" title="http://aneldeferrara.com.br/cirurgiastratamentos/id/288"  rel="nofollow">http://aneldeferrara.com.br/cirurgiastratamentos/id/288</a><br/>

<a href="http://www.institutoprovisao.com.br/anelintraestromal.html" class="urlextern" target="_blank" title="http://www.institutoprovisao.com.br/anelintraestromal.html"  rel="nofollow">http://www.institutoprovisao.com.br/anelintraestromal.html</a><br/>

</p>

</div>
<!-- EDIT6 SECTION "Referências" [2585-] -->