
<h4 id="ajuda_rapida">Ajuda rápida:</h4>
<div class="level4">

<p>
Nessa página você pode adicionar e remover permissões para espaços de nomes e páginas do seu wiki.
</p>

<p>
O painel à esquerda mostra todos os espaços de nomes e páginas disponíveis.
</p>

<p>
O formulário acima permite a visualização e modificação das permissões de um determinado usuário ou grupo.
</p>

<p>
Na tabela abaixo são exibidas todas as regras de controle de acesso definidas. Você pode usá-la para excluir ou mudar rapidamente várias regras.
</p>

<p>
A leitura da <a href="http://www.dokuwiki.org/acl" class="interwiki iw_doku" title="http://www.dokuwiki.org/acl">documentação oficial sobre ACL</a> pode ajudar a compreender melhor como o controle de acessos funciona no DokuWiki.
</p>

</div>
