.ui-corner-all
{
    -moz-border-radius: 4px 4px 4px 4px;
}
.ui-widget-content
{
    border: 2px solid #253B74;
    color: #222222;
    background-color: white;
}
.ui-widget
{
    font-family: Verdana,Arial,sans-serif;
    font-size: 15px;
}
.ui-menu
{
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 2px;
}
.ui-autocomplete
{
    cursor: default;
    position: absolute;
}
.ui-menu .ui-menu-item
{
    clear: left;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.ui-menu .ui-menu-item a
{
    display: block;
    padding: 3px 3px 3px 3px;
    text-decoration: none;
    cursor: pointer;
    background-color: light-blue;
}
.ui-menu .ui-menu-item a:hover
{
    display: block;
    padding: 3px;
    text-decoration: none;
    color: White;
    cursor: pointer;
    background-color: #253B74;
}
.ui-widget-content a
{
    color: #222222;
}
