/* Fonts */
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);*/

@font-face{
font-family: 'grotesque-medium';
src: url("../fonts/Geogrotesque-Medium.otf");
}

@font-face {
font-family: 'grotesque-regular';
src: url("../fonts/Geogtq-Rg.otf");
}

@font-face {
font-family: 'grotesque-light';
src: url("../fonts/Geogtq-Lg.otf");
}



body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	color: #666;
	/*border-top: 3px solid #eee;*/
	-webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'grotesque-medium', Arial, Helvetica, sans-serif;
	padding: 1px 0px;
	margin: 1px 0px;
	font-weight: 600;
	color: #666;
}

h1.titulo {
	display:block;
	font-family: 'grotesque-light';
	text-align: center;
	line-height: 10px;
	color:#000;
}

.form-search input{
	width:80%;
}

.form-search {
	display:inline;
}

#telefone-topo {
	color:#fff !important;
	top:8px;
	position:relative;
	float:right;
}

#telefone-menu {
	display:none;
}

#overandover .img-frame{position:relative;width:100%;height:220px;margin-bottom:25px}

#overandover .img-frame .hover{

	position:absolute;top:0;left:0;width:100%;height:100%;
	opacity:0;visibility:hidden;background-color:rgba(250,250,250,0.9);
	-webkit-transition:opacity 0.2s;-moz-transition:opacity 0.2s;-ms-transition:opacity 0.2s;
	-o-transition:opacity 0.2s;transition:opacity 0.2s
}

#overandover [class*="col-"]:hover .img-frame .hover{opacity:1;visibility:visible}

#overandover .botao-bloco {
	display: block;
	margin-top: 100px;
	padding:10px;
	font-family: 'grotesque-regular';
	font-size:24px;
	color:#78A600;
}

#overandover h3 {
	margin-top: -10px;
}
/* GALERIA DE IMAGENS */

#galeria{
	max-width:650px;
	min-height:300px;
	border:1px solid #ccc;
	margin-bottom: 10px;
}

.imagem-grande {
	/*max-width:620px;*/
}

.thumb{
	float:left;
	max-width:100px;
	vertical-align: middle;
	margin:5px;
	max-height:100px;
}

.button-comprar {
	min-width: 100px;
	background: #77A101;
	text-transform: uppercase;
	color:#fff;
	font-family: 'grotesque-regular';
	font-size: 18px;
	padding:5px;
}

a.button-comum {
	min-width: 100px;
	background: #595959;
	text-transform: uppercase;
	color:#fff !important;
	font-family: 'grotesque-regular';
	font-size: 18px;
	padding:7px;
}

a.button-comum:hover {
	color:#fff;
}

p.numero_pedido {
	font-family: arial;
	font-size:20px;
	color:#77A101;
}

p.numero_pedido span {
	font-size:30px;
}

#slist p{
display:none;
margin:5px 0px;
padding:5px 10px;
background:#fff;
line-height: 25px;
border:1px solid #eee;
}

#slist{
	margin-left: 15px;
}

ul#slist{
	margin:0px;
	padding:0px;
	margin-left:15px;
	list-style-image: url('../img/green_arrow_down.gif');
}

#slist li{
		font-size: 14px;
}

#slist li a{
	display: block;
	margin-bottom: 10px;
}

ul#slist a {
	font-size:18px;
	font-family: 'grotesque-medium';
	color:#000;
	text-decoration: none;
}

div.confirmacao {
	text-align: center;
}

div.confirmacao p {
	font-weight:bold;
	font-family: 'grotesque-medium';
	font-size:16px;
}

#carrinho {
	font-family: arial;
	text-align: center;
}

#carrinho .header {
	text-align: center;
	font-size: 20px !important;
	font-weight: bold;

}

#carrinho .normal {
	text-align: center;
	font-size: 16px;
	padding:5px;
}

#item-carrinho {
	min-height:100px;
	border:1px dashed #000;
	border-bottom: none;
	margin-top:10px;
}

#carrinho-semgrau {
	min-height:100px;
	border:1px dashed #000;
	border-top:none;
	margin-bottom:10px;

}

#carrinho-simples {
	min-height:100px;
	border:1px dashed #000;
	border-top:none;
	margin-bottom:10px;

}
div#texto-lente {
	border-collapse: collapse;
	font-size: 9px !important;
}

div#texto-lente p {
	text-align: center;
}

div#texto-lente-compra {
	border-collapse: collapse;
	font-size: 9px !important;
	margin-left:10px;
}

div#texto-lente-compra p {
	text-align: left;
}

/* visao 180 */

#faces{
  width: 550px;
  height:330px;
  margin: 0 auto;
}


#faces .the_faces{
  height: 330px;
  width: 20%;
  float: left;
  margin: 0;
  padding: 0;
}


#the_faces_overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 550px;
}

#face-area{
  height: 330px;
  width: 550px;
  position: relative;
}


div#linha-raid {
	background:url('../img/linha-raid/banner.jpg') no-repeat;
	min-height: 370px;
	position: relative;
}

div#linha-raid h1 {
	position:absolute;
    bottom:0;
    right:0;
    text-align:right;
}


div#linha-projection {
	background:url('../img/linha-projection/banner.jpg') no-repeat;
	min-height: 370px;
	position: relative;
}

div#linha-projection h1 {
	position:absolute;
    bottom:0;
    right:0;
    text-align:right;
}

div#linha-titanium {
	background:url('../img/linha-titanium/banner.jpg') no-repeat;
	min-height: 480px;
	position: relative;
}

#info-titanium {
	margin-top:150px;
}

#info-titanium .titanium-titulo {
	font-size:18px;
	margin-top:55px;
	opacity: none;
	font-family: 'grotesque-medium';
}

#info-titanium .titanium-texto {
	text-align: center;
	font-family: 'arial';
	font-size: 12px;
}

#info-titanium .titanium-titulo-hatsu {
	font-size:18px;
	opacity: none;
	text-align: center;
	font-family: 'grotesque-medium';
	font-size: 32px;
}

.titanium-titulo {
	font-size:18px;
	margin-top:55px;
	opacity: none;
	font-family: 'grotesque-medium';
}

.titanium-texto {
	text-align: center;
	font-family: 'arial';
	font-size: 12px;
}

h3#sobre {
	font-family: 'grotesque-light';
	font-size: 20px;
	color: #595959;
	text-transform: uppercase;
	text-align: right;

}

h4#sobre-info {
	text-transform:uppercase;
	text-align:center;
	margin:auto;
	font-family: "Arial";
	font-weight: bold;
	font-size: 20px;
}

table#sobre td {
	font-size:14px;
}

h5,h6{
	color: #444;
	font-weight: 600;
}

h2{
	font-size: 25px;
	line-height: 35px;
}

h3{
	font-size: 20px;
	line-height: 30px;
}

h4{
	font-size: 16px;
	line-height: 28px;
}

h5{
	font-size: 14px;
	line-height: 22px;
}

h6{
	font-size: 13px;
	line-height: 25px;
}

p{
	padding: 0px;
	margin: 0px;
	line-height:18px;

}

a:hover,a:active,a:focus {
	outline: 0;
}

.bold{
	font-weight: normal;
}

.sep{
	height: 5px;
	background: url("../img/sep.png") repeat;
}

hr{
margin:15px 0px 10px 0px;
padding:0px;
border-top:0px;
border-bottom:1px solid #f4f4f4;
height:0px;
}


.bor{
height:5px;
margin:10px 0px 10px 0px;
background:url('../img/sep.png') repeat-x;
}

.center{
text-align:center;
}

.horizontal-links a{
	margin-right: 20px;
}

a:hover,a:active,a:focus {
outline: 0;
}

:focus {
	outline:none;
}

::-moz-focus-inner {
	border:0;
}

.well{
	background: #fafafa;
	border: 1px solid #eee;
	padding: 10px 15px;
	box-shadow: inset 0px 0px 2px #eee;
	margin: 20px 0px;
}

/* Form */

form{
	margin:5px 0px;
}

form *{
	/*font-size:13px !important;*/
}

/* Modal */


/* Button */

a.btn, a.btn:visited, a.btn:hover{
	color:#333 !important;
}

a.btn-primary,a.btn-primary:visited,a.btn-primary:hover,
a.btn-warning,a.btn-warning:visited,a.btn-warning:hover,
a.btn-danger,a.btn-danger:visited,a.btn-danger:hover,
a.btn-success,a.btn-success:visited,a.btn-success:hover,
a.btn-info,a.btn-info:visited,a.btn-info:hover,
a.btn-inverse,a.btn-inverse:visited,a.btn-inverse:hover{
  color:#fff !important;
}

.button{
	margin: 10px 0px 5px 0px;
	font-family: 'grotesque-medium';
}

.button a, .button a:visited{
color: #fff;
padding: 5px 10px;
border: 0px !important;
text-decoration: none !important;
font-size: 13px;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
font-family: 'grotesque-medium', Arial, Helvetica, sans-serif !important;
border-radius:3px;
}

.button a:hover{
color: #fff;
text-decoration: none;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
}

button.close{
	font-size: 16px !important;
}

/* Social */

.social{
font-size:13px;
margin: 5px 0px;
}

.social i{
display:inline-block;
box-shadow:inset 0px 0px 1px #333;
height:25px;
width:25px;
line-height:25px;
margin:0px 5px 0px 0px;
border-radius:3px;
color:#fff;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
text-align:center;
}

.social i.facebook{
background:#000;
}

.social i.facebook:hover{
background:blue;
}

.social i.twitter{
background:#000;
}

.social i.google-plus{
background:#000;
}

.social i.instagram{
background:#000;
}

.social i.vimeo {
/*background:#000 !important;*/
}

.social i.linkedin:before i.fa-linkedin:before{
/*background:#000 !important;*/
}
/* Resume */


.resume h2{
color:#888;
line-height:30px;
}

.resume h2 .rsmall{
font-size:18px;
position:relative;
top:-2px;
}

.resume h4{
padding:10px;
}

.resume .rblock{
margin:5px 0px 15px 0px;
/*border-bottom:1px solid #eee;*/
}

.resume .rinfo{
border-left:3px solid #eee;
padding-left:15px;
/*border-bottom:1px solid #eee;*/
padding-bottom:10px;
}

.social i.linkedin{
background:#0173b2;
}

.social i:hover{
background:#000;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
}

.social a,.social a:visited,.social a:hover{
color:#fff;
text-decoration:none;
}

/* PAGINA DE COMPRA DO PRODUTO */

#miniaturas {
	border:1px solid #ccc;
}

#compra-produto {
	/*border:1px solid yellow;*/
	background:#F8F8F8;
	padding:5px;
	font-family: Arial, Helvetica, sans-serif;
	color:#000;
}

#compra-produto h2 {
	font-family: 'grotesque-regular', Arial, Helvetica, sans-serif;
	font-size: 30px;
	color:#000;
	text-align:center;
}

#compra-produto h3{
	color:#77A101;
	margin-top:-10px;
	font-family: 'grotesque-regular', Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-align:center;
}

#compra-produto .descricao{
	font-size:12px;
	line-height:15px;
	text-align:justify;
	margin-bottom:10px;
}

#compra-produto .cifrao {
	font-size:28px;
	font-family: 'grotesque-regular', Arial, Helvetica, sans-serif;
}

#compra-produto .preco {
	font-size:44px;
	font-family: 'grotesque-regular', Arial, Helvetica, sans-serif;
}

#compra-produto .parcelas {
	font-size:18px;
	font-family: 'grotesque-regular', Arial, Helvetica, sans-serif;
}

#compra-produto .texto-lentes{
	color:#77A101;
	font-size:16px;
	font-family: 'grotesque-regular', Arial, Helvetica, sans-serif;

}

#compra-produto .step {

}

#editar-tipo-semgrau, #editar-tipo-simples, #editar-lente {
	color:#000;
	text-decoration: underline;
	font-weight:bold;
	cursor: pointer;
}

#compra-produto input[type=checkbox] {
	width:15px;
	height:15px;
} 

h4.step {
		font-family: 'grotesque-medium';
	font-size: 14px;
}

#compra-produto .texto-radio {
	font-size:14px;
	font-weight: bold;
	font-family: 'grotesque-medium';
}

#compra-produto .mini-texto-radio {
	font-size:11px;
	color:#595959;
	font-family: arial;
	margin-left:10px;
}

#compra-produto #exibe-texto-multifocal {
	font-family: arial;
	font-size:12px;
	line-height: 18px;
}

.compra-tooltip {
	font-size:14px;
	color:#77A101 !important;
	font-weight: bold;
}

a.botao-experimente {
	background: #000;
	font-family: 'grotesque-regular';
	font-size: 18px;
	width: 220px;
	min-height: 30px;
	display: block;
	text-align: center;
	font-weight: bold;
	line-height: 30px;
	color:#fff !important;
	text-transform: uppercase;
}

a.botao-comprar {
	background: #77A101;
	margin-bottom: 5px;
	display: block;
	font-family: 'grotesque-regular';
	font-size: 18px;
	width: 220px;
	min-height: 30px;
	display: block;
	text-align: center;
	font-weight: bold;
	line-height: 30px;
	color:#fff !important;
	text-transform: uppercase;
}

input.botao-comprar {
	background: #77A101;
	margin-bottom: 5px;
	display: block;
	font-family: 'grotesque-regular';
	font-size: 18px;
	width: 220px;
	min-height: 30px;
	display: block;
	border:none;
	text-align: center;
	font-weight: bold;
	line-height: 30px;
	color:#fff !important;
	text-transform: uppercase;
}

/* CHECKOUT */

p.checkout-alert {
	padding:5px;
	text-align: center;
	font-size: 14px;
}

div#div-checkout {
	padding:3px;
	/*text-align: justify;*/
}

.form-checkout {
	float:right;
	width:160px;
}

.label-checkout{
}

div#revisao {
	font-family: arial;
	font-size:16px;
	border:1px solid #000;
	padding:3px;
}

table#revisao {
	text-align: center;
	width:270px;
	font-family: 'grotesque-regular';
}

table#revisao tr.revisao-header {
	border-bottom: 1px solid #000;
}

table#revisao td {
	padding-top:3px;
	padding-bottom: 3px
}


/* Back to top */

.totop {
	position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: 104400;
}

.totop a, .totop a:visited{
	display: block;
	width: 30px;
	height: 30px;
	color: #fff;
	text-align: center;
	line-height: 30px;
}

.totop a:hover {
	color: #fff;
	text-decoration: none;
}

/* Image alignment*/

.alignleft, img.alignleft {
	margin-right: 8px;
	margin-top:5px;
	display: inline;
	float: left;
}

.alignright, img.alignright {
	margin-left: 8px;
	margin-top:5px;
	display: inline;
	float: right;
}
   
.aligncenter, img.aligncenter {
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;
}

/* 1-3 Column */

.onethree-left{
	float: left;
	width: 25%;
}

.onethree-right{
	float: right;
	width: 70%;
}

/* Half column */

.col-left{
	width: 48%;
	float: left;
}

.col-right{
	width: 48%;
	float: right;
}

.container{
	width:940px;
}

/* Title */

.title{
	margin-bottom: 8px;
	padding-bottom: 3px;
	border-bottom: 1px solid #f3f3f3;
}

.title i{
	margin-right: 3px;
}

/* Header */

header{
	color: #777;
	padding: 10px 0px 10px 0px;
	/*border-bottom:1px solid #000;*/
	/*background: #fafafa url("../img/cream.png") repeat;*/
}

header .logo{
	padding: 0px;
	/*padding-top: 10px;*/
}

header .logo h1 a, header .logo h1 a:visited, header .logo h1 a:hover{
	font-size: 35px;
	color: #777;
	text-decoration: none;
	font-weight: 400;
}

header .logo .meta{
	color: #888;
	line-height: 15px;
	padding: 0px;
	margin: 0px;
}

header .hlinks {
	font-family: 'grotesque-medium';
	font-size:14px;
}

header .hlinks > span{
	color: #fff;
	padding: 5px 7px;
	border-radius: 3px;
}

header .hlinks a, header .hlinks a:visited{
	color: #fff;
	text-decoration: none;
}

header .hlinks a:hover{
	color: #fff;
	border-bottom: 1px dotted #fff;
}

header .lr{
	margin-left: 10px;
}


header form input, header form button{
	margin-bottom:10px !important;
}

/* Navigation */

.navbar{
   padding: 0px !important;
   margin:0px;
   font-family: 'grotesque-medium', Arial, Helvetica, sans-serif;
}

.navbar .container>.navbar-header, 
.navbar .container>.navbar-collapse {
	padding-left: 0px;
	padding-right: 0px;
}

.navbar ul{
	margin: 0px;
	padding: 0px;
}

.navbar ul li{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}


.navbar{
   border-radius:0px; 
   background-image: none;
   background-repeat: no-repeat;
   filter: none !important;
   border-left: 0px !important;
   border-right: 0px !important;
   padding-left:10px;
   font-size:16px;
}

.navbar button {
   font-size:13px;
}

.navbar-toggle .icon-bar {
	background: #fff;
}

.navbar .caret{
   border-top-color:#fff !important;
   border-bottom-color:#fff !important;
}

.navbar .nav{
	margin-left: 5px;
}

.navbar .nav > li > a{
   padding:10px 10px 10px;
   color:#fff !important;
   text-shadow:none !important;
   -webkit-transition:background 1s ease;
   -moz-transition:background 1s ease;
   -o-transition:background 1s ease;
   transition:background 1s ease;
}

.navbar .nav > li > a:hover{
   color:#fff !important;
   -webkit-transition:background 1s ease;
   -moz-transition:background 1s ease;
   -o-transition:background 1s ease;
   transition:background 1s ease;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
   color: #ffffff;
   box-shadow:none;
}

.dropdown-toggle{
   z-index: 1000;
}

.nav-collapse a{
   font-weight:normal !important;
   text-shadow:none !important;
}

.dropdown-menu{
   background:#fafafa !important;
   border-radius:0px !important;
   box-shadow:none !important;
   border-bottom:none !important;
   padding:0px 0px;
   margin:0px;
   margin-top:1px !important;
   z-index: 2000;
   border-top: none !important;
}

.dropdown-menu a{
   background:#fafafa !important;
   padding:10px 10px !important;
   color:#666 !important;
   text-shadow:none !important;
   -webkit-transition:background 1s ease;
   -moz-transition:background 1s ease;
   -o-transition:background 1s ease;
   transition:background 1s ease;
   border-bottom: 1px solid #ddd;
}

.dropdown-menu a:hover,.dropdown-menu a:focus{
   filter:none !important;
   background:#f3f3f3 !important;
   -webkit-transition:background 1s ease;
   -moz-transition:background 1s ease;
   -o-transition:background 1s ease;
   transition:background 1s ease;
}

.dropdown-menu::after, .dropdown-menu::before{
   border:none !important;
}

.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
	border-radius: 0px !important;
}

.nav-collapse .dropdown-menu li + li a {
    margin-bottom: 0px !important;
}

/* Page heading */

.page-head{
	padding: 20px 0px;
	box-shadow: inset 0px 0px 4px #bbb;
	background: #f8f8f8;
	border-bottom: 1px solid #ddd;
}

.page-head h2{
	color: #777;
	font-size: 23px;
	line-height: 33px;
}

.page-head h4{
	color: #999;
	font-size: 15px;
}

/* Content */

.content {
	margin: 20px 0px;
}

.content ul li{
	list-style-type: circle;
	padding: 1px 0px;
	margin:0px;
	
}

.lists ul{
	margin:0px;
	margin-left:-15px;
}

.tab-pane ul{
	margin:0px;
	margin-left:25px;
	padding:0px;
}

/* Promobox */

.promo{
	/*margin: 10px 0px;*/
}

.promo .pcol-left{
	width: 38%;
	float: left;
	text-align: center;
}

.promo .pcol-right{
	width: 58%;
	float: right;
}

.promo .pbox{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	box-shadow:0px 0px 4px #888;
	border: 1px solid #fff;
	height:200px;
	padding:3px;
}

.promo a, .promo a:visited, .promo a:hover{
	color: #fff;
	text-decoration: none;
}

.promo img{
	/*width: 70px;*/
	/*max-height: 120px;*/
}

.promo .rcolor{
	background: #ff5d5e;
	color: #fff;
}

.promo .bcolor{
	background: #5eb2d9;
	color: #fff;
}

.promo .gcolor{
	background: #54da4d;
	color: #fff;
}

.promo .pmed{
	font-size: 17px;
	font-weight: 600;
	line-height: 27px;
	text-transform: uppercase;
}

.promo .psmall{
	font-size: 13px;
	line-height: 20px;
}

/* Cart */

.cart{
	margin: 20px 0px;
}

.cart .tcart img{
	max-height: 50px;
}

.cart .cart-quantity input{
	max-width: 25px;
}

.cart td.item-input{
	width:15%;
}

/* Checkout */

.checkout{
	margin: 20px 0px;
}

/* Item */

.items{
	margin: 20px 0px;
}

.items .breadcrumb{
	background: transparent;
	border: 0px solid #eee;
	padding: 0px 0px 5px 0px;
	margin: 0px 0px 10px 0px;
	border-radius: 0px;
	border-bottom: 1px solid #f3f3f3;
}

.items .item{
	min-height: 280px;
	max-height: 300px;
	max-width: 250px;
	margin: 10px auto;
	padding: 10px 10px;
	border-radius:4px;
	border: 1px solid #f3f3f3;
	box-shadow: inset 0px 0px 1px #ddd;
	-webkit-transition:box-shadow 1s ease;
   	-moz-transition:box-shadow 1s ease;
   	-o-transition:box-shadow 1s ease;
   	transition:box-shadow 1s ease;
}

.items .item:hover{
	box-shadow: inset 0px 0px 5px #ccc;
	-webkit-transition:box-shadow 1s ease;
   	-moz-transition:box-shadow 1s ease;
   	-o-transition:box-shadow 1s ease;
   	transition:box-shadow 1s ease;	
}

.items .item .ico{
	color: #fff;
	display: inline-block;
	width: 35px;
	height: 20px;
	margin-left: 5px;
}

.items .item hr{
	margin: 5px 0px;
}

.items .item .item-image{
	max-height: 150px;
}

.items .item .item-image img{
	padding: 5px 0px;
	height: 140px;
	width: auto;
	display: block;
	margin: 0 auto;
}

.items .item .item-details h5{
	text-align: center;
}

.items .item .item-details h5 a{
	color: #666;
}

.items .item .item-details h5 a:hover{
	text-decoration: none;
}

.items .item .item-details p{
	text-align: center;
}

.items .item .item-price{
	margin: 7px 0px;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	padding: 2px 5px !important;
	line-height: 20px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
	background: #f3f3f3;
	border: 1px solid #eee;
}

/* Product main details */


.product-main select{
	margin-top:5px;
	max-width: 100px;
}

/* Recent posts */

/* Own carousel */

.rp{
	margin-top:20px;
	margin-bottom:20px;
}

.recent-news .recent-item{
	position:relative;
}

.recent-news .item{
	margin:5px;	
	padding:15px 10px;
	background:#fcfcfc;
	border:1px solid #eee;
	border-radius:5px;
}

.recent-news .item h4{
	margin-top:15px !important;
	font-size:14px;
	line-height:25px;
	font-weight:bold;
}

.recent-news .item h4 a, .recent-news .item h4 a:hover{
	color:#777;
	text-decoration:none;
}

.recent-news .item p{
	color:#999;
}

.recent-news .item a img{
	max-height:170px;
	margin:0 auto;
}

.recent-news .custom-nav a i{
	width:22px;
	height:22px;
	cursor:pointer;
	line-height:24px;
	display:inline-block;
	border-radius:40px;
	text-align:center;
	font-size:11px;
	position:absolute;
	top:-37px;
	color:#fff;
}

.recent-news .custom-nav a.prev i{
	right:26px;
}

.recent-news .custom-nav a.next i{
	right:0px;
}

/* Product slider (Flexslider) */

.product-slider .flexslider{
	margin-bottom: 10px;
}

.product-slider .flexslider img{
	max-height: 270px;
	width: auto;
	margin: 0 auto;
}

/* Flex slider for image */

.flexslider ul{
	padding: 0px;
	margin: 0px;
}

.flexslider ul li{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.flex-main .flexslider{
	margin: 20px 0px;
	margin-bottom: 10px;
	padding: 1px;
	border: 1px solid #ddd;
	box-shadow:0px 0px 2px #888;
	border-radius: 0px;
font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
}

.flex-main .flexslider .slides > li {
	position:relative;
}

.flex-main .flex-caption{
	width: 50%;
	margin: 0 0 30px 20px;
	position: absolute;
	display: block;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.3);
	padding: 10px;
}

.flex-main .flex-caption h3 {
	color: #fff;
	font-size: 26px;
	margin:0;
	font-weight: normal;
	line-height: 45px;
}

.flex-main .flex-caption h3 span{
   padding-bottom:3px;
}
	
.flex-main .flex-caption p {
	margin:0;
	font-size: 13px;
	line-height: 22px;
	color: #fff;
	margin-bottom: 5px;
}

.flex-main .flexslider:hover .flex-next {right: 15px;}
.flex-main .flexslider:hover .flex-prev {left: 15px;}

/* Blog */


.blog .entry h2{
font-size:22px;
line-height:32px;
}

.blog .entry h2 a, .blog .entry h2 a:visited, .blog .entry h2 a:hover{
text-decoration:none;
color:#777;
}

.blog .meta{
border-top:1px solid #eee;
border-bottom:1px solid #eee;
margin:8px 0px;
padding:4px 8px;
color:#888;
text-transform:uppercase;
font-size:11px;
background:#eee url('../img/cream.png') repeat;
}

.blog .meta a, .blog .meta a:visited{
color:#555;
}

.blog .meta i{
margin-right:3px;
margin-left: 3px;
}

.blog .bthumb{
margin:10px 0px 5px 0px;
padding:1px;
box-shadow:0px 0px 1px #777;
}

.blog .bthumb2{
margin-top:8px;
margin-right:8px;
margin-bottom: 6px;
padding:1px;
box-shadow:0px 0px 1px #777;
}

.blog .bthumb3{
float: left;
max-width: 150px;
margin-top:8px;
margin-right:8px;
margin-bottom: 6px;
padding:1px;
box-shadow:0px 0px 1px #777;
}

.blog .bthumb2 img{
margin:0px;
}

.blog .entry{
margin-bottom:15px;
padding-bottom:10px;
border-bottom:1px solid #eee;
}

.posts .social{
font-size:16px;
}

.posts .social i{
box-shadow:inset 0px 0px 1px #333;
height:25px;
width:25px;
line-height:25px;
margin:0px 5px 0px 0px;
border-radius:3px;
color:#fff;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
text-align:center;
}

.posts i.facebook{
background:#3c5b9b;
}

.posts i.twitter{
background:#2daae1;
}

.posts i.google-plus{
background:#f63e28;
}

.posts i.pinterest{
background:#cb2027;
}

.posts i.linkedin{
background:#0173b2;
}

.posts .social i:hover{
background:#000;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
}

.posts .social a,.posts .social a:visited,.posts .social a:hover{
color:#fff;
text-decoration:none;
}

.posts .tags a{
display:inline-block;
font-weight:normal;
padding:0px 5px;
color:#fff;
border-radius:4px;
font-size:13px;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
}

.posts .tags a:hover{
color:#fff;
text-decoration:none;
-webkit-transition:background 1s ease;
-moz-transition:background 1s ease;
-o-transition:background 1s ease;
transition:background 1s ease;
}

/* Comments */

.comments > ul > li{
background:none;
padding:0px;
}

.comments .comment{
margin:10px 0px;
padding:7px 10px;
background:#fff;
border-radius:5px;
border:1px solid #eee;
border-bottom:2px solid #ddd;
}

.comments img{
	max-width:60px;
}

.comments ul{
	margin: 0px;
	padding: 0px;
}

.comments ul li{
	list-style-type: none;
}

.comment .avatar{
margin-top:5px;
margin-right:8px;
padding:1px;
background:#fff;
border:1px solid #aaa;
}

.comment .cmeta{
font-size:12px;
}

.comment p{
margin-top:5px;
}

.comments .reply{
margin-left:15px;
}

.respond .title, .comments .title{
padding:10px 0px;
margin-bottom:10px;
border-bottom:1px solid #eee;
}

/* Sidebar */

.sidebar{
margin-top:10px;
}

.sidebar h4{
font-size: 13px;
color:#555;
line-height:18px;
margin-bottom:5px;
padding-bottom:10px;
text-transform:uppercase;
border-bottom:1px solid #eee;
}

.widget ul{
	margin:0px;
	margin-left:-15px;
	
}

.sidebar .widget{
background:#fff;
padding:8px 10px;
margin-bottom:10px;
border:1px solid #eee;
}

.sidebar .widget .form-search{
margin-top:10px;
margin-bottom:10px;
}

/* Pagination */

.paging {
width:270px;
clear:both;
padding:6px 0;
line-height:17px;
font-size:13px;
}
 
.paging span, .paging a {
display:block;
float:left;
margin: 2px 2px 2px 0;
padding:5px 8px;
text-decoration:none;
width:auto;
color:#666;
background: #fff;
border:1px solid #ddd;
font-weight:normal;
}
 
.paging a:hover{
color:#fff;
}
 
.paging .current{
padding:5px 8px;
color:#fff;
}

/* 404 Page */

.error-page .big-text{
	font-size: 170px;
	line-height: 180px;
	color: #999;
}

/* Item review */

.nav-tabs{
	margin-bottom: 10px;
}

.item-review{
	background: #fafafa;
	margin: 10px 0px;
	border-radius: 5px;
	border: 1px solid #eee;
	padding: 10px;
}

.item-review .rmeta{
	font-style: italic;
}

/* Careers */

.career .nav > li{
background:none;
padding:0px;
list-style-type: none;
}

.nav-tabs > li > a:hover{
color:#fff;
}

/* Sidebar page navigation */

#navi{
	margin: 0px;
	padding: 0px;
}

#navi li {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

#navi > li > a { 
  display: block; 
  padding: 10px 10px;
  color: #777;
  text-decoration: none;
  border-bottom: 1px solid #eee;
  background-color: #fafafa;
}

#navi > li > a:hover{ 
  color: #666;
  background-color: #f3f3f3;
  border-bottom: 1px solid #ddd;
}

/* Sidebar items */

.sitem{
	margin-top:10px;
	margin-bottom:10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.sitem img{
	margin-top:5px;
	max-width: 45px;
}

/* Support */



.support input{
	border-radius:5px;
	border:1px solid #ddd;
	padding:5px 10px;
}

/* Contact #1 */

.gmap iframe{
	width: 100%;
}

/* Support contact */

.scontact p{
	margin: 4px 0px;
}

/* Updated */

header .hlinks { margin-top: 8px; }
.filterform input { padding-left: 6px; border-color: 1px solid #eee; }
.items .tab-content { padding: 0 15px; }

/* Revolution Slider */

.tp-banner-container{
	width:100%;
	position:relative;
	margin-bottom: 40px;
	padding:0px;
	background: #f9f9f9;
}

.tp-banner{
	width:100%;
	position:relative;
	padding: 0;
	margin: 0;
}

.tp-banner ul{ display: none; }
.tp-banner ul li{
	list-style-type: none;
	padding-top: 0;
	padding-bottom: 0;
}


.tp-banner .largepinkbg {
	background:#d2322d;
}

.tp-banner .mediumwhitebg{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	padding-top:10px;
	line-height:20px;
	color:#666;
}	

.tp-banner .img-tag {
	width: 40px;
	height: 40px;
	line-height: 40px !important;
	text-align: center;
	font-size: 13px !important;
	color: #fff;
	background: #d2322d;
	border-radius: 100px;
	font-weight:bold;
}
.tp-banner .large_bold_white { 
	font-family: 'Open Sans', sans-serif; 
	font-size:45px; 
	color:#666;
}

.tp-banner .medium_light_white { 
	font-size: 18px;
	line-height:28px;
	color:#888;
}

.tp-banner a.btn { 
	border:0px; 
	padding: 9px 14px; 
	color: #fff; 
	font-size: 14px;
	border-radius: 0;
	font-family: 'Open Sans', sans-serif;
}

/* Footer */

footer{
	font-family: Arial;
	/*background: #65605c url("../img/footer.png") repeat;*/
	background-color: #000;
	padding-top: 20px;
	padding-bottom: 0px;
	margin-top: 10px;
	color: #aaa;
	font-size: 12px;
	box-shadow: inset 0px 0px 10px #000;
}

footer a, footer a:visited{
	color: #ddd;
}

footer a:hover{
	color: #ccc;
	text-decoration: underline;
}

footer hr{
	height: 0px;
	padding: 0px;
	margin: 5px 0px;
	border-top: 1px solid #111;
	border-bottom: 1px solid #222;
}

footer h5{
	color: #fff;
	font-size:14px;
	font-family: 'grotesque-regular';
}

footer h6{
	color: #fff;
}

footer ul{
	margin-left: 0px;
	margin:0px;
	padding-left:15px;
}

footer ul li{
	list-style-type: none;
	margin-bottom: 5px;
	font-size:11px;
}

footer .widget{
	margin-bottom: 20px;
	font-size:11px;
}

footer .copy{
	margin-bottom: 5px;
	font-size: 11px;
}

footer .payment-icons img{
	max-width: 35px;
	margin-right: 5px;
}

/* Responsive */

@media (max-width: 480px){

	#info-titanium {
		background-color:#EDEDED !important;
		margin-top:20px !important;
	}

	div#galeria {
		width: 235px !important;
		min-height:110px !important; 
		padding:10px !important;
	}

	.imagem-grande {
		max-width: 220px !important;
		height:100px !important;
	}

	#outros_modelos {
		clear:both;
	}

	h1 {
		font-size:20px !important;
	}


	ul li a {
		margin-left: 15px !important;
	}

	#telefone-menu { display:block; }

	.col-left, .promo .pcol-left{
		width: 100%;
		float: none;
		margin-right: none;
	}
	.col-right, .promo .pcol-right{
		width: 100%;
		float: none;
		margin-top: 10px;
	}	
	.promo .pcol-right{
		text-align: center;
	}
	.promo .pbox{
		height: auto !important;
	}
	.tp-caption a.btn {
		padding: 3px 5px !important;
		font-size: 9px !important;
		box-shadow:none;
	}
	.tp-banner .img-tag { display: none; }

	
}

@media (max-width: 767px){

	#info-titanium {
		background-color:#EDEDED !important;
		margin-top:30px !important;
		padding:15px;
		line-height: 20px;
	}


	h1 {
		font-size:40px !important;
	}

	#telefone-menu {
		display: block;
	}

	p.fix-bug {
		display: block;
	}
	

	.container{
		width:100%;
		max-width:550px;
		margin:0 auto;
	}
	.onethree-left{
		display: block;
		float: none;
		text-align: center;
		width: 100%;
		margin-bottom: 10px;
	}
	.onethree-right{
		float: none;
		width: 100%;
		text-align: center;
	}
	.flex-caption{
		display: none !important;
	}
	.flex-direction-nav .flex-prev {left: 10px;}
  	.flex-direction-nav .flex-next {right: 10px;}
	.slider-features,footer,.page-head,.navbar-inner{
		padding-left: 20px;
		padding-right: 20px;
	}
	header{
		padding-top: 10px !important;
		padding-bottom: 20px !important;
		padding-left: 20px;
		padding-right: 20px;
		text-align: center;
	}
	header .logo{
		text-align: center;
		margin-bottom:10px;
	}
	
	header form{
		width:100%;
		margin:0px auto;
		max-width:300px;
		
	}
	header .lr{
		display: block;
	}
	header .hlinks > span{
		background: transparent !important;
		border: none !important;
		color: #888;
		padding: 0px;
	}
	header .hlinks a, header .hlinks a:visited{
		color: #555;
	}
	header .hlinks a:hover{
		color: #222;
	}
   .navbar .nav{
   	margin-left: 0px !important;
      border:0px !important;
   }
   .navbar .nav > li > a{
      border:0px !important;
   }	
 	.dropdown-menu{
 		border: 0px !important;
 	}	
 	.navbar .nav{
 		border-left: 0px !important;
 	}
	
 	.flex-caption{
		display: none;
	}
	.page-head{
		text-align: center;
	}
}

@media (max-width: 991px){

	p.fix-bug {
		display: none;
	}

	.container{
		width:100% !important;
	}
	header{
		padding-top: 10px !important;
		padding-bottom: 20px !important;
		padding-left: 20px;
		padding-right: 20px;
		text-align: center;
	}
	header .logo{
		text-align: center;
		margin-bottom:10px;
	}
	
	header form{
		width:100%;
		margin:0px auto;
		max-width:300px;
		
	}
 	.sitem img{
 		max-width: 35px;
 	}
}

/* Features #2 */

.features-two{
	text-align: center;
	margin: 10px 0px 5px 0px;
}

.features-two .feat-inner{
	padding: 10px 5px 5px 5px;
	background: #fafafa;
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px #ccc;
	margin-bottom: 10px;
}

.features-two i{
	font-size: 35px;
	margin-bottom: 10px;
}

.features-two .button{
	margin-top: 10px;
	margin-bottom: 20px;
}

.features-two .button a{
	font-size: 11px;
}

p.error {
	color:#ff0000;
	margin-bottom:5px;
	text-transform: uppercase;
	font-size:10px;
	font-family: 'grotesque-regular';
}