/* Fonts */
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);*/

@font-face{
font-family: 'grotesque-ultralight';
src: url("../fonts/Geogtq-Ul.otf");
}

@font-face{
font-family: 'grotesque-medium';
src: url("../fonts/Geogtq-Md.otf");
}

@font-face{
font-family: 'grotesque-regular';
src: url("../fonts/Geogtq-Rg.otf");
}

@font-face {
font-family: 'roboto-light';
src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
font-family: 'roboto-regular';
src: url("../fonts/Roboto-Regular.ttf");
}

#guia input[type=radio] {
	display: none;
}

#guia input[type=checkbox] {
	display: none;
}

#guia label {
	display:inline;
	margin:0;
	font-weight: normal;
}

#guia p.titulo {
	font-family: 'grotesque-ultralight';
	font-size:24px;
	text-align: center;
	margin-bottom: 20px;
}

#guia p.subtitulo-rosto {
	font-family: 'roboto-regular';
	font-size:18px;
	text-align: left;
}

#guia p.descricao {
	font-family: 'roboto-light';
	font-size:14px;
	text-align: left;
}

#guia p.descricao-rosto {
	font-family: 'roboto-light';
	font-size:14px;
	text-align: left;
	min-height:200px;
}

#guia p.descricao-rosto-over {
	font-family: 'roboto-light';
	font-size:14px;
	text-align: left;
	min-height:200px;
}

#guia .selecione-rosto {
	font-family: 'grotesque-ultralight';
	font-size:18px;
	background:#77A403;
	text-transform: uppercase;
	color:#fff;
	padding-right:40px;
	padding-left:40px;
	padding-top:10px;
	padding-bottom:10px;
	text-align: center;
	margin-bottom:25px;
}

#banner-guia {
	min-height:500px;
}

/* EU SOU HOMEM - EU SOU MULHER */

#masculino-feminino{
	min-height:480px;
	margin-top:85px;
	margin-bottom:80px;
}

#souhomem {
	padding-right:12px;
	background-color: #fff;
}

#souhomem img.normal {
	display:block;
}

#souhomem img.over {
	display:none;
}

#souhomem:hover img.normal {
	display:none;
}

#souhomem:hover img.over {
	display:block;
	cursor:pointer;
}

#soumulher {
	padding-left:12px;
	background-color: #fff;
}

#soumulher img.normal {
	display:block;
}

#soumulher img.over {
	display:none;
}

#soumulher:hover img.normal {
	display:none;
}

#soumulher:hover img.over {
	display:block;
	cursor:pointer;
}

/* FORMATO DO ROSTO */

#rostos-masculino {	display: none; margin-bottom: 45px; }
#rostos-feminino  { display: none; margin-bottom: 45px; }

/* ROSTOS MASCULINOS */

#rostos-masculino p.titulo {
	margin-bottom:20px;
}

#rostos-masculino div.col-md-3 {
	background:#F8F8F8;
	border:1px solid #fff;
}

#rostos-masculino div.col-md-3 img.normal {
	margin-top:35px;
	width:195px;
	height:195px;
	margin-bottom: 40px;
}

div#masculino-rosto-redondo img.over{
	display:none;
	margin-top:35px;
	width:195px;
	height:195px;
	margin-bottom: 40px;
}

div#masculino-rosto-quadrado img.over{
	display:none;
	margin-top:35px;
	width:195px;
	height:195px;
	margin-bottom: 40px;
}

div#masculino-rosto-triangular img.over{
	display:none;
	margin-top:35px;
	width:195px;
	height:195px;
	margin-bottom: 40px;
}

div#masculino-rosto-oval img.over{
	display:none;
	margin-top:35px;
	width:195px;
	height:195px;
	margin-bottom: 40px;
}

/* MOMENTO INICIAL - Todos over com display none; */
div#masculino-rosto-redondo p.descricao-rosto-over{ display:none; }
div#masculino-rosto-redondo img.over{ display:none; }
div#masculino-rosto-quadrado p.descricao-rosto-over{ display:none; }
div#masculino-rosto-quadrado img.over{ display:none; }
div#masculino-rosto-triangular p.descricao-rosto-over{ display:none; }
div#masculino-rosto-triangular img.over{ display:none; }
div#masculino-rosto-oval p.descricao-rosto-over{ display:none; }
div#masculino-rosto-oval img.over{ display:none; }

/* ON MOUSE OVER DIV */
div#masculino-rosto-redondo:hover p.descricao-rosto{ display:none !important; }
div#masculino-rosto-redondo:hover img.normal{ display:none !important; }
div#masculino-rosto-quadrado:hover p.descricao-rosto{ display:none !important; }
div#masculino-rosto-quadrado:hover img.normal{ display:none !important; }
div#masculino-rosto-triangular:hover p.descricao-rosto{ display:none !important; }
div#masculino-rosto-triangular:hover img.normal{ display:none !important; }
div#masculino-rosto-oval:hover p.descricao-rosto{ display:none !important; }
div#masculino-rosto-oval:hover img.normal{ display:none !important; }

div#masculino-rosto-redondo:hover {
	background:#000 !important;
	color:#fff !important;
	cursor:pointer !important;
}
div#masculino-rosto-quadrado:hover {
	background:#000 !important;
	color:#fff !important;
	cursor:pointer !important;
}
div#masculino-rosto-triangular:hover {
	background:#000 !important;
	color:#fff !important;
	cursor:pointer !important;
}
div#masculino-rosto-oval:hover {
	background:#000 !important;
	color:#fff !important;
	cursor:pointer !important;
}

div#masculino-rosto-redondo:hover img.over{
	display:block !important;
}
div#masculino-rosto-quadrado:hover img.over{
	display:block !important;
}
div#masculino-rosto-triangular:hover img.over{
	display:block !important;
}
div#masculino-rosto-oval:hover img.over{
	display:block !important;
}

div#masculino-rosto-redondo:hover p.descricao-rosto-over{	display:block !important; }
div#masculino-rosto-quadrado:hover p.descricao-rosto-over{	display:block !important; }
div#masculino-rosto-triangular:hover p.descricao-rosto-over{	display:block !important; }
div#masculino-rosto-oval:hover p.descricao-rosto-over{	display:block !important; }

/* DIV ROSTO FEMININO */

#rostos-feminino p.titulo {
	margin-bottom:20px;
}

#rostos-feminino div.col-md-3 {
	background:#F8F8F8;
	border:1px solid #fff;
}

#rostos-feminino div.col-md-3 img.normal {
	margin-top:35px;
	width:195px;
	height:195px;
	margin-bottom: 40px;
}

div#feminino-rosto-redondo img.over{
	display:none;
	margin-top:35px;
	width:195px;
	height:195px;
	margin-bottom: 40px;
}

div#feminino-rosto-quadrado img.over{
	display:none;
	margin-top:35px;
	width:195px;
	height:195px;
	margin-bottom: 40px;
}

div#feminino-rosto-triangular img.over{
	display:none;
	margin-top:35px;
	width:195px;
	height:195px;
	margin-bottom: 40px;
}

div#feminino-rosto-oval img.over{
	display:none;
	margin-top:35px;
	width:195px;
	height:195px;
	margin-bottom: 40px;
}

/* MOMENTO INICIAL - Todos over com display none; */
div#feminino-rosto-redondo p.descricao-rosto-over{ display:none; }
div#feminino-rosto-redondo img.over{ display:none; }
div#feminino-rosto-quadrado p.descricao-rosto-over{ display:none; }
div#feminino-rosto-quadrado img.over{ display:none; }
div#feminino-rosto-triangular p.descricao-rosto-over{ display:none; }
div#feminino-rosto-triangular img.over{ display:none; }
div#feminino-rosto-oval p.descricao-rosto-over{ display:none; }
div#feminino-rosto-oval img.over{ display:none; }

/* ON MOUSE OVER DIV */
div#feminino-rosto-redondo:hover p.descricao-rosto{ display:none !important; }
div#feminino-rosto-redondo:hover img.normal{ display:none !important; }
div#feminino-rosto-quadrado:hover p.descricao-rosto{ display:none !important; }
div#feminino-rosto-quadrado:hover img.normal{ display:none !important; }
div#feminino-rosto-triangular:hover p.descricao-rosto{ display:none !important; }
div#feminino-rosto-triangular:hover img.normal{ display:none !important; }
div#feminino-rosto-oval:hover p.descricao-rosto{ display:none !important; }
div#feminino-rosto-oval:hover img.normal{ display:none !important; }

div#feminino-rosto-redondo:hover {
	background:#000 !important;
	color:#fff !important;
	cursor:pointer !important;
}
div#feminino-rosto-quadrado:hover {
	background:#000 !important;
	color:#fff !important;
	cursor:pointer !important;
}
div#feminino-rosto-triangular:hover {
	background:#000 !important;
	color:#fff !important;
	cursor:pointer !important;
}
div#feminino-rosto-oval:hover {
	background:#000 !important;
	color:#fff !important;
	cursor:pointer !important;
}

div#feminino-rosto-redondo:hover img.over{
	display:block !important;
}
div#feminino-rosto-quadrado:hover img.over{
	display:block !important;
}
div#feminino-rosto-triangular:hover img.over{
	display:block !important;
}
div#feminino-rosto-oval:hover img.over{
	display:block !important;
}

div#feminino-rosto-redondo:hover p.descricao-rosto-over{	display:block !important; }
div#feminino-rosto-quadrado:hover p.descricao-rosto-over{	display:block !important; }
div#feminino-rosto-triangular:hover p.descricao-rosto-over{	display:block !important; }
div#feminino-rosto-oval:hover p.descricao-rosto-over{	display:block !important; }

#white-block-masculino {
	display:none;
	z-index: 9999;
	position: relative;
	height:580px;
	background:#fff;
}

#white-block-feminino {
	display:none;
	z-index: 9999;
	position: relative;
	height:580px;
	background:#fff;
}

#white-block-qualidades {
	display:none;
	z-index: 9999;
	position: relative;
	height:350px;
	background:#fff;
}

p.subtitulo-perfil {
	font-family: 'grotesque-ultralight';
	font-size:24px;
	position: absolute;
	left:10px;
	bottom:0;
	background:#fff;
	opacity: 0.9;
	color:#000;
	text-align: left;
	padding:10px;
	display: inline-block;
}

#perfil-masculino {
	display:none;
	margin-top: 20px;
	margin-bottom:70px;
}

#perfil-masculino div.col-md-6 {
	border:1px solid #fff;
	padding:0;
	margin:0;
}

#perfil-masculino-esportista img.normal { display:block; }
#perfil-masculino-esportista img.over { display:none; }
#perfil-masculino-esportista:hover img.normal { display:none !important; }
#perfil-masculino-esportista:hover img.over { display:block !important; cursor:pointer !important; }

#perfil-masculino-cosmopolita img.normal {	display:block; }
#perfil-masculino-cosmopolita img.over { display:none; }
#perfil-masculino-cosmopolita:hover img.normal { display:none !important; }
#perfil-masculino-cosmopolita:hover img.over { display:block !important; cursor:pointer !important; }

#perfil-masculino-sofisticado img.normal {	display:block; }
#perfil-masculino-sofisticado img.over { display:none; }
#perfil-masculino-sofisticado:hover img.normal { display:none !important; }
#perfil-masculino-sofisticado:hover img.over { display:block !important; cursor:pointer !important; }

#perfil-masculino-kids img.normal {	display:block; }
#perfil-masculino-kids img.over { display:none; }
#perfil-masculino-kids:hover img.normal { display:none !important; }
#perfil-masculino-kids:hover img.over { display:block !important; cursor:pointer !important; }


#perfil-feminino {
	display:none;
	margin-top: 20px;
	margin-bottom:70px;
}

#perfil-feminino div.col-md-6 {
	border:1px solid #fff;
	padding:0;
	margin:0;
}

#perfil-feminino-esportista img.normal { display:block; }
#perfil-feminino-esportista img.over { display:none; }
#perfil-feminino-esportista:hover img.normal { display:none !important; }
#perfil-feminino-esportista:hover img.over { display:block !important; cursor:pointer !important; }

#perfil-feminino-cosmopolita img.normal {	display:block; }
#perfil-feminino-cosmopolita img.over { display:none; }
#perfil-feminino-cosmopolita:hover img.normal { display:none !important; }
#perfil-feminino-cosmopolita:hover img.over { display:block !important; cursor:pointer !important; }

#perfil-feminino-sofisticado img.normal {	display:block; }
#perfil-feminino-sofisticado img.over { display:none; }
#perfil-feminino-sofisticado:hover img.normal { display:none !important; }
#perfil-feminino-sofisticado:hover img.over { display:block !important; cursor:pointer !important; }

#perfil-feminino-kids img.normal {	display:block; }
#perfil-feminino-kids img.over { display:none; }
#perfil-feminino-kids:hover img.normal { display:none !important; }
#perfil-feminino-kids:hover img.over { display:block !important; cursor:pointer !important; }



#guia-qualidades {
	display: none;
	margin-top:30px;
	padding:0;
}

#lista-qualidades-1 { list-style: none; margin-top:40px; margin-left:5%; }
#lista-qualidades-1 li.show-item-qualidade { display: inline !important; float:left !important; margin:5px !important; max-width: 160px !important; max-height: 160px !important; }
#lista-qualidades-1 li.hide-item-qualidade { display: inline !important; float:left !important; margin:5px !important; max-width: 160px !important; max-height: 160px !important; }
#lista-qualidades-1 li.show-item-qualidade:hover { cursor:pointer !important; }
#lista-qualidades-1 li.hide-item-qualidade:hover { cursor:pointer !important; }

li#item-1 img.normal{ display: block; }
li#item-1 img.over{ display:none; }
li#item-1:hover img.over { display:block; }
li#item-1:hover img.normal { display:none; }

li#item-2 img.normal{ display: block; }
li#item-2 img.over{ display:none; }
li#item-2:hover img.over { display:block; }
li#item-2:hover img.normal { display:none; }

li#item-3 img.normal{ display: block; }
li#item-3 img.over{ display:none; }
li#item-3:hover img.over { display:block; }
li#item-3:hover img.normal { display:none; }

li#item-4 img.normal{ display: block; }
li#item-4 img.over{ display:none; }
li#item-4:hover img.over { display:block; }
li#item-4:hover img.normal { display:none; }

li#item-5 img.normal{ display: block; }
li#item-5 img.over{ display:none; }
li#item-5:hover img.over { display:block; }
li#item-5:hover img.normal { display:none; }

#botao-final {
	text-align: center;
	display:none;
	margin-bottom: 30px;
}

.botao-encontre {
	width:auto;
	padding:10px;
	font-family: 'grotesque-ultralight';
	font-size: 20px;
	color:#FFF;
	background:#77A403;
	text-align: center;
	margin:auto;
	text-transform: uppercase;
}

@media (max-width: 480px){


}

@media (max-width: 767px){

}

@media (max-width: 991px){

}