body.about-harrys-open{padding-top:184px}

header{	-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;position:fixed;top:0;left:0;z-index:1;width:100%;height:64px;padding:0 40px 0 30px;border-bottom:1px solid #C7C7C7;background:white;text-align:center;font-family:"Brandon Grotesque","brandon-grotesque","Helvetica","Arial",sans-serif}

header .table{position:relative;height:100%}

header .logo{position:absolute;top:0;left:30px;z-index:2;width:115px}

header .logo a{display:block;height:20px;-webkit-transition:opacity 0.25s;-moz-transition:opacity 0.25s;-ms-transition:opacity 0.25s;-o-transition:opacity 0.25s;transition:opacity 0.25s}

header .logo a:hover{opacity:0.8}

header .logo a img{max-height:100%}

header .anchor{
	position:relative;
	display:inline-block;
	font-size:13px;
	font-weight:600;
	letter-spacing:0.1em;
	text-transform:uppercase;
	line-height:1em;
	color:#868485;
	cursor:pointer;
	-webkit-transition:color 0.25s ease;
	-moz-transition:color 0.25s ease;
	-ms-transition:color 0.25s ease;
	-o-transition:color 0.25s ease;
	transition:color 0.25s ease
}

header .anchor:hover,header .anchor.active:hover{color:#5f899e}

header .anchor.active{color:#0a4d6d}

header .primary-links{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;padding-left:115px;padding-right:260px;-webkit-transition:padding 0.25s ease;-moz-transition:padding 0.25s ease;-ms-transition:padding 0.25s ease;-o-transition:padding 0.25s ease;transition:padding 0.25s ease}

@media (max-width: 1100px){header .primary-links{padding-right:230px}

}

header .primary-links nav{position:relative;text-align:center}

header .primary-links nav .anchor{margin:0 30px;-webkit-transition:margin 0.25s ease;-moz-transition:margin 0.25s ease;-ms-transition:margin 0.25s ease;-o-transition:margin 0.25s ease;transition:margin 0.25s ease}

@media (max-width: 1100px){header .primary-links nav .anchor{margin:0 20px}

}

header .primary-links nav .slide-trigger i.side-arrow{display:inline-block;position:relative;left:8px;bottom:1px;width:10px;height:7px;background:url(https://harrys.exceda.com/assets/header/icons/arrow2x-8f3ac9f0f134e3dd0fb1eae3a48c85d7.png) no-repeat;background-size:10px 21px;-webkit-transition:-webkit-transform 0.25s ease;-moz-transition:-moz-transform 0.25s ease;-ms-transition:-ms-transform 0.25s ease;-o-transition:-o-transform 0.25s ease;-webkit-transition:transform 0.25s ease;-moz-transition:transform 0.25s ease;-ms-transition:transform 0.25s ease;-o-transition:transform 0.25s ease;transition:transform 0.25s ease}

header .primary-links nav .slide-trigger i.side-arrow.flipped{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);filter:FlipV;-ms-filter:"FlipV"}

header .primary-links nav .slide-trigger:hover i.side-arrow,header .primary-links nav .slide-trigger.active:hover i.side-arrow{background-position:0 -7px}

header .primary-links nav .slide-trigger.active i.side-arrow{background-position:0 -14px}

header .primary-links nav .help{position:absolute;top:6px;right:0;margin:0}

header .secondary-links{position:absolute;top:0;right:40px;z-index:2;padding-left:61px}

@media (max-width: 1100px){header .secondary-links .profile{margin-right:30px}

}

header .about-harrys{
	position:absolute;
	top:100%;
	left:0;
	width:100%;
	height:0;
	overflow:hidden;
	-webkit-transition:height 0.25s ease;
	-moz-transition:height 0.25s ease;
	-ms-transition:height 0.25s ease;
	-o-transition:height 0.25s ease;
	transition:height 0.25s ease;
	background-color:#263645;
	text-align:center
}

header .about-harrys.open{height:120px}

header .about-harrys .about-link{display:inline-block;margin:33px 28px 0;font-size:13px;font-weight:500;text-transform:uppercase;letter-spacing:.14em;color:white;-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none}

header .about-harrys .about-link:hover{color:#698AA9}

header .about-harrys .about-link span{position:relative;margin-top:5px}

header .about-harrys .about-link i.header-icon{display:inline-block}

header .about-harrys .about-link i.header-icon.our-story{width:25px;height:20px;background:url(https://harrys.exceda.com/assets/header/icons/our-story2x-5db716a442d56ee91f509fa8eb5a9b13.png) no-repeat;background-size:25px 38px}

header .about-harrys .about-link:hover i.our-story{background-position:0 -20px}

header .about-harrys .about-link i.header-icon.our-factory{width:25px;height:18px;background:url(https://harrys.exceda.com/assets/header/icons/our-factory2x-2aad222653709b40a988e46fa8a87fd9.png) no-repeat;background-size:25px 35px}

header .about-harrys .about-link:hover i.our-factory{background-position:0 -18px}

header .about-harrys .about-link i.header-icon.give-a-shave{width:32px;height:23px;background:url(https://harrys.exceda.com/assets/header/icons/give-a-shave2x-4d9f8da46a8b18df4120a149e60771e2.png) no-repeat;background-size:32px 46px}

header .about-harrys .about-link:hover i.give-a-shave{background-position:0 -23px}

header .about-harrys .about-link i.header-icon.magazine{width:24px;height:24px;background:url(https://harrys.exceda.com/assets/header/icons/magazine2x-e3b0cc27a5cfa464d5eee92a54264c6f.png) no-repeat;background-size:24px 47px}

header .about-harrys .about-link:hover i.magazine{background-position:0 -24px}

header .about-harrys .about-link i.header-icon.cornershop{width:28px;height:20px;background:url(https://harrys.exceda.com/assets/header/icons/cornershop2x-565f4bff7f239a78567c36656506daef.png) no-repeat;background-size:25px 40px}

header .about-harrys .about-link:hover i.cornershop{background-position:0 -21px}