.visible-print {
  display: block !important;
}
tr.visible-print {
  display: table-row !important;
}
th.visible-print,
td.visible-print {
  display: table-cell !important;
}
.hidden-print {
  display: none !important;
}
tr.hidden-print {
  display: none !important;
}
th.hidden-print,
td.hidden-print {
  display: none !important;
}

table.table-striped{
  background:none !important;
  border:none !important;
}

div.subnavbar {
  border:0 !important;
  box-shadow: 0 !important;
  -webkit-box-shadow: 0 !important;
}
  
div.subnavbar-inner{
  box-shadow: 0 !important;
  -webkit-box-shadow: 0 !important;

}

div.container {
  border:0 !important;
    box-shadow: 0 !important;
  -webkit-box-shadow: 0 !important;
}

div.navbar {
  border:0 !important;
    box-shadow: 0 !important;
  -webkit-box-shadow: 0 !important;
}

div.navbar-inner {
  border:0 !important;
  padding:0 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}


div.nav-collapse {
  border:0 !important;
}

ul {
  border:0 !important;
}


table.table-bordered{
	/*border-spacing: 2px;*/
  background:none !important;
  border:none !important;
  border-radius:0 !important;
}

table th{
  border:1px solid #ccc !important;
 border-radius:0 !important;
}

table tr{
border:1px solid #ccc !important;
border-radius:0 !important;
}

table td{
border:1px solid #ccc !important;
border-radius:0 !important;
border-collapse: collapse !important;
}

.pagination {
  display:none;
}